services/ai-insight-ui/flows/tabs/2-LLM-Router.json
[
    {
        "id": "tab-llm-router",
        "type": "tab",
        "label": "LLM Router",
        "disabled": false,
        "info": "Routes freeform questions to selected LLM provider (OpenAI, Claude, Custom)"
    },
    {
        "id": "link-from-ui-llm",
        "type": "link in",
        "z": "tab-llm-router",
        "name": "← From UI (LLM Freeform)",
        "links": ["link-to-llm-router"],
        "x": 135,
        "y": 200,
        "wires": [["fetch-trino-context"]]
    },
    {
        "id": "fetch-trino-context",
        "type": "function",
        "z": "tab-llm-router",
        "name": "Prepare Trino Context Request",
        "func": "// Store original message for later\nmsg.originalLLMRequest = {\n    userQuestion: msg.data?.recordDetails?.userQuestion,\n    selectedProvider: msg.data?.recordDetails?.selectedProvider || 'openai',\n    conversationContext: msg.data?.recordDetails?.conversationContext || [],\n    session: msg.data?.session,\n    params: msg.data?.recordDetails?.params || {}\n};\n\n// Build Trino context query\nconst params = msg.originalLLMRequest.params;\nconst startTs = params.start_ts || new Date(Date.now() - 7*24*60*60*1000).toISOString();\nconst endTs = params.end_ts || new Date().toISOString();\n\n// Keycloak token request\nconst tokenUrl = env.get('FACIS_KEYCLOAK_URL') || 'https://identity.facis.cloud/realms/facis/protocol/openid-connect/token';\nconst clientId = env.get('FACIS_OIDC_CLIENT_ID') || 'trino';\nconst clientSecret = env.get('FACIS_OIDC_CLIENT_SECRET') || '';\nconst username = env.get('FACIS_TRINO_USER') || 'admin';\nconst password = env.get('FACIS_TRINO_PASSWORD') || '';\n\nmsg.url = tokenUrl;\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/x-www-form-urlencoded' };\nmsg.payload = `grant_type=password&client_id=${clientId}&client_secret=${clientSecret}&username=${username}&password=${password}&scope=openid`;\n\nmsg.trinoQuery = {\n    startTs: startTs,\n    endTs: endTs\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 200,
        "wires": [["keycloak-token-request"]]
    },
    {
        "id": "keycloak-token-request",
        "type": "http request",
        "z": "tab-llm-router",
        "name": "Keycloak Token",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "x": 640,
        "y": 200,
        "wires": [["build-trino-sql"]]
    },
    {
        "id": "build-trino-sql",
        "type": "function",
        "z": "tab-llm-router",
        "name": "Build Trino SQL Query",
        "func": "const token = msg.payload?.access_token;\nif (!token) {\n    node.warn('Failed to get Keycloak token, proceeding without Trino context');\n    msg.trinoContext = { error: 'No Trino context available (auth failed)' };\n    return [null, msg]; // Skip Trino, go to LLM directly\n}\n\nconst trinoHost = env.get('FACIS_TRINO_HOST') || '212.132.83.150';\nconst trinoPort = env.get('FACIS_TRINO_PORT') || '8443';\nconst startTs = msg.trinoQuery?.startTs;\nconst endTs = msg.trinoQuery?.endTs;\n\n// Query recent Gold Layer data for context\nconst sql = `SELECT \\n    hour,\\n    avg_consumption_kw,\\n    avg_generation_kw,\\n    net_grid_kw,\\n    estimated_hourly_cost_eur\\nFROM gold.net_grid_hourly\\nWHERE hour >= from_iso8601_timestamp('${startTs}')\\n  AND hour < from_iso8601_timestamp('${endTs}')\\nORDER BY hour DESC\\nLIMIT 48`;\n\nmsg.url = `https://${trinoHost}:${trinoPort}/v1/statement`;\nmsg.method = 'POST';\nmsg.headers = {\n    'Authorization': 'Bearer ' + token,\n    'Content-Type': 'text/plain',\n    'X-Trino-User': env.get('FACIS_TRINO_USER') || 'admin',\n    'X-Trino-Catalog': 'hive',\n    'X-Trino-Schema': 'default'\n};\nmsg.payload = sql;\nmsg.trinoToken = token;\n\nreturn [msg, null];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 200,
        "wires": [["trino-query-request"], ["build-llm-prompt"]]
    },
    {
        "id": "trino-query-request",
        "type": "http request",
        "z": "tab-llm-router",
        "name": "Trino Query",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "x": 1050,
        "y": 160,
        "wires": [["parse-trino-response"]]
    },
    {
        "id": "parse-trino-response",
        "type": "function",
        "z": "tab-llm-router",
        "name": "Parse Trino Response",
        "func": "// Extract data from Trino REST API response\nconst data = msg.payload;\nlet contextData = [];\n\ntry {\n    if (data && data.data) {\n        const columns = data.columns || [];\n        const colNames = columns.map(c => c.name);\n        contextData = data.data.map(row => {\n            let obj = {};\n            row.forEach((val, i) => {\n                obj[colNames[i] || 'col_' + i] = val;\n            });\n            return obj;\n        });\n    }\n} catch(e) {\n    node.warn('Trino parse error: ' + e.message);\n}\n\nmsg.trinoContext = {\n    dataPoints: contextData.length,\n    recentData: contextData.slice(0, 24),\n    summary: contextData.length > 0 ? {\n        latestHour: contextData[0]?.hour || 'unknown',\n        avgNetGrid: contextData.length > 0 \n            ? (contextData.reduce((s, r) => s + (parseFloat(r.net_grid_kw) || 0), 0) / contextData.length).toFixed(2) \n            : 'N/A',\n        avgCost: contextData.length > 0 \n            ? (contextData.reduce((s, r) => s + (parseFloat(r.estimated_hourly_cost_eur) || 0), 0) / contextData.length).toFixed(2) \n            : 'N/A'\n    } : { note: 'No data available for the selected time range' }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 160,
        "wires": [["build-llm-prompt"]]
    },
    {
        "id": "build-llm-prompt",
        "type": "function",
        "z": "tab-llm-router",
        "name": "Build LLM Prompt",
        "func": "const req = msg.originalLLMRequest;\nconst context = msg.trinoContext || { note: 'No data context available' };\n\nconst systemPrompt = `You are the FACIS AI Insight Assistant for IoT and Smart City data analysis.\\n\\nYou have access to the following Gold Layer data context from the FACIS Lakehouse:\\n${JSON.stringify(context, null, 2)}\\n\\nAvailable data sources:\\n- Energy: hourly grid consumption/generation, daily costs, PV self-consumption\\n- Smart City: streetlight zones, traffic patterns, city events, weather\\n- Anomalies: statistical outlier candidates\\n\\nGuidelines:\\n- Base your answers ONLY on the provided data context\\n- If data is insufficient, say so explicitly\\n- Provide specific numbers, timestamps, and metrics when available\\n- Format responses with clear sections using Markdown\\n- Keep responses concise but informative\\n- Do not invent data points not present in the context`;\n\n// Build messages array\nconst messages = [];\n\n// Add conversation context for follow-ups\nif (req.conversationContext && req.conversationContext.length > 0) {\n    req.conversationContext.forEach(cm => {\n        messages.push({ role: cm.role, content: cm.content });\n    });\n}\n\n// Add current question\nmessages.push({ role: 'user', content: req.userQuestion });\n\nmsg.llmMessages = messages;\nmsg.llmSystemPrompt = systemPrompt;\nmsg.selectedProvider = req.selectedProvider || 'openai';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [["switch-llm-provider"]]
    },
    {
        "id": "switch-llm-provider",
        "type": "switch",
        "z": "tab-llm-router",
        "name": "Select LLM Provider",
        "property": "selectedProvider",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "openai", "vt": "str" },
            { "t": "eq", "v": "claude", "vt": "str" },
            { "t": "else" }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 640,
        "y": 360,
        "wires": [
            ["prep-openai"],
            ["prep-claude"],
            ["prep-custom"]
        ]
    },
    {
        "id": "prep-openai",
        "type": "function",
        "z": "tab-llm-router",
        "name": "Prepare OpenAI Request",
        "func": "const apiKey = env.get('FACIS_OPENAI_API_KEY') || '';\nconst model = env.get('FACIS_OPENAI_MODEL') || 'gpt-4.1-mini';\n\nif (!apiKey) {\n    msg.data = {\n        topic: 'error',\n        recordDetails: { message: 'OpenAI API key not configured' }\n    };\n    msg._socketId = msg.originalLLMRequest?.session?._socketId;\n    return msg;\n}\n\nmsg.url = 'https://api.openai.com/v1/chat/completions';\nmsg.method = 'POST';\nmsg.headers = {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    model: model,\n    messages: [\n        { role: 'system', content: msg.llmSystemPrompt },\n        ...msg.llmMessages\n    ],\n    temperature: 0.3,\n    max_tokens: 2048\n};\nmsg.selectedModel = model;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 320,
        "wires": [["llm-http-request"]]
    },
    {
        "id": "prep-claude",
        "type": "function",
        "z": "tab-llm-router",
        "name": "Prepare Claude Request",
        "func": "const apiKey = env.get('FACIS_ANTHROPIC_API_KEY') || '';\nconst model = env.get('FACIS_ANTHROPIC_MODEL') || 'claude-sonnet-4-20250514';\n\nif (!apiKey) {\n    msg.data = {\n        topic: 'error',\n        recordDetails: { message: 'Anthropic API key not configured' }\n    };\n    msg._socketId = msg.originalLLMRequest?.session?._socketId;\n    return msg;\n}\n\nmsg.url = 'https://api.anthropic.com/v1/messages';\nmsg.method = 'POST';\nmsg.headers = {\n    'x-api-key': apiKey,\n    'anthropic-version': '2023-06-01',\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    model: model,\n    max_tokens: 2048,\n    system: msg.llmSystemPrompt,\n    messages: msg.llmMessages\n};\nmsg.selectedModel = model;\nmsg.selectedProvider = 'claude';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 360,
        "wires": [["llm-http-request"]]
    },
    {
        "id": "prep-custom",
        "type": "function",
        "z": "tab-llm-router",
        "name": "Prepare Custom LLM Request",
        "func": "const apiKey = env.get('FACIS_CUSTOM_LLM_KEY') || '';\nconst url = env.get('FACIS_CUSTOM_LLM_URL') || '';\nconst model = env.get('FACIS_CUSTOM_LLM_MODEL') || 'custom';\n\nif (!url) {\n    msg.data = {\n        topic: 'error',\n        recordDetails: { message: 'Custom LLM URL not configured' }\n    };\n    msg._socketId = msg.originalLLMRequest?.session?._socketId;\n    return msg;\n}\n\nmsg.url = url;\nmsg.method = 'POST';\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nif (apiKey) {\n    msg.headers['Authorization'] = 'Bearer ' + apiKey;\n}\n\n// Use OpenAI-compatible format\nmsg.payload = {\n    model: model,\n    messages: [\n        { role: 'system', content: msg.llmSystemPrompt },\n        ...msg.llmMessages\n    ],\n    temperature: 0.3,\n    max_tokens: 2048\n};\nmsg.selectedModel = model;\nmsg.selectedProvider = 'custom';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [["llm-http-request"]]
    },
    {
        "id": "llm-http-request",
        "type": "http request",
        "z": "tab-llm-router",
        "name": "LLM API Call",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "x": 1110,
        "y": 360,
        "wires": [["normalize-llm-response"]]
    },
    {
        "id": "normalize-llm-response",
        "type": "function",
        "z": "tab-llm-router",
        "name": "Normalize LLM Response",
        "func": "const provider = msg.selectedProvider || 'openai';\nconst statusCode = msg.statusCode;\nlet text = '';\n\n// Handle HTTP errors\nif (statusCode >= 400 || !msg.payload) {\n    const errMsg = msg.payload?.error?.message || msg.payload?.detail || 'LLM request failed with status ' + statusCode;\n    msg.data = {\n        topic: 'error',\n        recordDetails: {\n            message: 'LLM Error (' + provider + '): ' + errMsg\n        }\n    };\n    msg._socketId = msg.originalLLMRequest?.session?._socketId;\n    return msg;\n}\n\n// Extract text based on provider response format\ntry {\n    if (provider === 'claude') {\n        // Anthropic format: { content: [{ type: 'text', text: '...' }] }\n        const content = msg.payload?.content;\n        if (Array.isArray(content) && content.length > 0) {\n            text = content.filter(c => c.type === 'text').map(c => c.text).join('\\n');\n        }\n    } else {\n        // OpenAI format: { choices: [{ message: { content: '...' } }] }\n        text = msg.payload?.choices?.[0]?.message?.content || '';\n    }\n} catch(e) {\n    text = 'Failed to parse LLM response: ' + e.message;\n}\n\nif (!text) {\n    text = 'The AI provider returned an empty response.';\n}\n\nmsg.data = {\n    topic: 'llm.response',\n    recordDetails: {\n        response: {\n            text: text,\n            provider: provider,\n            model: msg.selectedModel || 'unknown',\n            timestamp: new Date().toISOString()\n        }\n    }\n};\nmsg._socketId = msg.originalLLMRequest?.session?._socketId;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 360,
        "wires": [["link-response-llm"]]
    },
    {
        "id": "link-response-llm",
        "type": "link out",
        "z": "tab-llm-router",
        "name": "→ Response to UI (LLM)",
        "mode": "link",
        "links": ["link-from-response"],
        "x": 1535,
        "y": 360,
        "wires": []
    }
]
