services/ai-insight-ui/flows/tabs/3-Trino-Query.json
[
    {
        "id": "tab-trino-query",
        "type": "tab",
        "label": "Trino Query",
        "disabled": false,
        "info": "Direct Gold Layer queries for KPI data and standalone data retrieval"
    },
    {
        "id": "link-from-ui-trino",
        "type": "link in",
        "z": "tab-trino-query",
        "name": "← From UI (Trino)",
        "links": ["link-to-trino-query"],
        "x": 135,
        "y": 180,
        "wires": [["prepare-trino-auth"]]
    },
    {
        "id": "prepare-trino-auth",
        "type": "function",
        "z": "tab-trino-query",
        "name": "Prepare Trino Auth",
        "func": "// Store original request\nmsg.originalTrinoRequest = msg.data;\n\n// Build Keycloak token request\nconst tokenUrl = env.get('FACIS_KEYCLOAK_URL') || 'https://identity.facis.cloud/realms/facis/protocol/openid-connect/token';\nconst clientId = env.get('FACIS_OIDC_CLIENT_ID') || 'trino';\nconst clientSecret = env.get('FACIS_OIDC_CLIENT_SECRET') || '';\nconst username = env.get('FACIS_TRINO_USER') || 'admin';\nconst password = env.get('FACIS_TRINO_PASSWORD') || '';\n\nmsg.url = tokenUrl;\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/x-www-form-urlencoded' };\nmsg.payload = `grant_type=password&client_id=${clientId}&client_secret=${clientSecret}&username=${username}&password=${password}&scope=openid`;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [["trino-token-fetch"]]
    },
    {
        "id": "trino-token-fetch",
        "type": "http request",
        "z": "tab-trino-query",
        "name": "Keycloak Token",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "x": 590,
        "y": 180,
        "wires": [["execute-trino-sql"]]
    },
    {
        "id": "execute-trino-sql",
        "type": "function",
        "z": "tab-trino-query",
        "name": "Execute Trino SQL",
        "func": "const token = msg.payload?.access_token;\nif (!token) {\n    msg.data = {\n        topic: 'error',\n        recordDetails: { message: 'Failed to authenticate with Keycloak for Trino access' }\n    };\n    msg._socketId = msg.originalTrinoRequest?.session?._socketId;\n    return msg;\n}\n\nconst trinoHost = env.get('FACIS_TRINO_HOST') || '212.132.83.150';\nconst trinoPort = env.get('FACIS_TRINO_PORT') || '8443';\nconst queryType = msg.originalTrinoRequest?.recordDetails?.queryType || 'kpi-summary';\nconst params = msg.originalTrinoRequest?.recordDetails?.params || {};\nconst startTs = params.start_ts || new Date(Date.now() - 7*24*60*60*1000).toISOString();\nconst endTs = params.end_ts || new Date().toISOString();\n\nlet sql = '';\nswitch(queryType) {\n    case 'kpi-summary':\n        sql = `SELECT \\n            AVG(net_grid_kw) as avg_net_grid,\\n            AVG(avg_generation_kw) as avg_pv_generation,\\n            SUM(estimated_hourly_cost_eur) as total_cost\\n        FROM gold.net_grid_hourly\\n        WHERE hour >= from_iso8601_timestamp('${startTs}')\\n          AND hour < from_iso8601_timestamp('${endTs}')`;\n        break;\n    default:\n        sql = msg.originalTrinoRequest?.recordDetails?.sql || 'SELECT 1';\n}\n\nmsg.url = `https://${trinoHost}:${trinoPort}/v1/statement`;\nmsg.method = 'POST';\nmsg.headers = {\n    'Authorization': 'Bearer ' + token,\n    'Content-Type': 'text/plain',\n    'X-Trino-User': env.get('FACIS_TRINO_USER') || 'admin',\n    'X-Trino-Catalog': 'hive',\n    'X-Trino-Schema': 'default'\n};\nmsg.payload = sql;\nmsg.trinoQueryType = queryType;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 180,
        "wires": [["trino-sql-execute"]]
    },
    {
        "id": "trino-sql-execute",
        "type": "http request",
        "z": "tab-trino-query",
        "name": "Trino REST API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "x": 1020,
        "y": 180,
        "wires": [["format-trino-result"]]
    },
    {
        "id": "format-trino-result",
        "type": "function",
        "z": "tab-trino-query",
        "name": "Format Trino Result",
        "func": "const queryType = msg.trinoQueryType;\nconst data = msg.payload;\n\nif (msg.statusCode >= 400 || !data) {\n    msg.data = {\n        topic: 'error',\n        recordDetails: { message: 'Trino query failed' }\n    };\n    msg._socketId = msg.originalTrinoRequest?.session?._socketId;\n    return msg;\n}\n\nlet result = {};\ntry {\n    if (data.data && data.columns) {\n        const cols = data.columns.map(c => c.name);\n        const rows = data.data.map(row => {\n            let obj = {};\n            row.forEach((v, i) => { obj[cols[i]] = v; });\n            return obj;\n        });\n        result = rows;\n    }\n} catch(e) {\n    result = { error: e.message };\n}\n\nif (queryType === 'kpi-summary' && Array.isArray(result) && result.length > 0) {\n    const row = result[0];\n    msg.data = {\n        topic: 'kpi.update',\n        recordDetails: {\n            netGrid: row.avg_net_grid,\n            pvGeneration: row.avg_pv_generation,\n            dailyCost: row.total_cost\n        }\n    };\n} else {\n    msg.data = {\n        topic: 'trino.result',\n        recordDetails: { data: result }\n    };\n}\n\nmsg._socketId = msg.originalTrinoRequest?.session?._socketId;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 180,
        "wires": [["link-response-trino"]]
    },
    {
        "id": "link-response-trino",
        "type": "link out",
        "z": "tab-trino-query",
        "name": "→ Response to UI (Trino)",
        "mode": "link",
        "links": ["link-from-response"],
        "x": 1455,
        "y": 180,
        "wires": []
    }
]
