services/simulation/orce/flows/facis-simulation-controls.json
[
    {
        "id": "facis-sim-ctrl-flow",
        "type": "tab",
        "label": "Simulation Controls",
        "disabled": false,
        "info": "Start/Stop controls for the FACIS Simulation Service.\n\nButtons:\n- START: Scales simulation deployment to 1 replica (auto-starts ticks)\n- STOP: Scales simulation deployment to 0 replicas\n- STATUS: Queries simulation status via REST API\n\nThe simulation service sends tick envelopes to the 'FACIS Simulation → Kafka' flow tab."
    },
    {
        "id": "ctrl-comment",
        "type": "comment",
        "z": "facis-sim-ctrl-flow",
        "name": "Simulation Controls — Click the inject buttons to start/stop ticks",
        "info": "START: scales the simulation pod to 1 replica, auto-sends ticks to ORCE then Kafka\nSTOP: scales the simulation pod to 0, ticks stop\nSTATUS: queries the simulation REST API\n\nThe simulation auto-starts on boot at 60x speed (1 hour of data per real minute).",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "btn-start",
        "type": "inject",
        "z": "facis-sim-ctrl-flow",
        "name": "START Simulation",
        "props": [
            { "p": "replicas", "v": "1", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [["scale-sim"]]
    },
    {
        "id": "btn-stop",
        "type": "inject",
        "z": "facis-sim-ctrl-flow",
        "name": "STOP Simulation",
        "props": [
            { "p": "replicas", "v": "0", "vt": "num" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [["scale-sim"]]
    },
    {
        "id": "scale-sim",
        "type": "function",
        "z": "facis-sim-ctrl-flow",
        "name": "Scale deployment",
        "func": "const token = fs.readFileSync('/var/run/secrets/kubernetes.io/serviceaccount/token', 'utf8').trim();\nconst replicas = msg.replicas || 0;\n\nmsg.url = 'https://kubernetes.default.svc/apis/apps/v1/namespaces/orce/deployments/simulation/scale';\nmsg.method = 'PATCH';\nmsg.headers = {\n    'Content-Type': 'application/strategic-merge-patch+json',\n    'Authorization': 'Bearer ' + token\n};\nmsg.payload = { spec: { replicas: replicas } };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            { "var": "fs", "module": "fs" }
        ],
        "x": 370,
        "y": 180,
        "wires": [["k8s-request"]]
    },
    {
        "id": "k8s-request",
        "type": "http request",
        "z": "facis-sim-ctrl-flow",
        "name": "K8s API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "k8s-tls-config",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 180,
        "wires": [["format-k8s-response"]]
    },
    {
        "id": "k8s-tls-config",
        "type": "tls-config",
        "name": "K8s In-Cluster TLS",
        "cert": "",
        "key": "",
        "ca": "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "format-k8s-response",
        "type": "function",
        "z": "facis-sim-ctrl-flow",
        "name": "Format Response",
        "func": "const sc = msg.statusCode;\nconst body = msg.payload;\n\nif (sc >= 200 && sc < 300) {\n    const replicas = body.spec ? body.spec.replicas : '?';\n    msg.payload = 'Simulation scaled to ' + replicas + ' replica(s)';\n    node.status({ fill: 'green', shape: 'dot', text: 'replicas: ' + replicas });\n} else {\n    msg.payload = 'K8s error (' + sc + '): ' + JSON.stringify(body).substring(0, 200);\n    node.status({ fill: 'red', shape: 'ring', text: 'error: ' + sc });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 180,
        "wires": [["debug-ctrl"]]
    },
    {
        "id": "btn-status",
        "type": "inject",
        "z": "facis-sim-ctrl-flow",
        "name": "Simulation STATUS",
        "props": [
            { "p": "action", "v": "status", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [["get-status"]]
    },
    {
        "id": "get-status",
        "type": "http request",
        "z": "facis-sim-ctrl-flow",
        "name": "GET /simulation/status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://simulation.orce.svc.cluster.local:8080/api/v1/simulation/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 320,
        "wires": [["format-status"]]
    },
    {
        "id": "format-status",
        "type": "function",
        "z": "facis-sim-ctrl-flow",
        "name": "Format Status",
        "func": "const sc = msg.statusCode;\nif (sc >= 200 && sc < 300) {\n    const s = msg.payload;\n    msg.payload = 'State: ' + s.state + ' | Time: ' + s.simulation_time + ' | Speed: ' + s.acceleration + 'x | Entities: ' + s.registered_entities;\n    node.status({ fill: 'green', shape: 'dot', text: s.state });\n} else {\n    msg.payload = 'Simulation not reachable (pod may be scaled to 0)';\n    node.status({ fill: 'yellow', shape: 'ring', text: 'unreachable' });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [["debug-ctrl"]]
    },
    {
        "id": "debug-ctrl",
        "type": "debug",
        "z": "facis-sim-ctrl-flow",
        "name": "Control Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "ctrl-tick-counter",
        "type": "comment",
        "z": "facis-sim-ctrl-flow",
        "name": "Tick counter shown on 'FACIS Simulation to Kafka' tab debug sidebar",
        "info": "The Kafka flow tab counts each tick it receives.\nCheck: flow.get('tick_count') in the validate-schema function node.",
        "x": 350,
        "y": 400,
        "wires": []
    }
]
