services/simulation/orce/flows/facis-simulation-cluster.json
[
    {
        "id": "facis-sim-flow",
        "type": "tab",
        "label": "FACIS Simulation → Kafka",
        "disabled": false,
        "info": "Receives simulation tick envelopes via HTTP POST, validates schema, splits by feed type, and publishes each feed to its respective Kafka topic.\n\nPrerequisite: npm install node-red-contrib-rdkafka\n\nEndpoint: POST /api/sim/tick\n\nTopics:\n- sim.smart_energy.meter\n- sim.smart_energy.pv\n- sim.smart_energy.weather\n- sim.smart_energy.price\n- sim.smart_energy.consumer\n- sim.smart_city.light\n- sim.smart_city.traffic\n- sim.smart_city.event\n- sim.smart_city.weather"
    },
    {
        "id": "kafka-broker-config",
        "type": "kafka-broker",
        "name": "FACIS Kafka Cluster",
        "broker": "kafka-broker-default-0.kafka-broker-default-headless.stackable.svc.cluster.local:9093",
        "clientid": "facis-orce",
        "securityProtocol": "ssl",
        "sslCaLocation": "/etc/kafka-certs/ca.crt",
        "sslCertLocation": "/etc/kafka-certs/tls.crt",
        "sslKeyLocation": "/etc/kafka-certs/tls.key"
    },
    {
        "id": "http-in-tick",
        "type": "http in",
        "z": "facis-sim-flow",
        "name": "POST /api/sim/tick",
        "url": "/api/sim/tick",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [["validate-schema"]]
    },
    {
        "id": "validate-schema",
        "type": "function",
        "z": "facis-sim-flow",
        "name": "Validate Schema",
        "func": "const p = msg.payload;\n\nconst required = ['type', 'schema_version', 'timestamp', 'site_id', 'smart_energy', 'smart_city'];\nconst missing = required.filter(f => p[f] === undefined);\n\nif (missing.length > 0) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Missing fields: ' + missing.join(', ') };\n    return [null, msg];\n}\n\nif (p.type !== 'sim.tick') {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid type: ' + p.type + ', expected sim.tick' };\n    return [null, msg];\n}\n\nflow.set('last_tick', p.timestamp);\nflow.set('tick_count', (flow.get('tick_count') || 0) + 1);\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [["split-feeds"], ["http-response-error"]]
    },
    {
        "id": "http-response-error",
        "type": "http response",
        "z": "facis-sim-flow",
        "name": "400 Error",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "split-feeds",
        "type": "function",
        "z": "facis-sim-flow",
        "name": "Split Feeds",
        "func": "const envelope = msg.payload;\nconst ts = envelope.timestamp;\nconst siteId = envelope.site_id;\n\nconst msgs = [];\n\nconst meters = envelope.smart_energy.meters || [];\nfor (const m of meters) {\n    msgs.push({ topic: 'sim.smart_energy.meter', key: m.meter_id || m.asset_id, payload: JSON.stringify(m) });\n}\n\nconst pvs = envelope.smart_energy.pv || [];\nfor (const p of pvs) {\n    msgs.push({ topic: 'sim.smart_energy.pv', key: p.pv_system_id || p.asset_id, payload: JSON.stringify(p) });\n}\n\nconst weather = envelope.smart_energy.weather;\nif (weather) {\n    msgs.push({ topic: 'sim.smart_energy.weather', key: weather.site_id || siteId, payload: JSON.stringify(weather) });\n}\n\nconst price = envelope.smart_energy.price;\nif (price) {\n    msgs.push({ topic: 'sim.smart_energy.price', key: 'price', payload: JSON.stringify(price) });\n}\n\nconst consumers = envelope.smart_energy.consumers || [];\nfor (const c of consumers) {\n    msgs.push({ topic: 'sim.smart_energy.consumer', key: c.device_id || c.asset_id, payload: JSON.stringify(c) });\n}\n\nconst lights = envelope.smart_city.streetlights || [];\nfor (const l of lights) {\n    msgs.push({ topic: 'sim.smart_city.light', key: l.light_id, payload: JSON.stringify(l) });\n}\n\nconst traffic = envelope.smart_city.traffic_readings || [];\nfor (const t of traffic) {\n    msgs.push({ topic: 'sim.smart_city.traffic', key: t.zone_id, payload: JSON.stringify(t) });\n}\n\nconst events = envelope.smart_city.events || [];\nfor (const e of events) {\n    msgs.push({ topic: 'sim.smart_city.event', key: e.zone_id, payload: JSON.stringify(e) });\n}\n\nconst visibility = envelope.smart_city.visibility;\nif (visibility) {\n    msgs.push({ topic: 'sim.smart_city.weather', key: envelope.smart_city.city_id || 'city', payload: JSON.stringify(visibility) });\n}\n\nnode.send([msgs]);\n\nconst response = {\n    payload: { status: 'accepted', timestamp: ts, messages_queued: msgs.length, tick_count: flow.get('tick_count') || 0 },\n    statusCode: 200,\n    req: msg.req,\n    res: msg.res\n};\n\nreturn [null, response];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [["kafka-router"], ["http-response-ok"]]
    },
    {
        "id": "http-response-ok",
        "type": "http response",
        "z": "facis-sim-flow",
        "name": "200 OK",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "kafka-router",
        "type": "function",
        "z": "facis-sim-flow",
        "name": "Route to Kafka Topic",
        "func": "const topicMap = {\n    'sim.smart_energy.meter': 0,\n    'sim.smart_energy.pv': 1,\n    'sim.smart_energy.weather': 2,\n    'sim.smart_energy.price': 3,\n    'sim.smart_energy.consumer': 4,\n    'sim.smart_city.light': 5,\n    'sim.smart_city.traffic': 6,\n    'sim.smart_city.event': 7,\n    'sim.smart_city.weather': 8\n};\n\nconst outputIndex = topicMap[msg.topic];\nif (outputIndex !== undefined) {\n    const outputs = new Array(9).fill(null);\n    outputs[outputIndex] = msg;\n    return outputs;\n}\n\nnode.warn('Unknown topic: ' + msg.topic);\nreturn null;",
        "outputs": 9,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 200,
        "wires": [
            ["kafka-meter"],
            ["kafka-pv"],
            ["kafka-weather"],
            ["kafka-price"],
            ["kafka-consumer"],
            ["kafka-light"],
            ["kafka-traffic"],
            ["kafka-event"],
            ["kafka-city-weather"]
        ]
    },
    {
        "id": "kafka-meter",
        "type": "rdkafka out",
        "z": "facis-sim-flow",
        "name": "sim.smart_energy.meter",
        "broker": "kafka-broker-config",
        "topic": "sim.smart_energy.meter",
        "x": 1040,
        "y": 60,
        "wires": [["debug-kafka"]]
    },
    {
        "id": "kafka-pv",
        "type": "rdkafka out",
        "z": "facis-sim-flow",
        "name": "sim.smart_energy.pv",
        "broker": "kafka-broker-config",
        "topic": "sim.smart_energy.pv",
        "x": 1040,
        "y": 100,
        "wires": [["debug-kafka"]]
    },
    {
        "id": "kafka-weather",
        "type": "rdkafka out",
        "z": "facis-sim-flow",
        "name": "sim.smart_energy.weather",
        "broker": "kafka-broker-config",
        "topic": "sim.smart_energy.weather",
        "x": 1040,
        "y": 140,
        "wires": [["debug-kafka"]]
    },
    {
        "id": "kafka-price",
        "type": "rdkafka out",
        "z": "facis-sim-flow",
        "name": "sim.smart_energy.price",
        "broker": "kafka-broker-config",
        "topic": "sim.smart_energy.price",
        "x": 1040,
        "y": 180,
        "wires": [["debug-kafka"]]
    },
    {
        "id": "kafka-consumer",
        "type": "rdkafka out",
        "z": "facis-sim-flow",
        "name": "sim.smart_energy.consumer",
        "broker": "kafka-broker-config",
        "topic": "sim.smart_energy.consumer",
        "x": 1040,
        "y": 220,
        "wires": [["debug-kafka"]]
    },
    {
        "id": "kafka-light",
        "type": "rdkafka out",
        "z": "facis-sim-flow",
        "name": "sim.smart_city.light",
        "broker": "kafka-broker-config",
        "topic": "sim.smart_city.light",
        "x": 1040,
        "y": 260,
        "wires": [["debug-kafka"]]
    },
    {
        "id": "kafka-traffic",
        "type": "rdkafka out",
        "z": "facis-sim-flow",
        "name": "sim.smart_city.traffic",
        "broker": "kafka-broker-config",
        "topic": "sim.smart_city.traffic",
        "x": 1040,
        "y": 300,
        "wires": [["debug-kafka"]]
    },
    {
        "id": "kafka-event",
        "type": "rdkafka out",
        "z": "facis-sim-flow",
        "name": "sim.smart_city.event",
        "broker": "kafka-broker-config",
        "topic": "sim.smart_city.event",
        "x": 1040,
        "y": 340,
        "wires": [["debug-kafka"]]
    },
    {
        "id": "kafka-city-weather",
        "type": "rdkafka out",
        "z": "facis-sim-flow",
        "name": "sim.smart_city.weather",
        "broker": "kafka-broker-config",
        "topic": "sim.smart_city.weather",
        "x": 1040,
        "y": 380,
        "wires": [["debug-kafka"]]
    },
    {
        "id": "debug-kafka",
        "type": "debug",
        "z": "facis-sim-flow",
        "name": "Kafka Delivery Log",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment-architecture",
        "type": "comment",
        "z": "facis-sim-flow",
        "name": "FACIS MS2: Simulation → ORCE → Kafka (Cluster)",
        "info": "## Cluster Flow\n\nRequires: npm install node-red-contrib-rdkafka\n\n1. HTTP-in receives tick envelope from simulation\n2. Validate schema\n3. Split into individual feed messages\n4. Route each to the correct Kafka producer\n5. Publish via rdkafka with TLS\n\n## Flow Variants\n- facis-simulation.json:         Validate only (sim handles Kafka)\n- facis-simulation-mqtt.json:    MQTT output (no plugins, NiFi routes to Kafka)\n- facis-simulation-cluster.json: THIS — rdkafka output (requires plugin)",
        "x": 250,
        "y": 60,
        "wires": []
    }
]
