services/simulation/orce/flows/facis-simulation-mqtt.json
[
    {
        "id": "facis-sim-mqtt-flow",
        "type": "tab",
        "label": "FACIS Simulation → MQTT → Kafka",
        "disabled": false,
        "info": "Receives simulation tick envelopes via HTTP POST, validates schema,\nsplits into individual feed messages, and publishes each to its\ncorresponding MQTT topic using Node-RED built-in MQTT nodes.\n\nNo external plugins required — uses only core Node-RED nodes.\n\nKafka ingestion is handled downstream by NiFi ConsumeMQTT.\n\nEndpoint: POST /api/sim/tick\n\nMQTT Topics (9 feeds):\n  Smart Energy:\n    - facis/energy/meter/{meter_id}\n    - facis/energy/pv/{system_id}\n    - facis/weather/current\n    - facis/prices/spot\n    - facis/loads/{device_type}\n  Smart City:\n    - facis/city/light/{zone_id}\n    - facis/city/traffic/{zone_id}\n    - facis/city/event/{zone_id}\n    - facis/city/weather\n\nArchitecture:\n  Simulation Service → HTTP POST → ORCE (this flow)\n    → MQTT Broker → NiFi ConsumeMQTT → Kafka Bronze Topics\n\nAlternative flows:\n  - facis-simulation.json:         Validate only (no Kafka/MQTT output)\n  - facis-simulation-cluster.json: Direct Kafka via rdkafka plugin"
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "FACIS MQTT Broker",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "facis-orce-mqtt",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "facis/orce/status",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "{\"status\":\"online\",\"node\":\"orce-mqtt\"}",
        "birthMsg": {},
        "closeTopic": "facis/orce/status",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "{\"status\":\"offline\",\"node\":\"orce-mqtt\"}",
        "closeMsg": {},
        "willTopic": "facis/orce/status",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "{\"status\":\"unexpected_disconnect\",\"node\":\"orce-mqtt\"}",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "http-in-tick",
        "type": "http in",
        "z": "facis-sim-mqtt-flow",
        "name": "POST /api/sim/tick",
        "url": "/api/sim/tick",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 240,
        "wires": [["validate-schema"]]
    },
    {
        "id": "validate-schema",
        "type": "function",
        "z": "facis-sim-mqtt-flow",
        "name": "Validate Schema",
        "func": "const p = msg.payload;\n\nconst required = ['type', 'schema_version', 'timestamp', 'site_id', 'smart_energy', 'smart_city'];\nconst missing = required.filter(f => p[f] === undefined);\n\nif (missing.length > 0) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Missing fields: ' + missing.join(', ') };\n    return [null, msg];\n}\n\nif (p.type !== 'sim.tick') {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid type: ' + p.type + ', expected sim.tick' };\n    return [null, msg];\n}\n\nflow.set('last_tick', p.timestamp);\nflow.set('tick_count', (flow.get('tick_count') || 0) + 1);\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [["split-feeds-mqtt"], ["http-response-error"]]
    },
    {
        "id": "http-response-error",
        "type": "http response",
        "z": "facis-sim-mqtt-flow",
        "name": "400 Error",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "split-feeds-mqtt",
        "type": "function",
        "z": "facis-sim-mqtt-flow",
        "name": "Split & Route to MQTT Topics",
        "func": "const envelope = msg.payload;\nconst ts = envelope.timestamp;\nconst siteId = envelope.site_id;\n\n// Collect all messages to publish\nconst mqttMessages = [];\nlet errorCount = 0;\n\ntry {\n    // --- Smart Energy: Meters ---\n    const meters = envelope.smart_energy.meters || [];\n    for (const m of meters) {\n        const meterId = m.meter_id || m.asset_id || 'unknown';\n        mqttMessages.push({\n            topic: 'facis/energy/meter/' + meterId,\n            qos: 1,\n            retain: false,\n            payload: JSON.stringify(m)\n        });\n    }\n\n    // --- Smart Energy: PV Systems ---\n    const pvs = envelope.smart_energy.pv || [];\n    for (const p of pvs) {\n        const pvId = p.pv_system_id || p.asset_id || 'unknown';\n        mqttMessages.push({\n            topic: 'facis/energy/pv/' + pvId,\n            qos: 1,\n            retain: false,\n            payload: JSON.stringify(p)\n        });\n    }\n\n    // --- Smart Energy: Weather ---\n    const weather = envelope.smart_energy.weather;\n    if (weather) {\n        mqttMessages.push({\n            topic: 'facis/weather/current',\n            qos: 0,\n            retain: true,\n            payload: JSON.stringify(weather)\n        });\n    }\n\n    // --- Smart Energy: Price ---\n    const price = envelope.smart_energy.price;\n    if (price) {\n        mqttMessages.push({\n            topic: 'facis/prices/spot',\n            qos: 1,\n            retain: true,\n            payload: JSON.stringify(price)\n        });\n    }\n\n    // --- Smart Energy: Consumers ---\n    const consumers = envelope.smart_energy.consumers || [];\n    for (const c of consumers) {\n        const deviceType = c.device_type || c.device_id || 'unknown';\n        mqttMessages.push({\n            topic: 'facis/loads/' + deviceType,\n            qos: 0,\n            retain: false,\n            payload: JSON.stringify(c)\n        });\n    }\n\n    // --- Smart City: Streetlights ---\n    const lights = envelope.smart_city.streetlights || [];\n    for (const l of lights) {\n        const zoneId = l.zone_id || 'unknown';\n        mqttMessages.push({\n            topic: 'facis/city/light/' + zoneId,\n            qos: 0,\n            retain: false,\n            payload: JSON.stringify(l)\n        });\n    }\n\n    // --- Smart City: Traffic ---\n    const traffic = envelope.smart_city.traffic_readings || [];\n    for (const t of traffic) {\n        const zoneId = t.zone_id || 'unknown';\n        mqttMessages.push({\n            topic: 'facis/city/traffic/' + zoneId,\n            qos: 0,\n            retain: false,\n            payload: JSON.stringify(t)\n        });\n    }\n\n    // --- Smart City: Events ---\n    const events = envelope.smart_city.events || [];\n    for (const e of events) {\n        const zoneId = e.zone_id || 'unknown';\n        mqttMessages.push({\n            topic: 'facis/city/event/' + zoneId,\n            qos: 1,\n            retain: false,\n            payload: JSON.stringify(e)\n        });\n    }\n\n    // --- Smart City: Weather/Visibility ---\n    const cityWeather = envelope.smart_city.visibility;\n    if (cityWeather) {\n        mqttMessages.push({\n            topic: 'facis/city/weather',\n            qos: 0,\n            retain: true,\n            payload: JSON.stringify(cityWeather)\n        });\n    }\n\n} catch (err) {\n    errorCount++;\n    node.error('Feed split error: ' + err.message, msg);\n}\n\n// Store stats for monitoring\nconst feedCounts = {\n    meters: (envelope.smart_energy.meters || []).length,\n    pv: (envelope.smart_energy.pv || []).length,\n    weather: envelope.smart_energy.weather ? 1 : 0,\n    price: envelope.smart_energy.price ? 1 : 0,\n    consumers: (envelope.smart_energy.consumers || []).length,\n    lights: (envelope.smart_city.streetlights || []).length,\n    traffic: (envelope.smart_city.traffic_readings || []).length,\n    events: (envelope.smart_city.events || []).length,\n    city_weather: envelope.smart_city.visibility ? 1 : 0\n};\n\nflow.set('last_feed_counts', feedCounts);\nflow.set('total_messages_published', \n    (flow.get('total_messages_published') || 0) + mqttMessages.length);\n\n// Output 1: Array of MQTT messages (sent to mqtt-publish-loop)\n// Output 2: HTTP response\n// Output 3: Debug/monitoring\nconst httpResponse = {\n    payload: {\n        status: 'accepted',\n        timestamp: ts,\n        messages_queued: mqttMessages.length,\n        feeds: feedCounts,\n        errors: errorCount,\n        tick_number: flow.get('tick_count') || 0,\n        transport: 'mqtt'\n    },\n    statusCode: 200,\n    req: msg.req,\n    res: msg.res\n};\n\nconst debugMsg = {\n    payload: {\n        tick: flow.get('tick_count'),\n        timestamp: ts,\n        mode: envelope.mode,\n        total_messages: mqttMessages.length,\n        total_published: flow.get('total_messages_published') || 0,\n        transport: 'mqtt'\n    }\n};\n\n// Send MQTT messages as individual outputs\nconst mqttOutput = mqttMessages.map(m => ({ payload: m }));\nnode.send([mqttOutput, null, null]);\n\nreturn [null, httpResponse, debugMsg];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Initialize flow-level counters on deploy\nflow.set('tick_count', 0);\nflow.set('total_messages_published', 0);\nflow.set('error_count', 0);",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [["mqtt-publish-loop"], ["http-response-ok"], ["debug-tick"]]
    },
    {
        "id": "mqtt-publish-loop",
        "type": "function",
        "z": "facis-sim-mqtt-flow",
        "name": "Set MQTT Properties",
        "func": "// Each incoming msg.payload is an MQTT message descriptor:\n// { topic, qos, retain, payload }\nconst m = msg.payload;\n\nmsg.topic = m.topic;\nmsg.qos = m.qos;\nmsg.retain = m.retain;\nmsg.payload = m.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 180,
        "wires": [["mqtt-out-publish"]]
    },
    {
        "id": "mqtt-out-publish",
        "type": "mqtt out",
        "z": "facis-sim-mqtt-flow",
        "name": "Publish to MQTT",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "http-response-ok",
        "type": "http response",
        "z": "facis-sim-mqtt-flow",
        "name": "200 OK",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug-tick",
        "type": "debug",
        "z": "facis-sim-mqtt-flow",
        "name": "Tick Monitor",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.timestamp",
        "statusType": "msg",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "mqtt-status-monitor",
        "type": "status",
        "z": "facis-sim-mqtt-flow",
        "name": "MQTT Connection Status",
        "scope": ["mqtt-out-publish"],
        "x": 180,
        "y": 420,
        "wires": [["handle-mqtt-status"]]
    },
    {
        "id": "handle-mqtt-status",
        "type": "function",
        "z": "facis-sim-mqtt-flow",
        "name": "Track Connection Health",
        "func": "const status = msg.status;\n\nif (status.fill === 'green') {\n    flow.set('mqtt_connected', true);\n    flow.set('mqtt_last_connected', new Date().toISOString());\n} else if (status.fill === 'red') {\n    flow.set('mqtt_connected', false);\n    flow.set('error_count', (flow.get('error_count') || 0) + 1);\n    node.warn('MQTT broker disconnected: ' + (status.text || 'unknown'));\n}\n\nmsg.payload = {\n    connected: flow.get('mqtt_connected'),\n    last_connected: flow.get('mqtt_last_connected'),\n    errors: flow.get('error_count') || 0,\n    total_published: flow.get('total_messages_published') || 0\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [["debug-mqtt-status"]]
    },
    {
        "id": "debug-mqtt-status",
        "type": "debug",
        "z": "facis-sim-mqtt-flow",
        "name": "MQTT Status Log",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "http-in-health",
        "type": "http in",
        "z": "facis-sim-mqtt-flow",
        "name": "GET /api/orce/health",
        "url": "/api/orce/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 520,
        "wires": [["build-health-response"]]
    },
    {
        "id": "build-health-response",
        "type": "function",
        "z": "facis-sim-mqtt-flow",
        "name": "Build Health Response",
        "func": "const mqttConnected = flow.get('mqtt_connected');\nconst healthy = mqttConnected !== false;\n\nmsg.statusCode = healthy ? 200 : 503;\nmsg.payload = {\n    status: healthy ? 'healthy' : 'degraded',\n    transport: 'mqtt',\n    flow_variant: 'facis-simulation-mqtt',\n    mqtt: {\n        connected: mqttConnected !== false,\n        last_connected: flow.get('mqtt_last_connected') || null,\n        broker: 'mqtt:1883'\n    },\n    stats: {\n        tick_count: flow.get('tick_count') || 0,\n        last_tick: flow.get('last_tick') || null,\n        total_messages_published: flow.get('total_messages_published') || 0,\n        last_feed_counts: flow.get('last_feed_counts') || {},\n        error_count: flow.get('error_count') || 0\n    },\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 520,
        "wires": [["http-response-health"]]
    },
    {
        "id": "http-response-health",
        "type": "http response",
        "z": "facis-sim-mqtt-flow",
        "name": "Health Response",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "comment-architecture",
        "type": "comment",
        "z": "facis-sim-mqtt-flow",
        "name": "FACIS: Simulation → ORCE → MQTT (No Plugins)",
        "info": "## Architecture (Plugin-Free)\n\nThis flow uses ONLY built-in Node-RED nodes — no rdkafka or\nother external plugins required.\n\n### Data Path\n1. Simulation Service POSTs unified tick envelope to ORCE\n2. ORCE validates schema structure\n3. ORCE splits envelope into individual feed messages\n4. ORCE publishes each feed to its MQTT topic (built-in mqtt out)\n5. NiFi ConsumeMQTT subscribes and routes to Kafka Bronze topics\n\n### MQTT → Kafka Mapping (via NiFi)\n  facis/energy/meter/*    → energy.bronze.meter\n  facis/energy/pv/*       → energy.bronze.pv\n  facis/weather/current   → energy.bronze.weather\n  facis/prices/spot       → energy.bronze.price\n  facis/loads/*           → energy.bronze.consumer\n  facis/city/light/*      → (NiFi Bronze routing)\n  facis/city/traffic/*    → (NiFi Bronze routing)\n  facis/city/event/*      → (NiFi Bronze routing)\n  facis/city/weather      → (NiFi Bronze routing)\n\n### QoS Levels (matching topics.py)\n  QoS 0: weather, consumers/loads, lights, traffic, city_weather\n  QoS 1: meters, pv, price, events\n\n### Monitoring\n  GET /api/orce/health — flow health + MQTT connection status\n  Status node tracks MQTT broker connectivity\n  Debug nodes log tick stats and MQTT status\n\n### Flow Variants\n  facis-simulation.json         — Validate only (sim handles Kafka)\n  facis-simulation-mqtt.json    — THIS FILE: MQTT output (no plugins)\n  facis-simulation-cluster.json — rdkafka output (requires plugin)",
        "x": 280,
        "y": 60,
        "wires": []
    }
]
