services/simulation/orce/flows/facis-simulation-feeds.json
[
    {
        "id": "tab-feeds",
        "type": "tab",
        "label": "FACIS Simulation \u2014 Feeds",
        "disabled": false,
        "info": "Auto-generated by services/simulation/orce/scripts/render-feeds.py \u2014 do not edit by hand"
    },
    {
        "id": "linkin-tick-trigger",
        "type": "link in",
        "z": "tab-feeds",
        "name": "tick.trigger",
        "links": [],
        "x": 90,
        "y": 80,
        "wires": [
            [
                "a11c1ac432a88108"
            ]
        ]
    },
    {
        "id": "a11c1ac432a88108",
        "type": "function",
        "z": "tab-feeds",
        "name": "build envelope",
        "func": "// Build standard tick envelope; consumed by all per-entity inject-config nodes downstream\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    Number(env.get('BASE_SEED') || 12345),\n    timestamp_ms: t.timestamp_ms || Date.now(),\n    timestamp:    t.timestamp    || new Date().toISOString(),\n    site_id:      env.get('SITE_ID') || \"site-berlin-001\",\n    mode:         env.get('MODE') || 'normal'\n};\n// One-shot: bump engine.registered_entities on first tick\nconst engine = global.get('engine');\nif (engine && engine.registered_entities !== 21) {\n    engine.registered_entities = 21;\n    global.set('engine', engine);\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "c19fbdd2ca395c18"
            ]
        ]
    },
    {
        "id": "c19fbdd2ca395c18",
        "type": "function",
        "z": "tab-feeds",
        "name": "fanout to entities",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "cdef2d6218d95bdd",
                "957f7d50d136a840",
                "ef75f1d7060f3793",
                "6d653b65fc87b949",
                "ba5ac5aa251276fd",
                "7ca6ed651a6fd99f",
                "f25ca5fe4c3e85cd",
                "1fbd0b90de287ab1",
                "c1a0b7b156425b92",
                "0165715dbe3e2d5b",
                "2e5685b6528e7dd4",
                "c6d47a2e5897e537",
                "64e35bb12c8ff2be"
            ]
        ]
    },
    {
        "id": "cdef2d6218d95bdd",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:meter:janitza-umg96rm-001",
        "func": "// Auto-rendered: meter:janitza-umg96rm-001\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"janitza-umg96rm-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"meter_id\":\"janitza-umg96rm-001\",\"base_power_kw\":10.0,\"peak_power_kw\":25.0,\"nominal_voltage_v\":230.0,\"voltage_variance_pct\":5.0,\"nominal_frequency_hz\":50.0,\"frequency_variance_hz\":0.05,\"power_factor_min\":0.95,\"power_factor_max\":0.99,\"initial_energy_kwh\":0.0}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "db0933673c79fc19"
            ]
        ]
    },
    {
        "id": "db0933673c79fc19",
        "type": "subflow:subflow-facis-meter",
        "z": "tab-feeds",
        "name": "meter:janitza-umg96rm-001",
        "env": [],
        "x": 920,
        "y": 120,
        "wires": [
            [
                "51f8541d71b0de7c"
            ]
        ]
    },
    {
        "id": "51f8541d71b0de7c",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:meter:janitza-umg96rm-001",
        "func": "// Auto-rendered store-by-id (array)\nconst r = msg.payload;\nconst id = r[\"meter_id\"];\nlet arr = global.get(\"latest_meters\") || [];\nconst idx = arr.findIndex((x) => x[\"meter_id\"] === id);\nif (idx >= 0) arr[idx] = r; else arr.push(r);\nglobal.set(\"latest_meters\", arr);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "d52921c04fbb8935"
            ]
        ]
    },
    {
        "id": "d52921c04fbb8935",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.meter",
        "mode": "link",
        "links": [
            "5a00312f779505d5"
        ],
        "x": 1360,
        "y": 120,
        "wires": []
    },
    {
        "id": "957f7d50d136a840",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:meter:janitza-umg96rm-002",
        "func": "// Auto-rendered: meter:janitza-umg96rm-002\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"janitza-umg96rm-002\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"meter_id\":\"janitza-umg96rm-002\",\"base_power_kw\":5.0,\"peak_power_kw\":15.0,\"nominal_voltage_v\":230.0,\"voltage_variance_pct\":5.0,\"nominal_frequency_hz\":50.0,\"frequency_variance_hz\":0.05,\"power_factor_min\":0.92,\"power_factor_max\":0.98,\"initial_energy_kwh\":1000.0}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            [
                "de38fdf8201420b4"
            ]
        ]
    },
    {
        "id": "de38fdf8201420b4",
        "type": "subflow:subflow-facis-meter",
        "z": "tab-feeds",
        "name": "meter:janitza-umg96rm-002",
        "env": [],
        "x": 920,
        "y": 180,
        "wires": [
            [
                "36cf4523de3dc662"
            ]
        ]
    },
    {
        "id": "36cf4523de3dc662",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:meter:janitza-umg96rm-002",
        "func": "// Auto-rendered store-by-id (array)\nconst r = msg.payload;\nconst id = r[\"meter_id\"];\nlet arr = global.get(\"latest_meters\") || [];\nconst idx = arr.findIndex((x) => x[\"meter_id\"] === id);\nif (idx >= 0) arr[idx] = r; else arr.push(r);\nglobal.set(\"latest_meters\", arr);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "f216606c848d3751"
            ]
        ]
    },
    {
        "id": "f216606c848d3751",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.meter",
        "mode": "link",
        "links": [
            "5a00312f779505d5"
        ],
        "x": 1360,
        "y": 180,
        "wires": []
    },
    {
        "id": "ef75f1d7060f3793",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:consumer:industrial-oven-001",
        "func": "// Auto-rendered: consumer:industrial-oven-001\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"industrial-oven-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"device_id\":\"industrial-oven-001\",\"device_type\":\"industrial_oven\",\"rated_power_kw\":3.0,\"duty_cycle_pct\":70.0,\"power_variance_pct\":5.0,\"operate_on_weekends\":false,\"operating_windows\":[{\"start_hour\":7,\"end_hour\":9},{\"start_hour\":11,\"end_hour\":13},{\"start_hour\":15,\"end_hour\":17}]}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 240,
        "wires": [
            [
                "497890442000ff0e"
            ]
        ]
    },
    {
        "id": "497890442000ff0e",
        "type": "subflow:subflow-facis-consumer",
        "z": "tab-feeds",
        "name": "consumer:industrial-oven-001",
        "env": [],
        "x": 920,
        "y": 240,
        "wires": [
            [
                "6da8a9447ad860e3"
            ]
        ]
    },
    {
        "id": "6da8a9447ad860e3",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:consumer:industrial-oven-001",
        "func": "// Auto-rendered store-by-id (array)\nconst r = msg.payload;\nconst id = r[\"device_id\"];\nlet arr = global.get(\"latest_consumers\") || [];\nconst idx = arr.findIndex((x) => x[\"device_id\"] === id);\nif (idx >= 0) arr[idx] = r; else arr.push(r);\nglobal.set(\"latest_consumers\", arr);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "838503f30d731dae"
            ]
        ]
    },
    {
        "id": "838503f30d731dae",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.consumer",
        "mode": "link",
        "links": [
            "a0805ab90944e174"
        ],
        "x": 1360,
        "y": 240,
        "wires": []
    },
    {
        "id": "6d653b65fc87b949",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:consumer:hvac-001",
        "func": "// Auto-rendered: consumer:hvac-001\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"hvac-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"device_id\":\"hvac-001\",\"device_type\":\"hvac\",\"rated_power_kw\":2.0,\"duty_cycle_pct\":60.0,\"power_variance_pct\":10.0,\"operate_on_weekends\":true,\"operating_windows\":[{\"start_hour\":6,\"end_hour\":22}]}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 300,
        "wires": [
            [
                "95a4752b7c786d55"
            ]
        ]
    },
    {
        "id": "95a4752b7c786d55",
        "type": "subflow:subflow-facis-consumer",
        "z": "tab-feeds",
        "name": "consumer:hvac-001",
        "env": [],
        "x": 920,
        "y": 300,
        "wires": [
            [
                "3db53e0b98192e84"
            ]
        ]
    },
    {
        "id": "3db53e0b98192e84",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:consumer:hvac-001",
        "func": "// Auto-rendered store-by-id (array)\nconst r = msg.payload;\nconst id = r[\"device_id\"];\nlet arr = global.get(\"latest_consumers\") || [];\nconst idx = arr.findIndex((x) => x[\"device_id\"] === id);\nif (idx >= 0) arr[idx] = r; else arr.push(r);\nglobal.set(\"latest_consumers\", arr);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "4cc02ae40caf7b68"
            ]
        ]
    },
    {
        "id": "4cc02ae40caf7b68",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.consumer",
        "mode": "link",
        "links": [
            "a0805ab90944e174"
        ],
        "x": 1360,
        "y": 300,
        "wires": []
    },
    {
        "id": "ba5ac5aa251276fd",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:consumer:compressor-001",
        "func": "// Auto-rendered: consumer:compressor-001\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"compressor-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"device_id\":\"compressor-001\",\"device_type\":\"compressor\",\"rated_power_kw\":5.5,\"duty_cycle_pct\":50.0,\"power_variance_pct\":8.0,\"operate_on_weekends\":false,\"operating_windows\":[{\"start_hour\":8,\"end_hour\":18}]}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 360,
        "wires": [
            [
                "1d7e1c2873ceba05"
            ]
        ]
    },
    {
        "id": "1d7e1c2873ceba05",
        "type": "subflow:subflow-facis-consumer",
        "z": "tab-feeds",
        "name": "consumer:compressor-001",
        "env": [],
        "x": 920,
        "y": 360,
        "wires": [
            [
                "49ec0acd7e650474"
            ]
        ]
    },
    {
        "id": "49ec0acd7e650474",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:consumer:compressor-001",
        "func": "// Auto-rendered store-by-id (array)\nconst r = msg.payload;\nconst id = r[\"device_id\"];\nlet arr = global.get(\"latest_consumers\") || [];\nconst idx = arr.findIndex((x) => x[\"device_id\"] === id);\nif (idx >= 0) arr[idx] = r; else arr.push(r);\nglobal.set(\"latest_consumers\", arr);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "3e9b6fff871c2764"
            ]
        ]
    },
    {
        "id": "3e9b6fff871c2764",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.consumer",
        "mode": "link",
        "links": [
            "a0805ab90944e174"
        ],
        "x": 1360,
        "y": 360,
        "wires": []
    },
    {
        "id": "7ca6ed651a6fd99f",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:consumer:pump-001",
        "func": "// Auto-rendered: consumer:pump-001\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"pump-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"device_id\":\"pump-001\",\"device_type\":\"pump\",\"rated_power_kw\":1.5,\"duty_cycle_pct\":80.0,\"power_variance_pct\":3.0,\"operate_on_weekends\":false,\"operating_windows\":[{\"start_hour\":6,\"end_hour\":20}]}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 420,
        "wires": [
            [
                "33ba82b9b36a27f7"
            ]
        ]
    },
    {
        "id": "33ba82b9b36a27f7",
        "type": "subflow:subflow-facis-consumer",
        "z": "tab-feeds",
        "name": "consumer:pump-001",
        "env": [],
        "x": 920,
        "y": 420,
        "wires": [
            [
                "bbf7d5fc431c16f0"
            ]
        ]
    },
    {
        "id": "bbf7d5fc431c16f0",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:consumer:pump-001",
        "func": "// Auto-rendered store-by-id (array)\nconst r = msg.payload;\nconst id = r[\"device_id\"];\nlet arr = global.get(\"latest_consumers\") || [];\nconst idx = arr.findIndex((x) => x[\"device_id\"] === id);\nif (idx >= 0) arr[idx] = r; else arr.push(r);\nglobal.set(\"latest_consumers\", arr);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 420,
        "wires": [
            [
                "11434b719f078171"
            ]
        ]
    },
    {
        "id": "11434b719f078171",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.consumer",
        "mode": "link",
        "links": [
            "a0805ab90944e174"
        ],
        "x": 1360,
        "y": 420,
        "wires": []
    },
    {
        "id": "f25ca5fe4c3e85cd",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:price:epex-spot-de",
        "func": "// Auto-rendered: price:epex-spot-de\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"epex-spot-de\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"feed_id\":\"epex-spot-de\",\"night_price\":0.18,\"morning_peak_price\":0.32,\"midday_price\":0.24,\"evening_peak_price\":0.36,\"evening_price\":0.22,\"weekend_discount_pct\":10,\"volatility_pct\":5,\"min_price\":0.05}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 480,
        "wires": [
            [
                "c84b6f5b1dc34364"
            ]
        ]
    },
    {
        "id": "c84b6f5b1dc34364",
        "type": "subflow:subflow-facis-price",
        "z": "tab-feeds",
        "name": "price:epex-spot-de",
        "env": [],
        "x": 920,
        "y": 480,
        "wires": [
            [
                "830707496048048f"
            ]
        ]
    },
    {
        "id": "830707496048048f",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:price:epex-spot-de",
        "func": "// Auto-rendered store-single\nglobal.set(\"latest_price\", msg.payload);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 480,
        "wires": [
            [
                "b181681aed9898f0"
            ]
        ]
    },
    {
        "id": "b181681aed9898f0",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.price",
        "mode": "link",
        "links": [
            "c5954f0f78a7e3f9"
        ],
        "x": 1360,
        "y": 480,
        "wires": []
    },
    {
        "id": "1fbd0b90de287ab1",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:weather:weather-001",
        "func": "// Auto-rendered: weather:weather-001\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"weather-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"latitude\":52.52,\"longitude\":13.405,\"base_temperature_summer_c\":22.0,\"base_temperature_winter_c\":2.0,\"daily_temp_amplitude_c\":8.0,\"temperature_variance_c\":1.5,\"base_humidity_percent\":65.0,\"base_wind_speed_ms\":3.5,\"prevailing_wind_direction_deg\":270,\"base_cloud_cover_percent\":40.0,\"max_clear_sky_ghi_w_m2\":1000.0}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 540,
        "wires": [
            [
                "318eb5f31b3ef904"
            ]
        ]
    },
    {
        "id": "318eb5f31b3ef904",
        "type": "subflow:subflow-facis-weather",
        "z": "tab-feeds",
        "name": "weather:weather-001",
        "env": [],
        "x": 920,
        "y": 540,
        "wires": [
            [
                "69527dced77afe6d"
            ]
        ]
    },
    {
        "id": "69527dced77afe6d",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:weather",
        "func": "// Auto-rendered store-single\nglobal.set(\"latest_weather\", msg.payload);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 540,
        "wires": [
            [
                "c54858589b5e295c",
                "49f7bb213c27632f",
                "c803564993d6d4d5"
            ]
        ]
    },
    {
        "id": "c54858589b5e295c",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.weather",
        "mode": "link",
        "links": [
            "e1c3e4a0a59bfcb8"
        ],
        "x": 1360,
        "y": 520,
        "wires": []
    },
    {
        "id": "49f7bb213c27632f",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.city.weather",
        "mode": "link",
        "links": [
            "a90f7b95d55ce2f2"
        ],
        "x": 1360,
        "y": 560,
        "wires": []
    },
    {
        "id": "c803564993d6d4d5",
        "type": "function",
        "z": "tab-feeds",
        "name": "pv fanout (after weather)",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 600,
        "wires": [
            [
                "623fce9d956bffdf",
                "ece30cfb07787f6c"
            ]
        ]
    },
    {
        "id": "623fce9d956bffdf",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:pv:pv-system-001",
        "func": "// Auto-rendered (with weather): pv:pv-system-001\nconst t = msg.payload || {};\nconst w = global.get('latest_weather');\nif (!w) {\n    // weather hasn't fired yet this tick; let pv handle missing weather safely\n}\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"pv-system-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"system_id\":\"pv-system-001\",\"nominal_capacity_kwp\":10.0,\"system_losses_percent\":15.0,\"temperature_coefficient_pct_per_c\":-0.4,\"reference_temperature_c\":25.0,\"noct_c\":45,\"interval_minutes\":1},\n    weather:      w || null\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 600,
        "wires": [
            [
                "1e04847ff6cb27d6"
            ]
        ]
    },
    {
        "id": "1e04847ff6cb27d6",
        "type": "subflow:subflow-facis-pv",
        "z": "tab-feeds",
        "name": "pv:pv-system-001",
        "env": [],
        "x": 1560,
        "y": 600,
        "wires": [
            [
                "afcc05f3d4bb27f9"
            ]
        ]
    },
    {
        "id": "afcc05f3d4bb27f9",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:pv:pv-system-001",
        "func": "// Auto-rendered store-by-id (array)\nconst r = msg.payload;\nconst id = r[\"system_id\"];\nlet arr = global.get(\"latest_pv\") || [];\nconst idx = arr.findIndex((x) => x[\"system_id\"] === id);\nif (idx >= 0) arr[idx] = r; else arr.push(r);\nglobal.set(\"latest_pv\", arr);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 600,
        "wires": [
            [
                "3c4a52d14b8199ea"
            ]
        ]
    },
    {
        "id": "3c4a52d14b8199ea",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.pv",
        "mode": "link",
        "links": [
            "400a7edc80f101ae"
        ],
        "x": 2000,
        "y": 600,
        "wires": []
    },
    {
        "id": "ece30cfb07787f6c",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:pv:pv-system-002",
        "func": "// Auto-rendered (with weather): pv:pv-system-002\nconst t = msg.payload || {};\nconst w = global.get('latest_weather');\nif (!w) {\n    // weather hasn't fired yet this tick; let pv handle missing weather safely\n}\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"pv-system-002\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    mode:         t.mode,\n    config:       {\"system_id\":\"pv-system-002\",\"nominal_capacity_kwp\":5.0,\"system_losses_percent\":12.0,\"temperature_coefficient_pct_per_c\":-0.4,\"reference_temperature_c\":25.0,\"noct_c\":45,\"interval_minutes\":1},\n    weather:      w || null\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 660,
        "wires": [
            [
                "009c110474d80800"
            ]
        ]
    },
    {
        "id": "009c110474d80800",
        "type": "subflow:subflow-facis-pv",
        "z": "tab-feeds",
        "name": "pv:pv-system-002",
        "env": [],
        "x": 1560,
        "y": 660,
        "wires": [
            [
                "7ea283fda39e18d3"
            ]
        ]
    },
    {
        "id": "7ea283fda39e18d3",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:pv:pv-system-002",
        "func": "// Auto-rendered store-by-id (array)\nconst r = msg.payload;\nconst id = r[\"system_id\"];\nlet arr = global.get(\"latest_pv\") || [];\nconst idx = arr.findIndex((x) => x[\"system_id\"] === id);\nif (idx >= 0) arr[idx] = r; else arr.push(r);\nglobal.set(\"latest_pv\", arr);\nglobal.set(\"last_kafka_tick\", new Date().toISOString());\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 660,
        "wires": [
            [
                "e6d8c4f941422a3a"
            ]
        ]
    },
    {
        "id": "e6d8c4f941422a3a",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.pv",
        "mode": "link",
        "links": [
            "400a7edc80f101ae"
        ],
        "x": 2000,
        "y": 660,
        "wires": []
    },
    {
        "id": "c1a0b7b156425b92",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:city_events:zone-001",
        "func": "// Auto-rendered city_events: zone-001\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"events-zone-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    zone_id:      \"zone-001\",\n    mode:         t.mode,\n    config:       {\"zone_id\":\"zone-001\"}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 720,
        "wires": [
            [
                "216c273be6e67bda"
            ]
        ]
    },
    {
        "id": "216c273be6e67bda",
        "type": "subflow:subflow-facis-city-events",
        "z": "tab-feeds",
        "name": "city_events:zone-001",
        "env": [],
        "x": 920,
        "y": 720,
        "wires": [
            [
                "bd48f6a8bf46edfc"
            ]
        ]
    },
    {
        "id": "bd48f6a8bf46edfc",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:city_events:zone-001",
        "func": "// Store active_event so the streetlight branch can read it\nglobal.set('active_event_' + msg.payload.zone_id, msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 720,
        "wires": [
            [
                "54527dd8762eee6a",
                "a65709ac42db0c3e"
            ]
        ]
    },
    {
        "id": "54527dd8762eee6a",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.event",
        "mode": "link",
        "links": [
            "6d4f36375cc64217"
        ],
        "x": 1360,
        "y": 720,
        "wires": []
    },
    {
        "id": "a65709ac42db0c3e",
        "type": "function",
        "z": "tab-feeds",
        "name": "streetlight fanout (zone-001)",
        "func": "// Fans out to lights in zone-001\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 750,
        "wires": [
            [
                "99621cf881b0c0c6",
                "8b531bd65280b213",
                "24b00290593afe93"
            ]
        ]
    },
    {
        "id": "0165715dbe3e2d5b",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:city_events:zone-002",
        "func": "// Auto-rendered city_events: zone-002\nconst t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"events-zone-002\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    zone_id:      \"zone-002\",\n    mode:         t.mode,\n    config:       {\"zone_id\":\"zone-002\"}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 780,
        "wires": [
            [
                "8d8c68e9974bebc1"
            ]
        ]
    },
    {
        "id": "8d8c68e9974bebc1",
        "type": "subflow:subflow-facis-city-events",
        "z": "tab-feeds",
        "name": "city_events:zone-002",
        "env": [],
        "x": 920,
        "y": 780,
        "wires": [
            [
                "c29572a0b7af2f82"
            ]
        ]
    },
    {
        "id": "c29572a0b7af2f82",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:city_events:zone-002",
        "func": "// Store active_event so the streetlight branch can read it\nglobal.set('active_event_' + msg.payload.zone_id, msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 780,
        "wires": [
            [
                "83bf408b22d12f40",
                "bf7ae500d3396ea2"
            ]
        ]
    },
    {
        "id": "83bf408b22d12f40",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.event",
        "mode": "link",
        "links": [
            "6d4f36375cc64217"
        ],
        "x": 1360,
        "y": 780,
        "wires": []
    },
    {
        "id": "bf7ae500d3396ea2",
        "type": "function",
        "z": "tab-feeds",
        "name": "streetlight fanout (zone-002)",
        "func": "// Fans out to lights in zone-002\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 810,
        "wires": [
            [
                "a04460b0345e68bc",
                "3957abfa94cb6b63",
                "dc7288f12d6efcf0"
            ]
        ]
    },
    {
        "id": "99621cf881b0c0c6",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:streetlight:light-001",
        "func": "// Auto-rendered streetlight: light-001 (zone zone-001)\nconst t = msg.payload || {};\nconst ev = global.get('active_event_' + \"zone-001\") || null;\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"light-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    mode:         t.mode,\n    config:       {\"light_id\":\"light-001\",\"zone_id\":\"zone-001\",\"rated_power_w\":150.0,\"latitude\":52.52,\"longitude\":13.405},\n    active_event: ev\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 840,
        "wires": [
            [
                "6ce4500f864fcea8"
            ]
        ]
    },
    {
        "id": "6ce4500f864fcea8",
        "type": "subflow:subflow-facis-streetlights",
        "z": "tab-feeds",
        "name": "streetlight:light-001",
        "env": [],
        "x": 1560,
        "y": 840,
        "wires": [
            [
                "7f7f223740949c3c"
            ]
        ]
    },
    {
        "id": "7f7f223740949c3c",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:streetlight:light-001",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 840,
        "wires": [
            [
                "71dd06520ebf3041"
            ]
        ]
    },
    {
        "id": "71dd06520ebf3041",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.light",
        "mode": "link",
        "links": [
            "21ea5f7cdc17eeb0"
        ],
        "x": 2000,
        "y": 840,
        "wires": []
    },
    {
        "id": "8b531bd65280b213",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:streetlight:light-002",
        "func": "// Auto-rendered streetlight: light-002 (zone zone-001)\nconst t = msg.payload || {};\nconst ev = global.get('active_event_' + \"zone-001\") || null;\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"light-002\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    mode:         t.mode,\n    config:       {\"light_id\":\"light-002\",\"zone_id\":\"zone-001\",\"rated_power_w\":150.0,\"latitude\":52.52,\"longitude\":13.405},\n    active_event: ev\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 900,
        "wires": [
            [
                "b84d65dfe32ae748"
            ]
        ]
    },
    {
        "id": "b84d65dfe32ae748",
        "type": "subflow:subflow-facis-streetlights",
        "z": "tab-feeds",
        "name": "streetlight:light-002",
        "env": [],
        "x": 1560,
        "y": 900,
        "wires": [
            [
                "8d9dd78eea164b5e"
            ]
        ]
    },
    {
        "id": "8d9dd78eea164b5e",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:streetlight:light-002",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 900,
        "wires": [
            [
                "4a9dc59b75117d62"
            ]
        ]
    },
    {
        "id": "4a9dc59b75117d62",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.light",
        "mode": "link",
        "links": [
            "21ea5f7cdc17eeb0"
        ],
        "x": 2000,
        "y": 900,
        "wires": []
    },
    {
        "id": "24b00290593afe93",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:streetlight:light-003",
        "func": "// Auto-rendered streetlight: light-003 (zone zone-001)\nconst t = msg.payload || {};\nconst ev = global.get('active_event_' + \"zone-001\") || null;\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"light-003\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    mode:         t.mode,\n    config:       {\"light_id\":\"light-003\",\"zone_id\":\"zone-001\",\"rated_power_w\":150.0,\"latitude\":52.52,\"longitude\":13.405},\n    active_event: ev\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 960,
        "wires": [
            [
                "6b15303c8aeb306b"
            ]
        ]
    },
    {
        "id": "6b15303c8aeb306b",
        "type": "subflow:subflow-facis-streetlights",
        "z": "tab-feeds",
        "name": "streetlight:light-003",
        "env": [],
        "x": 1560,
        "y": 960,
        "wires": [
            [
                "074e80d47a1cb1f5"
            ]
        ]
    },
    {
        "id": "074e80d47a1cb1f5",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:streetlight:light-003",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 960,
        "wires": [
            [
                "71786fec4101cade"
            ]
        ]
    },
    {
        "id": "71786fec4101cade",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.light",
        "mode": "link",
        "links": [
            "21ea5f7cdc17eeb0"
        ],
        "x": 2000,
        "y": 960,
        "wires": []
    },
    {
        "id": "a04460b0345e68bc",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:streetlight:light-004",
        "func": "// Auto-rendered streetlight: light-004 (zone zone-002)\nconst t = msg.payload || {};\nconst ev = global.get('active_event_' + \"zone-002\") || null;\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"light-004\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    mode:         t.mode,\n    config:       {\"light_id\":\"light-004\",\"zone_id\":\"zone-002\",\"rated_power_w\":150.0,\"latitude\":52.52,\"longitude\":13.405},\n    active_event: ev\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1020,
        "wires": [
            [
                "67205930ce1a148b"
            ]
        ]
    },
    {
        "id": "67205930ce1a148b",
        "type": "subflow:subflow-facis-streetlights",
        "z": "tab-feeds",
        "name": "streetlight:light-004",
        "env": [],
        "x": 1560,
        "y": 1020,
        "wires": [
            [
                "18739a5a8efcb4b7"
            ]
        ]
    },
    {
        "id": "18739a5a8efcb4b7",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:streetlight:light-004",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 1020,
        "wires": [
            [
                "e688dd286ab09d94"
            ]
        ]
    },
    {
        "id": "e688dd286ab09d94",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.light",
        "mode": "link",
        "links": [
            "21ea5f7cdc17eeb0"
        ],
        "x": 2000,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3957abfa94cb6b63",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:streetlight:light-005",
        "func": "// Auto-rendered streetlight: light-005 (zone zone-002)\nconst t = msg.payload || {};\nconst ev = global.get('active_event_' + \"zone-002\") || null;\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"light-005\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    mode:         t.mode,\n    config:       {\"light_id\":\"light-005\",\"zone_id\":\"zone-002\",\"rated_power_w\":150.0,\"latitude\":52.52,\"longitude\":13.405},\n    active_event: ev\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1080,
        "wires": [
            [
                "e2e1bd34e6c1ba47"
            ]
        ]
    },
    {
        "id": "e2e1bd34e6c1ba47",
        "type": "subflow:subflow-facis-streetlights",
        "z": "tab-feeds",
        "name": "streetlight:light-005",
        "env": [],
        "x": 1560,
        "y": 1080,
        "wires": [
            [
                "678995dee4504233"
            ]
        ]
    },
    {
        "id": "678995dee4504233",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:streetlight:light-005",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 1080,
        "wires": [
            [
                "36ef699d9dfdc658"
            ]
        ]
    },
    {
        "id": "36ef699d9dfdc658",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.light",
        "mode": "link",
        "links": [
            "21ea5f7cdc17eeb0"
        ],
        "x": 2000,
        "y": 1080,
        "wires": []
    },
    {
        "id": "dc7288f12d6efcf0",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:streetlight:light-006",
        "func": "// Auto-rendered streetlight: light-006 (zone zone-002)\nconst t = msg.payload || {};\nconst ev = global.get('active_event_' + \"zone-002\") || null;\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"light-006\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    mode:         t.mode,\n    config:       {\"light_id\":\"light-006\",\"zone_id\":\"zone-002\",\"rated_power_w\":150.0,\"latitude\":52.52,\"longitude\":13.405},\n    active_event: ev\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1140,
        "wires": [
            [
                "34baea2f250d9244"
            ]
        ]
    },
    {
        "id": "34baea2f250d9244",
        "type": "subflow:subflow-facis-streetlights",
        "z": "tab-feeds",
        "name": "streetlight:light-006",
        "env": [],
        "x": 1560,
        "y": 1140,
        "wires": [
            [
                "a84a92198af975de"
            ]
        ]
    },
    {
        "id": "a84a92198af975de",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:streetlight:light-006",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 1140,
        "wires": [
            [
                "ea71cf7804dd0c01"
            ]
        ]
    },
    {
        "id": "ea71cf7804dd0c01",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.light",
        "mode": "link",
        "links": [
            "21ea5f7cdc17eeb0"
        ],
        "x": 2000,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2e5685b6528e7dd4",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:traffic:zone-001",
        "func": "const t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"traffic-zone-001\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    zone_id:      \"zone-001\",\n    mode:         t.mode\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1200,
        "wires": [
            [
                "3846ee24770292f6"
            ]
        ]
    },
    {
        "id": "3846ee24770292f6",
        "type": "subflow:subflow-facis-traffic",
        "z": "tab-feeds",
        "name": "traffic:zone-001",
        "env": [],
        "x": 920,
        "y": 1200,
        "wires": [
            [
                "472abe979d858029"
            ]
        ]
    },
    {
        "id": "472abe979d858029",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:traffic:zone-001",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1200,
        "wires": [
            [
                "b8782d471eeb7ee6"
            ]
        ]
    },
    {
        "id": "b8782d471eeb7ee6",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.traffic",
        "mode": "link",
        "links": [
            "f209faee76299010"
        ],
        "x": 1360,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c6d47a2e5897e537",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:traffic:zone-002",
        "func": "const t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"traffic-zone-002\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    zone_id:      \"zone-002\",\n    mode:         t.mode\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1260,
        "wires": [
            [
                "376d801f68c3d9d6"
            ]
        ]
    },
    {
        "id": "376d801f68c3d9d6",
        "type": "subflow:subflow-facis-traffic",
        "z": "tab-feeds",
        "name": "traffic:zone-002",
        "env": [],
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "b49e4a316b52ce05"
            ]
        ]
    },
    {
        "id": "b49e4a316b52ce05",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:traffic:zone-002",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1260,
        "wires": [
            [
                "afda98d0e94346a7"
            ]
        ]
    },
    {
        "id": "afda98d0e94346a7",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.traffic",
        "mode": "link",
        "links": [
            "f209faee76299010"
        ],
        "x": 1360,
        "y": 1260,
        "wires": []
    },
    {
        "id": "64e35bb12c8ff2be",
        "type": "function",
        "z": "tab-feeds",
        "name": "cfg:visibility:city-berlin",
        "func": "const t = msg.payload || {};\nmsg.payload = {\n    base_seed:    t.base_seed,\n    entity_id:    \"visibility-city-berlin\",\n    timestamp_ms: t.timestamp_ms,\n    timestamp:    t.timestamp,\n    site_id:      t.site_id,\n    city_id:      \"city-berlin\",\n    mode:         t.mode,\n    config:       {\"latitude\":52.52,\"longitude\":13.405}\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1320,
        "wires": [
            [
                "7eb35c9f238c19cb"
            ]
        ]
    },
    {
        "id": "7eb35c9f238c19cb",
        "type": "subflow:subflow-facis-visibility",
        "z": "tab-feeds",
        "name": "visibility:city-berlin",
        "env": [],
        "x": 920,
        "y": 1320,
        "wires": [
            [
                "74d4012e3de2eae1"
            ]
        ]
    },
    {
        "id": "74d4012e3de2eae1",
        "type": "function",
        "z": "tab-feeds",
        "name": "store:visibility",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1320,
        "wires": [
            [
                "1b1f1beb2e0634d6"
            ]
        ]
    },
    {
        "id": "1b1f1beb2e0634d6",
        "type": "link out",
        "z": "tab-feeds",
        "name": "\u2192 feeds.kafka.city.weather",
        "mode": "link",
        "links": [
            "a90f7b95d55ce2f2"
        ],
        "x": 1360,
        "y": 1320,
        "wires": []
    }
]
