services/simulation/orce/flows/facis-simulation-mqtt.json
[
  {
    "id": "tab-mqtt-adapter",
    "type": "tab",
    "label": "FACIS Simulation \u2014 MQTT Adapter",
    "disabled": false,
    "info": "ORCE-native MQTT adapter for the simulation runtime.\n\nDriven by the Feeds tab via `sim.envelope` link-in. Splits the\nenvelope into per-feed messages and publishes to facis/* topics\npreserving QoS and retain flags from the legacy flow.\n\nHealth endpoint preserved: GET /api/orce/health."
  },
  {
    "id": "comment-mqtt",
    "type": "comment",
    "z": "tab-mqtt-adapter",
    "name": "ORCE-native MQTT adapter (envelope \u2192 facis/* topics)",
    "info": "Driven by the Feeds tab via link-in `sim.envelope`.\nTopic naming and QoS preserved from the legacy facis-simulation-mqtt\nHTTP-driven flow.",
    "x": 250,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "FACIS MQTT Broker",
    "broker": "mqtt",
    "port": "1883",
    "clientid": "facis-orce-mqtt",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "facis/orce/status",
    "birthQos": "1",
    "birthRetain": "true",
    "birthPayload": "{\"status\":\"online\",\"node\":\"orce-mqtt\"}",
    "birthMsg": {},
    "closeTopic": "facis/orce/status",
    "closeQos": "1",
    "closeRetain": "true",
    "closePayload": "{\"status\":\"offline\",\"node\":\"orce-mqtt\"}",
    "closeMsg": {},
    "willTopic": "facis/orce/status",
    "willQos": "1",
    "willRetain": "true",
    "willPayload": "{\"status\":\"unexpected_disconnect\",\"node\":\"orce-mqtt\"}",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "link-in-envelope",
    "type": "link in",
    "z": "tab-mqtt-adapter",
    "name": "\u2190 sim.envelope",
    "links": [],
    "x": 130,
    "y": 200,
    "wires": [
      [
        "validate-schema"
      ]
    ]
  },
  {
    "id": "validate-schema",
    "type": "function",
    "z": "tab-mqtt-adapter",
    "name": "Validate Schema",
    "func": "// MQTT adapter validation \u2014 guard against malformed envelopes.\nconst p = msg.payload;\nconst required = ['type', 'schema_version', 'timestamp', 'site_id', 'smart_energy', 'smart_city'];\nconst missing = required.filter(f => p[f] === undefined);\nif (missing.length > 0) {\n    node.error('mqtt-adapter: invalid envelope, missing fields: ' + missing.join(', '), msg);\n    return null;\n}\nif (p.type !== 'sim.tick') {\n    node.error('mqtt-adapter: invalid envelope.type ' + p.type, msg);\n    return null;\n}\nflow.set('last_mqtt_tick', p.timestamp);\nflow.set('mqtt_tick_count', (flow.get('mqtt_tick_count') || 0) + 1);\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 240,
    "wires": [
      [
        "split-feeds-mqtt"
      ]
    ]
  },
  {
    "id": "split-feeds-mqtt",
    "type": "function",
    "z": "tab-mqtt-adapter",
    "name": "Split & Route to MQTT Topics",
    "func": "// Split unified envelope into per-feed MQTT messages.\nconst envelope = msg.payload;\nconst ts = envelope.timestamp;\nconst siteId = envelope.site_id;\nconst cityId = envelope.smart_city.city_id || 'city';\nconst msgs = [];\n\nfunction emit(topic, key, payload, qos, retain) {\n    msgs.push({\n        topic: topic,\n        payload: JSON.stringify(payload),\n        qos: qos,\n        retain: retain,\n        _entityKey: key\n    });\n}\n\nfor (const m of (envelope.smart_energy.meters || [])) {\n    emit('facis/' + siteId + '/meter/' + (m.meter_id || 'unknown'), m.meter_id, m, 1, false);\n}\nfor (const p of (envelope.smart_energy.pv || [])) {\n    const id = p.system_id || p.pv_system_id || 'unknown';\n    emit('facis/' + siteId + '/pv/' + id, id, p, 1, false);\n}\nif (envelope.smart_energy.weather) {\n    emit('facis/' + siteId + '/weather/current', 'weather', envelope.smart_energy.weather, 0, true);\n}\nif (envelope.smart_energy.price) {\n    emit('facis/' + siteId + '/prices/spot', 'price', envelope.smart_energy.price, 1, true);\n}\nfor (const c of (envelope.smart_energy.consumers || [])) {\n    emit('facis/' + siteId + '/loads/' + (c.device_type || 'device'), c.device_id, c, 0, false);\n}\nfor (const l of (envelope.smart_city.streetlights || [])) {\n    emit('facis/' + cityId + '/light/' + (l.zone_id || 'zone') + '/' + (l.light_id || 'light'), l.light_id, l, 0, false);\n}\nfor (const t of (envelope.smart_city.traffic || [])) {\n    emit('facis/' + cityId + '/traffic/' + (t.zone_id || 'zone'), t.zone_id, t, 0, false);\n}\nfor (const e of (envelope.smart_city.events || [])) {\n    emit('facis/' + cityId + '/event/' + (e.zone_id || 'zone'), e.zone_id, e, 1, false);\n}\nif (envelope.smart_city.visibility) {\n    emit('facis/' + cityId + '/weather', cityId, envelope.smart_city.visibility, 0, true);\n}\n\n// Status retained topic\nmsgs.push({\n    topic: 'facis/' + siteId + '/simulation/status',\n    payload: JSON.stringify({\n        timestamp: ts,\n        last_seed: envelope.seed,\n        mode: envelope.mode\n    }),\n    qos: 1,\n    retain: true\n});\n\nnode.send([msgs]);\nreturn null;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "// Initialize flow-level counters on deploy\nflow.set('tick_count', 0);\nflow.set('total_messages_published', 0);\nflow.set('error_count', 0);",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 240,
    "wires": [
      [
        "mqtt-publish-loop"
      ]
    ]
  },
  {
    "id": "mqtt-publish-loop",
    "type": "function",
    "z": "tab-mqtt-adapter",
    "name": "Set MQTT Properties",
    "func": "// Each incoming msg.payload is an MQTT message descriptor:\n// { topic, qos, retain, payload }\nconst m = msg.payload;\n\nmsg.topic = m.topic;\nmsg.qos = m.qos;\nmsg.retain = m.retain;\nmsg.payload = m.payload;\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 180,
    "wires": [
      [
        "mqtt-out-publish"
      ]
    ]
  },
  {
    "id": "mqtt-out-publish",
    "type": "mqtt out",
    "z": "tab-mqtt-adapter",
    "name": "Publish to MQTT",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-config",
    "x": 1080,
    "y": 180,
    "wires": []
  },
  {
    "id": "debug-tick",
    "type": "debug",
    "z": "tab-mqtt-adapter",
    "name": "Tick Monitor",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.timestamp",
    "statusType": "msg",
    "x": 860,
    "y": 300,
    "wires": []
  },
  {
    "id": "mqtt-status-monitor",
    "type": "status",
    "z": "tab-mqtt-adapter",
    "name": "MQTT Connection Status",
    "scope": [
      "mqtt-out-publish"
    ],
    "x": 180,
    "y": 420,
    "wires": [
      [
        "handle-mqtt-status"
      ]
    ]
  },
  {
    "id": "handle-mqtt-status",
    "type": "function",
    "z": "tab-mqtt-adapter",
    "name": "Track Connection Health",
    "func": "const status = msg.status;\n\nif (status.fill === 'green') {\n    flow.set('mqtt_connected', true);\n    flow.set('mqtt_last_connected', new Date().toISOString());\n} else if (status.fill === 'red') {\n    flow.set('mqtt_connected', false);\n    flow.set('error_count', (flow.get('error_count') || 0) + 1);\n    node.warn('MQTT broker disconnected: ' + (status.text || 'unknown'));\n}\n\nmsg.payload = {\n    connected: flow.get('mqtt_connected'),\n    last_connected: flow.get('mqtt_last_connected'),\n    errors: flow.get('error_count') || 0,\n    total_published: flow.get('total_messages_published') || 0\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 420,
    "wires": [
      [
        "debug-mqtt-status"
      ]
    ]
  },
  {
    "id": "debug-mqtt-status",
    "type": "debug",
    "z": "tab-mqtt-adapter",
    "name": "MQTT Status Log",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 420,
    "wires": []
  },
  {
    "id": "http-in-health",
    "type": "http in",
    "z": "tab-mqtt-adapter",
    "name": "GET /api/orce/health",
    "url": "/api/orce/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 520,
    "wires": [
      [
        "build-health-response"
      ]
    ]
  },
  {
    "id": "build-health-response",
    "type": "function",
    "z": "tab-mqtt-adapter",
    "name": "Build Health Response",
    "func": "const mqttConnected = flow.get('mqtt_connected');\nconst healthy = mqttConnected !== false;\n\nmsg.statusCode = healthy ? 200 : 503;\nmsg.payload = {\n    status: healthy ? 'healthy' : 'degraded',\n    transport: 'mqtt',\n    flow_variant: 'facis-simulation-mqtt',\n    mqtt: {\n        connected: mqttConnected !== false,\n        last_connected: flow.get('mqtt_last_connected') || null,\n        broker: 'mqtt:1883'\n    },\n    stats: {\n        tick_count: flow.get('tick_count') || 0,\n        last_tick: flow.get('last_tick') || null,\n        total_messages_published: flow.get('total_messages_published') || 0,\n        last_feed_counts: flow.get('last_feed_counts') || {},\n        error_count: flow.get('error_count') || 0\n    },\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 520,
    "wires": [
      [
        "http-response-health"
      ]
    ]
  },
  {
    "id": "http-response-health",
    "type": "http response",
    "z": "tab-mqtt-adapter",
    "name": "Health Response",
    "statusCode": "",
    "headers": {},
    "x": 660,
    "y": 520,
    "wires": []
  }
]