services/simulation/orce/subflows/energy-price-simulator.subflow.json
[
  {
    "id": "subflow-facis-price",
    "type": "subflow",
    "name": "FACIS Price",
    "info": "FACIS Simulation \u2014 EPEX-shaped day-ahead spot price.\nMirrors src/simulators/energy_price/{simulator,patterns}.py.\nPhysics duplicated in tests/flows/smart-energy.spec.js.",
    "category": "FACIS Simulation",
    "in": [
      {
        "x": 50,
        "y": 80,
        "wires": [
          {
            "id": "fn-price-compute"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 600,
        "y": 80,
        "wires": [
          {
            "id": "fn-price-compute",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {
      "module": "facis-simulation-orce",
      "version": "0.1.0",
      "license": "Apache-2.0"
    },
    "color": "#FFAB91",
    "icon": "font-awesome/fa-eur"
  },
  {
    "id": "fn-price-compute",
    "type": "function",
    "z": "subflow-facis-price",
    "name": "energy-price-simulator compute",
    "func": "function makeRng(baseSeed, entityId, tag, tsMs) {\n    const key = String(baseSeed) + ':' + String(entityId) + ':' + String(tag) + ':' + String(tsMs);\n    const seedHex = crypto.createHash('sha256').update(key).digest('hex').slice(0, 16);\n    return seedrandom.alea(seedHex);\n}\nfunction uniform(rng, min, max) { return min + (max - min) * rng(); }\nfunction normal(rng, mean, stddev) {\n    let u = 0; let v = 0;\n    while (u === 0) u = rng();\n    while (v === 0) v = rng();\n    const z = Math.sqrt(-2 * Math.log(u)) * Math.cos(2 * Math.PI * v);\n    return mean + stddev * z;\n}\nfunction isWeekend(d) { const w = d.getUTCDay(); return w === 0 || w === 6; }\n\nconst HOURLY_MULT = [0.9, 0.85, 0.82, 0.83, 0.88, 0.95, 1.05, 1.15, 1.25, 1.1, 1.05, 1.0, 0.98, 0.95, 0.97, 1.02, 1.08, 1.2, 1.35, 1.4, 1.15, 1.05, 0.98, 0.93];\n\nconst DEFAULT_CFG = {\n    feed_id: 'price-default',\n    night_price: 0.08,\n    morning_peak_price: 0.18,\n    midday_price: 0.12,\n    evening_peak_price: 0.22,\n    evening_price: 0.14,\n    weekend_discount_pct: 7.5,\n    volatility_pct: 8.0,\n    min_price: 0.01\n};\n\nfunction tariffType(hour) {\n    if (hour < 6) return 'NIGHT';\n    if (hour < 9) return 'MORNING_PEAK';\n    if (hour < 17) return 'MIDDAY';\n    if (hour < 20) return 'EVENING_PEAK';\n    return 'EVENING';\n}\n\nfunction basePrice(hour, cfg) {\n    const t = tariffType(hour);\n    if (t === 'NIGHT') return cfg.night_price;\n    if (t === 'MORNING_PEAK') return cfg.morning_peak_price;\n    if (t === 'MIDDAY') return cfg.midday_price;\n    if (t === 'EVENING_PEAK') return cfg.evening_peak_price;\n    return cfg.evening_price;\n}\n\nfunction hourlyMultiplier(date) {\n    const h = date.getUTCHours();\n    const m = date.getUTCMinutes();\n    const cur = HOURLY_MULT[h];\n    const nxt = HOURLY_MULT[(h + 1) % 24];\n    return cur + (nxt - cur) * (m / 60);\n}\n\nfunction generatePrice(payload) {\n    const baseSeed = (typeof payload.base_seed === 'number') ? payload.base_seed : 12345;\n    const entityId = payload.entity_id || 'price-default';\n    const tsMs = (typeof payload.timestamp_ms === 'number') ? payload.timestamp_ms : 0;\n    const isoTs = payload.timestamp || new Date(tsMs).toISOString();\n    const cfg = Object.assign({}, DEFAULT_CFG, payload.config || {});\n    const mode = payload.mode || 'normal';\n    const date = new Date(isoTs);\n    const rng = makeRng(baseSeed, entityId, 'price', tsMs);\n\n    const hour = date.getUTCHours();\n    const t = tariffType(hour);\n    let p = basePrice(hour, cfg) * hourlyMultiplier(date);\n    if (isWeekend(date)) p *= (1 - cfg.weekend_discount_pct / 100);\n    let vol = cfg.volatility_pct;\n    if (mode === 'event') vol *= 2;\n    p *= (1 + normal(rng, 0, vol / 100));\n    p = Math.max(p, cfg.min_price);\n\n    return {\n        timestamp: isoTs,\n        feed_id: cfg.feed_id || entityId,\n        price_eur_per_kwh: p,\n        tariff_type: t\n    };\n}\n\nmsg.payload = generatePrice(msg.payload || {});\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "seedrandom",
        "module": "seedrandom"
      },
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 320,
    "y": 80,
    "wires": [
      []
    ]
  }
]