services/simulation/orce/subflows/visibility-simulator.subflow.json
[
  {
    "id": "subflow-facis-visibility",
    "type": "subflow",
    "name": "FACIS Visibility",
    "info": "FACIS Simulation \u2014 Smart-city fog/visibility + sunrise/sunset.\nMirrors src/simulators/smart_city/visibility.py.",
    "category": "FACIS Simulation",
    "in": [
      {
        "x": 50,
        "y": 80,
        "wires": [
          {
            "id": "fn-visibility-compute"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 600,
        "y": 80,
        "wires": [
          {
            "id": "fn-visibility-compute",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {
      "module": "facis-simulation-orce",
      "version": "0.1.0",
      "license": "Apache-2.0"
    },
    "color": "#CE93D8",
    "icon": "font-awesome/fa-eye"
  },
  {
    "id": "fn-visibility-compute",
    "type": "function",
    "z": "subflow-facis-visibility",
    "name": "visibility compute",
    "func": "function makeRng(baseSeed, entityId, tag, tsMs) {\n    const key = String(baseSeed) + ':' + String(entityId) + ':' + String(tag) + ':' + String(tsMs);\n    const seedHex = crypto.createHash('sha256').update(key).digest('hex').slice(0, 16);\n    return seedrandom.alea(seedHex);\n}\nfunction uniform(rng, a, b) { return a + (b - a) * rng(); }\nfunction isWeekend(d) { const w = d.getUTCDay(); return w === 0 || w === 6; }\nfunction dayOfYear(d) {\n    const start = Date.UTC(d.getUTCFullYear(), 0, 0);\n    return Math.floor((d.getTime() - start) / 86400000);\n}\nfunction calcSunTimes(date, latitude, longitude) {\n    const doy = dayOfYear(date);\n    const decl = 23.45 * Math.sin((Math.PI / 180) * (360 / 365) * (doy - 81));\n    const declRad = decl * Math.PI / 180;\n    const latRad = latitude * Math.PI / 180;\n    let cosHa = -Math.tan(latRad) * Math.tan(declRad);\n    cosHa = Math.max(-1, Math.min(1, cosHa));\n    const haDeg = Math.acos(cosHa) * 180 / Math.PI;\n    const noonH = 12 - longitude / 15;\n    let sunriseH = Math.max(0, Math.min(23.99, noonH - haDeg / 15));\n    let sunsetH = Math.max(0, Math.min(23.99, noonH + haDeg / 15));\n    function fmt(h) {\n        const hh = Math.floor(h);\n        const mm = Math.floor((h - hh) * 60);\n        return String(hh).padStart(2, '0') + ':' + String(mm).padStart(2, '0');\n    }\n    return [fmt(sunriseH), fmt(sunsetH), sunriseH, sunsetH];\n}\n\nconst DEFAULT_CFG = {\n    latitude: 52.52,\n    longitude: 13.405\n};\n\nfunction fogFromTime(hour) {\n    if (hour >= 4 && hour < 8) {\n        const pf = 1 - Math.abs(hour - 6) / 2;\n        return 50 * Math.max(0, pf);\n    }\n    if (hour >= 8 && hour < 14) return Math.max(0, 25 * (1 - (hour - 8) / 6));\n    if (hour >= 20 && hour < 24) return 15 * ((hour - 20) / 4);\n    if (hour >= 0 && hour < 4) return 20;\n    return 5;\n}\n\nfunction classifyVisibility(fog) {\n    if (fog < 30) return 'GOOD';\n    if (fog < 60) return 'MEDIUM';\n    return 'POOR';\n}\n\nfunction generateVisibility(payload) {\n    const baseSeed = (typeof payload.base_seed === 'number') ? payload.base_seed : 12345;\n    const entityId = payload.entity_id || 'visibility-default';\n    const tsMs = (typeof payload.timestamp_ms === 'number') ? payload.timestamp_ms : 0;\n    const isoTs = payload.timestamp || new Date(tsMs).toISOString();\n    const cityId = payload.city_id || 'city-berlin';\n    const cfg = Object.assign({}, DEFAULT_CFG, payload.config || {});\n    const date = new Date(isoTs);\n    const rng = makeRng(baseSeed, entityId, 'visibility', tsMs);\n    const hour = date.getUTCHours() + date.getUTCMinutes() / 60;\n    let fog = fogFromTime(hour);\n    fog = Math.max(0, Math.min(100, fog + uniform(rng, -10, 10)));\n    const [sunrise, sunset] = calcSunTimes(date, cfg.latitude, cfg.longitude);\n    return {\n        city_id: cityId, timestamp: isoTs,\n        fog_index: fog,\n        visibility: classifyVisibility(fog),\n        sunrise_time: sunrise, sunset_time: sunset\n    };\n}\n\nmsg.payload = generateVisibility(msg.payload || {});\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "seedrandom",
        "module": "seedrandom"
      },
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 320,
    "y": 80,
    "wires": [
      []
    ]
  }
]