services/simulation/orce/subflows/weather-simulator.subflow.json
[
  {
    "id": "subflow-facis-weather",
    "type": "subflow",
    "name": "FACIS Weather",
    "info": "FACIS Simulation \u2014 Weather subflow\n\nGenerates a WeatherReading for a given (entity_id, timestamp_ms) using\nthe same daily/seasonal/diurnal cycles as `src/simulators/weather/`.\nUses seedrandom.alea seeded via SHA-256 (mirrors `rng.subflow.json`).\n\nInput msg.payload:\n  base_seed, entity_id, timestamp_ms, timestamp (ISO), site_id\n  optional config: { latitude, longitude, base_temperature_summer_c, ... }\n\nOutput msg.payload (WeatherReading):\n  { site_id, timestamp, location, conditions: { temperature_c, humidity_percent,\n    wind_speed_ms, wind_direction_deg, cloud_cover_percent,\n    ghi_w_m2, dni_w_m2, dhi_w_m2 } }\n\nPhysics is duplicated in tests/flows/weather.spec.js \u2014 keep in sync.",
    "category": "FACIS Simulation",
    "in": [
      {
        "x": 50,
        "y": 80,
        "wires": [
          {
            "id": "fn-weather-compute"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 600,
        "y": 80,
        "wires": [
          {
            "id": "fn-weather-compute",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {
      "module": "facis-simulation-orce",
      "version": "0.1.0",
      "license": "Apache-2.0"
    },
    "color": "#FFD580",
    "icon": "font-awesome/fa-cloud"
  },
  {
    "id": "fn-weather-compute",
    "type": "function",
    "z": "subflow-facis-weather",
    "name": "weather compute",
    "func": "// === FACIS Weather subflow physics ============================================\n// Mirrors src/simulators/weather/{simulator,temperature,wind,irradiance}.py\n// Determinism: seedrandom.alea seeded via SHA-256(base_seed:entity_id:tag:ts_ms)\n// Keep tests/flows/weather.spec.js in sync.\n\nconst DEFAULT_CFG = {\n    latitude: 52.52,\n    longitude: 13.4,\n    base_temperature_summer_c: 22,\n    base_temperature_winter_c: 0,\n    daily_temp_amplitude_c: 8,\n    temperature_variance_c: 1.5,\n    base_humidity_percent: 65,\n    humidity_variance_percent: 8,\n    base_wind_speed_ms: 4.0,\n    wind_variance_ms: 1.5,\n    prevailing_wind_direction_deg: 270,\n    wind_direction_variance_deg: 30,\n    base_cloud_cover_percent: 40,\n    cloud_variance_percent: 15,\n    max_clear_sky_ghi_w_m2: 1000\n};\n\nfunction makeRng(baseSeed, entityId, tag, tsMs) {\n    const key = String(baseSeed) + ':' + String(entityId) + ':' + String(tag) + ':' + String(tsMs);\n    const seedHex = crypto.createHash('sha256').update(key).digest('hex').slice(0, 16);\n    return seedrandom.alea(seedHex);\n}\n\nfunction normal(rng, mean, stddev) {\n    let u = 0; let v = 0;\n    while (u === 0) u = rng();\n    while (v === 0) v = rng();\n    const z = Math.sqrt(-2 * Math.log(u)) * Math.cos(2 * Math.PI * v);\n    return mean + stddev * z;\n}\n\nfunction uniform(rng, min, max) {\n    return min + (max - min) * rng();\n}\n\nfunction dayOfYear(d) {\n    const start = Date.UTC(d.getUTCFullYear(), 0, 0);\n    const diff = d.getTime() - start;\n    return Math.floor(diff / 86400000);\n}\n\nfunction seasonalFactor(date) {\n    const doy = dayOfYear(date);\n    const angle = 2 * Math.PI * (doy - 182) / 365;\n    return Math.cos(angle);\n}\n\nfunction diurnalFactor(date) {\n    const hour = date.getUTCHours() + date.getUTCMinutes() / 60;\n    const angle = 2 * Math.PI * (hour - 15) / 24;\n    return Math.cos(angle);\n}\n\nfunction diurnalWindFactor(date) {\n    const hour = date.getUTCHours() + date.getUTCMinutes() / 60;\n    const angle = 2 * Math.PI * (hour - 14) / 24;\n    const f = 1.0 - 0.4 * Math.cos(angle);\n    return Math.max(0.6, Math.min(1.4, f));\n}\n\nfunction calculateTemperature(date, cfg, rng) {\n    const seasonal = seasonalFactor(date);\n    const seasonalMid = (cfg.base_temperature_summer_c + cfg.base_temperature_winter_c) / 2;\n    const seasonalAmp = (cfg.base_temperature_summer_c - cfg.base_temperature_winter_c) / 2;\n    const seasonalTemp = seasonalMid + seasonalAmp * seasonal;\n    const effAmp = cfg.daily_temp_amplitude_c * (0.6 + 0.4 * (seasonal + 1) / 2);\n    const diurnal = diurnalFactor(date);\n    let t = seasonalTemp + effAmp * diurnal;\n    if (cfg.temperature_variance_c > 0) {\n        t += normal(rng, 0, cfg.temperature_variance_c);\n    }\n    return t;\n}\n\nfunction calculateHumidity(temperatureC, cfg, rng) {\n    const tempEffect = Math.max(0, temperatureC - 15);\n    let h = cfg.base_humidity_percent - tempEffect;\n    if (cfg.humidity_variance_percent > 0) {\n        h += normal(rng, 0, cfg.humidity_variance_percent);\n    }\n    return Math.max(20, Math.min(95, h));\n}\n\nfunction calculateWindSpeed(date, cfg, rng) {\n    const f = diurnalWindFactor(date);\n    let s = cfg.base_wind_speed_ms * f;\n    if (cfg.wind_variance_ms > 0) {\n        s += normal(rng, 0, cfg.wind_variance_ms);\n    }\n    return Math.max(0, s);\n}\n\nfunction calculateWindDirection(cfg, rng) {\n    let d = cfg.prevailing_wind_direction_deg;\n    if (cfg.wind_direction_variance_deg > 0) {\n        d += normal(rng, 0, cfg.wind_direction_variance_deg);\n    }\n    d = d % 360;\n    if (d < 0) d += 360;\n    return d;\n}\n\nfunction calculateCloudCover(date, cfg, rng) {\n    const hour = date.getUTCHours() + date.getUTCMinutes() / 60;\n    const angle = 2 * Math.PI * (hour - 15) / 24;\n    const diurnalVar = -0.15 * Math.cos(angle);\n    let cover = cfg.base_cloud_cover_percent * (1 + diurnalVar);\n    if (cfg.cloud_variance_percent > 0) {\n        cover += normal(rng, 0, cfg.cloud_variance_percent);\n    }\n    return Math.max(0, Math.min(100, cover));\n}\n\nfunction solarPosition(date, latitude, longitude) {\n    const doy = dayOfYear(date);\n    const hourUtc = date.getUTCHours() + date.getUTCMinutes() / 60 + date.getUTCSeconds() / 3600;\n    const declination = (23.45 * Math.PI / 180) * Math.sin(2 * Math.PI * (284 + doy) / 365);\n    const b = 2 * Math.PI * (doy - 81) / 365;\n    const eot = 9.87 * Math.sin(2 * b) - 7.53 * Math.cos(b) - 1.5 * Math.sin(b);\n    const timeOffset = 4 * longitude;\n    const solarTime = hourUtc * 60 + timeOffset + eot;\n    const hourAngleDeg = (solarTime / 4.0) - 180;\n    const hourAngle = hourAngleDeg * Math.PI / 180;\n    const lat = latitude * Math.PI / 180;\n    const sinAlt = Math.sin(lat) * Math.sin(declination) +\n        Math.cos(lat) * Math.cos(declination) * Math.cos(hourAngle);\n    const altRad = Math.asin(Math.max(-1, Math.min(1, sinAlt)));\n    const altDeg = altRad * 180 / Math.PI;\n    let azDeg;\n    const cosAz = (Math.sin(declination) - Math.sin(lat) * Math.sin(altRad)) /\n        (Math.cos(lat) * Math.cos(altRad) + 1e-10);\n    const cosAzClamped = Math.max(-1, Math.min(1, cosAz));\n    if (hourAngleDeg < 0) {\n        azDeg = Math.acos(cosAzClamped) * 180 / Math.PI;\n    } else {\n        azDeg = 360 - Math.acos(cosAzClamped) * 180 / Math.PI;\n    }\n    return { altitude_deg: Math.max(0, altDeg), azimuth_deg: azDeg, is_daylight: altDeg > 0 };\n}\n\nfunction clearSkyGhi(altitudeDeg, maxGhi) {\n    if (altitudeDeg <= 0) return 0;\n    const altRad = altitudeDeg * Math.PI / 180;\n    const airMass = 1.0 / Math.max(Math.sin(altRad), 0.05);\n    const transmission = Math.pow(0.7, Math.pow(airMass, 0.678));\n    return Math.max(0, maxGhi * Math.sin(altRad) * transmission);\n}\n\nfunction applyCloudFactor(clearSky, cloudPercent, rng) {\n    if (clearSky <= 0) return 0;\n    let f = 1.0 - 0.5 * (cloudPercent / 100.0);\n    f = Math.max(0.3, Math.min(1.0, f + uniform(rng, -0.05, 0.05)));\n    return clearSky * f;\n}\n\nfunction splitGhi(ghi, altitudeDeg, cloudPercent) {\n    if (ghi <= 0 || altitudeDeg <= 0) return { ghi_w_m2: 0, dni_w_m2: 0, dhi_w_m2: 0 };\n    const altRad = altitudeDeg * Math.PI / 180;\n    const kt = 1.0 - 0.7 * (cloudPercent / 100.0);\n    let diffuseFraction;\n    if (kt <= 0.22) {\n        diffuseFraction = 1.0 - 0.09 * kt;\n    } else if (kt <= 0.80) {\n        diffuseFraction = 0.9511 - 0.1604 * kt + 4.388 * kt * kt - 16.638 * Math.pow(kt, 3) + 12.336 * Math.pow(kt, 4);\n    } else {\n        diffuseFraction = 0.165;\n    }\n    const dhi = ghi * diffuseFraction;\n    const directHorizontal = ghi - dhi;\n    const dni = directHorizontal / Math.max(Math.sin(altRad), 0.05);\n    return {\n        ghi_w_m2: Math.max(0, ghi),\n        dni_w_m2: Math.max(0, Math.min(dni, 1200)),\n        dhi_w_m2: Math.max(0, dhi)\n    };\n}\n\nfunction generateWeather(payload) {\n    const baseSeed = (typeof payload.base_seed === 'number') ? payload.base_seed : 12345;\n    const entityId = payload.entity_id || 'weather-default';\n    const tsMs = (typeof payload.timestamp_ms === 'number') ? payload.timestamp_ms : 0;\n    const isoTs = payload.timestamp || new Date(tsMs).toISOString();\n    const siteId = payload.site_id || '';\n    const cfg = Object.assign({}, DEFAULT_CFG, payload.config || {});\n    const date = new Date(isoTs);\n\n    const cloudRng = makeRng(baseSeed, entityId, 'cloud', tsMs);\n    const tempRng = makeRng(baseSeed, entityId, 'temp', tsMs);\n    const humRng = makeRng(baseSeed, entityId, 'hum', tsMs);\n    const windSRng = makeRng(baseSeed, entityId, 'winds', tsMs);\n    const windDRng = makeRng(baseSeed, entityId, 'windd', tsMs);\n    const irrRng = makeRng(baseSeed, entityId, 'irr', tsMs);\n\n    const cloudCover = calculateCloudCover(date, cfg, cloudRng);\n    const temperature = calculateTemperature(date, cfg, tempRng);\n    const humidity = calculateHumidity(temperature, cfg, humRng);\n    const windSpeed = calculateWindSpeed(date, cfg, windSRng);\n    const windDirection = calculateWindDirection(cfg, windDRng);\n\n    const sun = solarPosition(date, cfg.latitude, cfg.longitude);\n    let irradiance = { ghi_w_m2: 0, dni_w_m2: 0, dhi_w_m2: 0 };\n    if (sun.is_daylight) {\n        const clearSky = clearSkyGhi(sun.altitude_deg, cfg.max_clear_sky_ghi_w_m2);\n        const adjustedGhi = applyCloudFactor(clearSky, cloudCover, irrRng);\n        irradiance = splitGhi(adjustedGhi, sun.altitude_deg, cloudCover);\n    }\n\n    return {\n        site_id: siteId,\n        timestamp: isoTs,\n        location: { latitude: cfg.latitude, longitude: cfg.longitude },\n        conditions: {\n            temperature_c: temperature,\n            humidity_percent: humidity,\n            wind_speed_ms: windSpeed,\n            wind_direction_deg: windDirection,\n            cloud_cover_percent: cloudCover,\n            ghi_w_m2: irradiance.ghi_w_m2,\n            dni_w_m2: irradiance.dni_w_m2,\n            dhi_w_m2: irradiance.dhi_w_m2\n        }\n    };\n}\n\nmsg.payload = generateWeather(msg.payload || {});\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "seedrandom",
        "module": "seedrandom"
      },
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 320,
    "y": 80,
    "wires": [
      []
    ]
  }
]
