services/dsp-connector/orce/flows/facis-dsp-transfers.json
[
  {
    "id": "tab-dsp-transfers",
    "type": "tab",
    "label": "FACIS DSP — Transfer Process",
    "disabled": false,
    "info": "FR-DSP-003 — Transfer Process. Owns the FSM, access-object provisioning,\nand the five HTTP endpoints. All mutations route through `flow.set('transfers',\n...)` and fire `dsp.persist.transfers` to checkpoint to /data/dsp-state/.\n\nEndpoints:\n  POST /dsp/transfers                 — create + auto-complete (REQUESTED→STARTED→COMPLETED)\n  GET  /dsp/transfers/:id             — read TransferProcess\n  GET  /dsp/transfers                 — list\n  POST /dsp/transfers/:id/suspend     — STARTED→SUSPENDED only, else 400\n  POST /dsp/transfers/:id/terminate   — REQUESTED|STARTED|SUSPENDED→TERMINATED, else 400\n\nFSM matrix (transfer_store.py:25-32):\n  REQUESTED  → STARTED, TERMINATED, ERROR\n  STARTED    → COMPLETED, SUSPENDED, TERMINATED, ERROR\n  SUSPENDED  → STARTED, TERMINATED\n  COMPLETED, TERMINATED, ERROR — terminal\n\nHMAC URL (transfer_store.py:147-163):\n  message    = `GET:${path}:${windowFrom}:${windowTo}:${expiresAt}`\n  expiresAt  = (now + ttl).isoformat() with µs precision and `+00:00` suffix\n  token      = HMAC-SHA256(DSP_HMAC_SECRET utf8, message utf8) hex (lowercase)\n  url        = `${DSP_DATA_API_BASE_URL}/api/data/${assetId}?from=${...}&to=${...}&expiresAt=${...}&sig=${token}`\n\nKafka access (transfer_store.py:165-182):\n  topic    = `iot.dataset.${assetId}.tp-${transferId}` — Python emits the doubled tp-tp- prefix; preserved.\n  bootstrap = env.DSP_KAFKA_BOOTSTRAP || 'kafka.provider.example:9092'\n  sasl     = { mechanism:'SCRAM-SHA-256', username:`user_${transferId}`, password: token_urlsafe(24) }"
  },
  {
    "id": "dsp-tx-in-create",
    "type": "http in",
    "z": "tab-dsp-transfers",
    "name": "POST /dsp/transfers",
    "url": "/dsp/transfers",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "dsp-tx-create"
      ]
    ]
  },
  {
    "id": "dsp-tx-create",
    "type": "function",
    "z": "tab-dsp-transfers",
    "name": "create + auto-complete",
    "func": "// Outputs: [response, persist-trigger, metric-request, metric-completed, metric-error]\nconst body = (msg.payload && typeof msg.payload === 'object') ? msg.payload : {};\nif (!body.agreementId || !body.assetId) {\n    msg.statusCode = 422;\n    msg.payload = { detail: 'agreementId and assetId are required' };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return [msg, null, null, null, null];\n}\nconst format = body.format || 'http-pull';\nif (format !== 'http-pull' && format !== 'kafka-streaming') {\n    msg.statusCode = 422;\n    msg.payload = { detail: 'format must be http-pull or kafka-streaming' };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return [msg, null, null, null, null];\n}\n\nfunction isoUtcWithOffset(d) {\n    // Python isoformat() on UTC-aware datetime emits microsecond precision\n    // and `+00:00` suffix. JS toISOString() emits ms precision and `Z`. Pad\n    // and swap to match exactly.\n    return d.toISOString().slice(0, -1) + '000+00:00';\n}\n\nfunction provisionHttpPull(transfer) {\n    const secret = env.get('DSP_HMAC_SECRET');\n    const baseUrl = (env.get('DSP_DATA_API_BASE_URL') || 'https://ai-insight.facis.cloud').replace(/\\/$/, '');\n    const ttl = Number(env.get('DSP_DEFAULT_TTL_SECONDS') || '3600');\n    if (!secret) throw new Error('DSP_HMAC_SECRET unset');\n    const path = '/api/data/' + transfer.assetId;\n    const fromTs = (transfer.parameters && transfer.parameters.windowFrom) || '';\n    const toTs = (transfer.parameters && transfer.parameters.windowTo) || '';\n    const expiresAt = isoUtcWithOffset(new Date(Date.now() + ttl * 1000));\n    const message = 'GET:' + path + ':' + fromTs + ':' + toTs + ':' + expiresAt;\n    const token = crypto.createHmac('sha256', Buffer.from(secret, 'utf8'))\n                        .update(message, 'utf8').digest('hex');\n    return {\n        url: baseUrl + path + '?from=' + fromTs + '&to=' + toTs + '&expiresAt=' + expiresAt + '&sig=' + token,\n        token: token,\n        expiresAt: expiresAt,\n        bootstrap: null, topic: null, sasl: null\n    };\n}\n\nfunction provisionKafka(transfer) {\n    const bootstrap = env.get('DSP_KAFKA_BOOTSTRAP') || 'kafka.provider.example:9092';\n    const ttl = Number(env.get('DSP_DEFAULT_TTL_SECONDS') || '3600');\n    const password = crypto.randomBytes(24).toString('base64url'); // matches secrets.token_urlsafe(24)\n    return {\n        url: null, token: null,\n        bootstrap: bootstrap,\n        // Python: f\"iot.dataset.{assetId}.tp-{transfer.id}\" where transfer.id already starts with 'tp-'\n        // → output literally contains 'tp-tp-{12hex}'. Preserved verbatim.\n        topic: 'iot.dataset.' + transfer.assetId + '.tp-' + transfer.id,\n        sasl: { mechanism: 'SCRAM-SHA-256', username: 'user_' + transfer.id, password: password },\n        expiresAt: isoUtcWithOffset(new Date(Date.now() + ttl * 1000))\n    };\n}\n\nconst now = isoUtcWithOffset(new Date());\nconst transferId = 'tp-' + crypto.randomBytes(6).toString('hex');\nconst transfer = {\n    id: transferId,\n    agreementId: body.agreementId,\n    assetId: body.assetId,\n    format: format,\n    state: 'REQUESTED',\n    access: null,\n    reason: null,\n    parameters: body.parameters || {},\n    createdAt: now,\n    updatedAt: now\n};\n\n// Auto-complete: REQUESTED → STARTED → COMPLETED with access provisioning.\n// Mirrors transfer_store.start_and_complete() at transfer_store.py:134-137.\nlet metricCompleted = null;\nlet metricError = null;\ntry {\n    transfer.state = 'STARTED';\n    transfer.updatedAt = isoUtcWithOffset(new Date());\n    const access = format === 'http-pull' ? provisionHttpPull(transfer) : provisionKafka(transfer);\n    transfer.state = 'COMPLETED';\n    transfer.access = access;\n    transfer.updatedAt = isoUtcWithOffset(new Date());\n    metricCompleted = { payload: { family: 'facis_dsp_transfer_completions_total' } };\n    node.log('Transfer ' + transferId + ' COMPLETED (' + format + ')');\n} catch (err) {\n    transfer.state = 'ERROR';\n    transfer.reason = String(err && err.message ? err.message : err);\n    transfer.updatedAt = isoUtcWithOffset(new Date());\n    metricError = { payload: { family: 'facis_dsp_transfer_errors_total' } };\n    node.error('Transfer ' + transferId + ' ERROR: ' + transfer.reason);\n}\n\nconst transfers = flow.get('transfers') || {};\ntransfers[transferId] = transfer;\nflow.set('transfers', transfers);\n\nmsg.payload = { transferId: transferId };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.statusCode = 202;\n\nconst metricRequested = { payload: { family: 'facis_dsp_transfer_requests_total', label: format } };\nreturn [msg, { payload: '' }, metricRequested, metricCompleted, metricError];\n",
    "outputs": 5,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 430,
    "y": 80,
    "wires": [
      [
        "dsp-tx-response"
      ],
      [
        "dsp-tx-link-out-persist"
      ],
      [
        "dsp-tx-link-out-metric"
      ],
      [
        "dsp-tx-link-out-metric"
      ],
      [
        "dsp-tx-link-out-metric"
      ]
    ]
  },
  {
    "id": "dsp-tx-in-get",
    "type": "http in",
    "z": "tab-dsp-transfers",
    "name": "GET /dsp/transfers/:id",
    "url": "/dsp/transfers/:id",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 160,
    "wires": [
      [
        "dsp-tx-get"
      ]
    ]
  },
  {
    "id": "dsp-tx-get",
    "type": "function",
    "z": "tab-dsp-transfers",
    "name": "read by id",
    "func": "const transfers = flow.get('transfers') || {};\nconst id = msg.req.params.id;\nconst found = transfers[id];\nif (!found) {\n    msg.statusCode = 404;\n    msg.payload = { detail: 'Transfer ' + id + ' not found' };\n} else {\n    msg.statusCode = 200;\n    msg.payload = found;\n}\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 160,
    "wires": [
      [
        "dsp-tx-response"
      ]
    ]
  },
  {
    "id": "dsp-tx-in-list",
    "type": "http in",
    "z": "tab-dsp-transfers",
    "name": "GET /dsp/transfers",
    "url": "/dsp/transfers",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 240,
    "wires": [
      [
        "dsp-tx-list"
      ]
    ]
  },
  {
    "id": "dsp-tx-list",
    "type": "function",
    "z": "tab-dsp-transfers",
    "name": "list all",
    "func": "const transfers = flow.get('transfers') || {};\nmsg.payload = Object.values(transfers);\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.statusCode = 200;\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 240,
    "wires": [
      [
        "dsp-tx-response"
      ]
    ]
  },
  {
    "id": "dsp-tx-in-suspend",
    "type": "http in",
    "z": "tab-dsp-transfers",
    "name": "POST /dsp/transfers/:id/suspend",
    "url": "/dsp/transfers/:id/suspend",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 320,
    "wires": [
      [
        "dsp-tx-suspend"
      ]
    ]
  },
  {
    "id": "dsp-tx-suspend",
    "type": "function",
    "z": "tab-dsp-transfers",
    "name": "transition → SUSPENDED",
    "func": "const VALID = {\n    REQUESTED: new Set(['STARTED','TERMINATED','ERROR']),\n    STARTED:   new Set(['COMPLETED','SUSPENDED','TERMINATED','ERROR']),\n    SUSPENDED: new Set(['STARTED','TERMINATED']),\n    COMPLETED: new Set(),\n    TERMINATED: new Set(),\n    ERROR:     new Set()\n};\nconst id = msg.req.params.id;\nconst transfers = flow.get('transfers') || {};\nconst cur = transfers[id];\nif (!cur) {\n    msg.statusCode = 404;\n    msg.payload = { detail: 'Transfer ' + id + ' not found' };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return [msg, null];\n}\nconst target = 'SUSPENDED';\nconst allowed = VALID[cur.state] || new Set();\nif (!allowed.has(target)) {\n    msg.statusCode = 400;\n    msg.payload = { detail: 'Invalid transition: ' + cur.state + ' \\u2192 ' + target +\n                            '. Valid targets: ' + (Array.from(allowed).join(',') || '(terminal)') };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return [msg, null];\n}\nconst now = new Date().toISOString().slice(0, -1) + '000+00:00';\nconst updated = Object.assign({}, cur, { state: target, reason: 'Suspended by consumer', updatedAt: now });\ntransfers[id] = updated;\nflow.set('transfers', transfers);\nmsg.statusCode = 200;\nmsg.payload = updated;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn [msg, { payload: '' }];\n",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 320,
    "wires": [
      [
        "dsp-tx-response"
      ],
      [
        "dsp-tx-link-out-persist"
      ]
    ]
  },
  {
    "id": "dsp-tx-in-terminate",
    "type": "http in",
    "z": "tab-dsp-transfers",
    "name": "POST /dsp/transfers/:id/terminate",
    "url": "/dsp/transfers/:id/terminate",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 400,
    "wires": [
      [
        "dsp-tx-terminate"
      ]
    ]
  },
  {
    "id": "dsp-tx-terminate",
    "type": "function",
    "z": "tab-dsp-transfers",
    "name": "transition → TERMINATED",
    "func": "const VALID = {\n    REQUESTED: new Set(['STARTED','TERMINATED','ERROR']),\n    STARTED:   new Set(['COMPLETED','SUSPENDED','TERMINATED','ERROR']),\n    SUSPENDED: new Set(['STARTED','TERMINATED']),\n    COMPLETED: new Set(),\n    TERMINATED: new Set(),\n    ERROR:     new Set()\n};\nconst id = msg.req.params.id;\nconst transfers = flow.get('transfers') || {};\nconst cur = transfers[id];\nif (!cur) {\n    msg.statusCode = 404;\n    msg.payload = { detail: 'Transfer ' + id + ' not found' };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return [msg, null];\n}\nconst target = 'TERMINATED';\nconst allowed = VALID[cur.state] || new Set();\nif (!allowed.has(target)) {\n    msg.statusCode = 400;\n    msg.payload = { detail: 'Invalid transition: ' + cur.state + ' \\u2192 ' + target +\n                            '. Valid targets: ' + (Array.from(allowed).join(',') || '(terminal)') };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return [msg, null];\n}\nconst now = new Date().toISOString().slice(0, -1) + '000+00:00';\nconst updated = Object.assign({}, cur, { state: target, reason: 'Terminated by consumer', updatedAt: now });\ntransfers[id] = updated;\nflow.set('transfers', transfers);\nmsg.statusCode = 200;\nmsg.payload = updated;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn [msg, { payload: '' }];\n",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 400,
    "wires": [
      [
        "dsp-tx-response"
      ],
      [
        "dsp-tx-link-out-persist"
      ]
    ]
  },
  {
    "id": "dsp-tx-response",
    "type": "http response",
    "z": "tab-dsp-transfers",
    "name": "transfer response",
    "statusCode": "",
    "headers": {},
    "x": 720,
    "y": 240,
    "wires": []
  },
  {
    "id": "dsp-tx-link-out-persist",
    "type": "link out",
    "z": "tab-dsp-transfers",
    "name": "dsp.persist.transfers →",
    "mode": "link",
    "links": [
      "dsp-link-in-persist-transfers"
    ],
    "x": 730,
    "y": 480,
    "wires": []
  },
  {
    "id": "dsp-tx-link-out-metric",
    "type": "link out",
    "z": "tab-dsp-transfers",
    "name": "dsp.metric.inc →",
    "mode": "link",
    "links": [
      "dsp-link-in-metric-inc"
    ],
    "x": 720,
    "y": 540,
    "wires": []
  }
]
