services/ai-insight-service/orce/flows/ai-insight-openapi.json
[
  {
    "id": "tab_ai_insight_openapi",
    "type": "tab",
    "label": "ai-insight-openapi",
    "disabled": false,
    "info": "OpenAPI JSON and interactive docs for ORCE endpoints."
  },
  {
    "id": "http_in_openapi_json_v1",
    "type": "http in",
    "z": "tab_ai_insight_openapi",
    "name": "GET /openapi.json",
    "url": "/openapi.json",
    "method": "get",
    "upload": false,
    "swaggerDoc": {
      "summary": "Get OpenAPI JSON spec",
      "description": "Returns OpenAPI specification for ORCE endpoints."
    },
    "x": 180,
    "y": 120,
    "wires": [
      [
        "fn_build_openapi_spec"
      ]
    ]
  },
  {
    "id": "fn_build_openapi_spec",
    "type": "function",
    "z": "tab_ai_insight_openapi",
    "name": "BuildOpenApiSpec",
    "func": "const apiSpec = {\n  openapi: '3.0.3',\n  info: {\n    title: 'AI Insight ORCE API',\n    version: '0.8.0',\n    description: 'Node-RED ORCE runtime endpoints for AI insight generation and retrieval. ReDoc/Swagger include field-level accepted values and behavior details.',\n  },\n  servers: [\n    {\n      url: '/',\n      description: 'Local ORCE runtime',\n    },\n  ],\n  tags: [\n    { name: 'health', description: 'Service health checks' },\n    { name: 'insights', description: 'Insight generation and retrieval' },\n    { name: 'docs', description: 'OpenAPI artifacts' },\n  ],\n  components: {\n    parameters: {\n      AgreementHeader: {\n        name: 'x-agreement-id',\n        in: 'header',\n        required: true,\n        schema: { type: 'string' },\n        description: 'Agreement identifier used by policy and rate limiting.',\n      },\n      AssetHeader: {\n        name: 'x-asset-id',\n        in: 'header',\n        required: true,\n        schema: { type: 'string' },\n        description: 'Asset identifier used by policy checks.',\n      },\n      UserRolesHeader: {\n        name: 'x-user-roles',\n        in: 'header',\n        required: true,\n        schema: { type: 'string' },\n        description: 'Comma-separated roles. Must include ai_insight_consumer.',\n      },\n      CacheBypassHeader: {\n        name: 'x-insight-cache-bypass',\n        in: 'header',\n        required: false,\n        schema: { type: 'string', enum: ['true', 'false'] },\n        description: 'Optional cache bypass flag. Use true to force recomputation.',\n      },\n      OutputIdPath: {\n        name: 'output_id',\n        in: 'path',\n        required: true,\n        schema: { type: 'string' },\n        description: 'Output identifier generated in insight metadata.',\n      },\n    },\n    headers: {\n      RetryAfter: {\n        description: 'Seconds to wait before retrying after rate limit.',\n        schema: { type: 'string' },\n      },\n    },\n    schemas: {\n      ErrorDetail: {\n        type: 'object',\n        properties: {\n          detail: { type: 'string' },\n        },\n        required: ['detail'],\n        additionalProperties: false,\n      },\n      HealthResponse: {\n        type: 'object',\n        properties: {\n          status: { type: 'string', example: 'ok' },\n          service: { type: 'string', example: 'ai-insight-service' },\n        },\n        required: ['status', 'service'],\n        additionalProperties: true,\n      },\n      InsightMetadata: {\n        type: 'object',\n        properties: {\n          output_id: { type: 'string', format: 'uuid' },\n          llm_model: { type: 'string' },\n          timestamp: { type: 'string', format: 'date-time' },\n          llm_used: { type: 'boolean' },\n          agreement_id: { type: 'string' },\n          asset_id: { type: 'string' },\n          llm_error: { type: ['string', 'null'] },\n        },\n        required: ['output_id', 'llm_model', 'timestamp', 'llm_used', 'agreement_id', 'asset_id', 'llm_error'],\n        additionalProperties: false,\n      },\n      InsightResponse: {\n        type: 'object',\n        properties: {\n          insight_type: { type: 'string', enum: ['anomaly-report', 'energy-summary', 'city-status'] },\n          summary: { type: 'string' },\n          key_findings: {\n            type: 'array',\n            items: { type: 'string' },\n          },\n          recommendations: {\n            type: 'array',\n            items: { type: 'string' },\n          },\n          metadata: { $ref: '#/components/schemas/InsightMetadata' },\n          data: {},\n        },\n        required: ['insight_type', 'summary', 'key_findings', 'recommendations', 'metadata', 'data'],\n        additionalProperties: false,\n      },\n      AnomalyReportRequest: {\n        type: 'object',\n        properties: {\n          start_ts: { type: 'string', format: 'date-time', description: 'Start timestamp (inclusive). Must be earlier than end_ts.' },\n          end_ts: { type: 'string', format: 'date-time', description: 'End timestamp (exclusive upper bound). Must be later than start_ts.' },\n          timezone: { type: 'string', default: 'UTC', description: 'Timezone label for context and narrative. Example: UTC.' },\n          robust_z_threshold: { type: 'number', minimum: 0.000001, default: 3.5, description: 'Anomaly sensitivity threshold. Accepted values: any number > 0.' },\n          include_data: { type: 'boolean', default: false, description: 'When true, include detailed context in response.data; when false, data is null.' },\n        },\n        required: ['start_ts', 'end_ts'],\n        additionalProperties: true,\n      },\n      EnergySummaryRequest: {\n        type: 'object',\n        properties: {\n          start_ts: { type: 'string', format: 'date-time', description: 'Start timestamp (inclusive). Must be earlier than end_ts.' },\n          end_ts: { type: 'string', format: 'date-time', description: 'End timestamp (exclusive upper bound). Must be later than start_ts.' },\n          timezone: { type: 'string', default: 'UTC', description: 'Timezone label for context and narrative. Example: UTC.' },\n          forecast_alpha: { type: 'number', minimum: 0.000001, maximum: 1, default: 0.6, description: 'Forecast smoothing factor. Accepted range: (0, 1].' },\n          trend_epsilon: { type: 'number', minimum: 0, default: 0.02, description: 'Trend sensitivity epsilon. Accepted values: >= 0.' },\n          daily_overview_strategy: {\n            type: 'string',\n            enum: ['strict_daily', 'fallback_hourly'],\n            default: 'strict_daily',\n            description: 'Accepted values: strict_daily (only daily views), fallback_hourly (fallback to hourly aggregation when daily views are missing).',\n          },\n          include_data: { type: 'boolean', default: false, description: 'When true, include detailed context in response.data; when false, data is null.' },\n        },\n        required: ['start_ts', 'end_ts'],\n        additionalProperties: true,\n      },\n      CityStatusRequest: {\n        type: 'object',\n        properties: {\n          start_ts: { type: 'string', format: 'date-time', description: 'Start timestamp (inclusive). Must be earlier than end_ts.' },\n          end_ts: { type: 'string', format: 'date-time', description: 'End timestamp (exclusive upper bound). Must be later than start_ts.' },\n          timezone: { type: 'string', default: 'UTC', description: 'Timezone label for context and narrative. Example: UTC.' },\n          include_data: { type: 'boolean', default: false, description: 'When true, include detailed context in response.data; when false, data is null.' },\n        },\n        required: ['start_ts', 'end_ts'],\n        additionalProperties: true,\n      },\n      LatestInsightEntry: {\n        type: 'object',\n        properties: {\n          cached_at: { type: 'string', format: 'date-time' },\n          output: { $ref: '#/components/schemas/InsightResponse' },\n        },\n        required: ['cached_at', 'output'],\n        additionalProperties: false,\n      },\n      LatestInsightsResponse: {\n        type: 'object',\n        properties: {\n          latest: {\n            type: 'object',\n            properties: {\n              'energy-summary': {\n                oneOf: [\n                  { $ref: '#/components/schemas/LatestInsightEntry' },\n                  { type: 'null' }\n                ]\n              },\n              'anomaly-report': {\n                oneOf: [\n                  { $ref: '#/components/schemas/LatestInsightEntry' },\n                  { type: 'null' }\n                ]\n              },\n              'city-status': {\n                oneOf: [\n                  { $ref: '#/components/schemas/LatestInsightEntry' },\n                  { type: 'null' }\n                ]\n              }\n            },\n            required: ['energy-summary', 'anomaly-report', 'city-status'],\n            additionalProperties: false,\n          },\n        },\n        required: ['latest'],\n        additionalProperties: false,\n      },\n      AIOutputEntityResponse: {\n        type: 'object',\n        properties: {\n          id: { type: 'string', format: 'uuid' },\n          insight_type: { type: 'string' },\n          agreement_id: { type: 'string' },\n          asset_id: { type: 'string' },\n          input_data: { type: 'object', additionalProperties: true },\n          llm_model: { type: 'string' },\n          output_text: { type: 'string' },\n          structured_output: { type: 'object', additionalProperties: true },\n          timestamp: { type: 'string', format: 'date-time' },\n        },\n        required: ['id', 'insight_type', 'agreement_id', 'asset_id', 'input_data', 'llm_model', 'output_text', 'structured_output', 'timestamp'],\n        additionalProperties: false,\n      },\n    },\n    responses: {\n      Error400: {\n        description: 'Invalid request payload.',\n        content: {\n          'application/json': {\n            schema: { $ref: '#/components/schemas/ErrorDetail' },\n            examples: {\n              invalidPayload: { value: { detail: 'Request body must be valid JSON' } },\n            },\n          },\n        },\n      },\n      Error403: {\n        description: 'Policy denied request.',\n        content: {\n          'application/json': {\n            schema: { $ref: '#/components/schemas/ErrorDetail' },\n            examples: {\n              denied: { value: { detail: 'Policy denied: missing required role ai_insight_consumer' } },\n            },\n          },\n        },\n      },\n      Error404: {\n        description: 'Requested entity not found.',\n        content: {\n          'application/json': {\n            schema: { $ref: '#/components/schemas/ErrorDetail' },\n            examples: {\n              notFound: { value: { detail: 'Output not found' } },\n            },\n          },\n        },\n      },\n      Error429: {\n        description: 'Agreement rate limit exceeded.',\n        headers: {\n          'Retry-After': { $ref: '#/components/headers/RetryAfter' },\n        },\n        content: {\n          'application/json': {\n            schema: { $ref: '#/components/schemas/ErrorDetail' },\n            examples: {\n              rateLimited: { value: { detail: 'Agreement rate limit exceeded' } },\n            },\n          },\n        },\n      },\n      Error500: {\n        description: 'Unhandled internal runtime error.',\n        content: {\n          'application/json': {\n            schema: { $ref: '#/components/schemas/ErrorDetail' },\n            examples: {\n              internal: { value: { detail: 'internal_error' } },\n            },\n          },\n        },\n      },\n      Error502: {\n        description: 'Upstream dependency failure (Trino/OIDC/LLM).',\n        content: {\n          'application/json': {\n            schema: { $ref: '#/components/schemas/ErrorDetail' },\n            examples: {\n              upstream: { value: { detail: 'Upstream dependency failure while generating insight' } },\n            },\n          },\n        },\n      },\n    },\n  },\n  paths: {\n    '/api/v1/health': {\n      get: {\n        tags: ['health'],\n        summary: 'Health check',\n        description: 'Returns ORCE runtime health status.',\n        responses: {\n          '200': {\n            description: 'Health response.',\n            content: {\n              'application/json': {\n                schema: { $ref: '#/components/schemas/HealthResponse' },\n                examples: {\n                  ok: {\n                    value: {\n                      status: 'ok',\n                      service: 'ai-insight-service',\n                    },\n                  },\n                },\n              },\n            },\n          },\n          '500': { $ref: '#/components/responses/Error500' },\n        },\n      },\n    },\n    '/api/v1/insights/anomaly-report': {\n      post: {\n        tags: ['insights'],\n        summary: 'Generate anomaly report insight',\n        parameters: [\n          { $ref: '#/components/parameters/AgreementHeader' },\n          { $ref: '#/components/parameters/AssetHeader' },\n          { $ref: '#/components/parameters/UserRolesHeader' },\n          { $ref: '#/components/parameters/CacheBypassHeader' },\n        ],\n        requestBody: {\n          required: true,\n          content: {\n            'application/json': {\n              schema: { $ref: '#/components/schemas/AnomalyReportRequest' },\n              examples: {\n                defaultWindow: {\n                  value: {\n                    start_ts: '2026-03-01T00:00:00Z',\n                    end_ts: '2026-03-02T00:00:00Z',\n                    timezone: 'UTC',\n                    robust_z_threshold: 3.5,\n                    include_data: false,\n                  },\n                },\n              },\n            },\n          },\n        },\n        responses: {\n          '200': {\n            description: 'Insight generated successfully.',\n            content: {\n              'application/json': {\n                schema: { $ref: '#/components/schemas/InsightResponse' },\n              },\n            },\n          },\n          '400': { $ref: '#/components/responses/Error400' },\n          '403': { $ref: '#/components/responses/Error403' },\n          '429': { $ref: '#/components/responses/Error429' },\n          '502': { $ref: '#/components/responses/Error502' },\n        },\n      },\n    },\n    '/api/v1/insights/energy-summary': {\n      post: {\n        tags: ['insights'],\n        summary: 'Generate energy summary insight',\n        parameters: [\n          { $ref: '#/components/parameters/AgreementHeader' },\n          { $ref: '#/components/parameters/AssetHeader' },\n          { $ref: '#/components/parameters/UserRolesHeader' },\n          { $ref: '#/components/parameters/CacheBypassHeader' },\n        ],\n        requestBody: {\n          required: true,\n          content: {\n            'application/json': {\n              schema: { $ref: '#/components/schemas/EnergySummaryRequest' },\n              examples: {\n                strictDaily: {\n                  value: {\n                    start_ts: '2026-03-01T00:00:00Z',\n                    end_ts: '2026-03-02T00:00:00Z',\n                    timezone: 'UTC',\n                    forecast_alpha: 0.6,\n                    trend_epsilon: 0.02,\n                    daily_overview_strategy: 'strict_daily',\n                    include_data: false,\n                  },\n                },\n              },\n            },\n          },\n        },\n        responses: {\n          '200': {\n            description: 'Insight generated successfully.',\n            content: {\n              'application/json': {\n                schema: { $ref: '#/components/schemas/InsightResponse' },\n              },\n            },\n          },\n          '400': { $ref: '#/components/responses/Error400' },\n          '403': { $ref: '#/components/responses/Error403' },\n          '429': { $ref: '#/components/responses/Error429' },\n          '502': { $ref: '#/components/responses/Error502' },\n        },\n      },\n    },\n    '/api/v1/insights/city-status': {\n      post: {\n        tags: ['insights'],\n        summary: 'Generate city status insight',\n        parameters: [\n          { $ref: '#/components/parameters/AgreementHeader' },\n          { $ref: '#/components/parameters/AssetHeader' },\n          { $ref: '#/components/parameters/UserRolesHeader' },\n          { $ref: '#/components/parameters/CacheBypassHeader' },\n        ],\n        requestBody: {\n          required: true,\n          content: {\n            'application/json': {\n              schema: { $ref: '#/components/schemas/CityStatusRequest' },\n              examples: {\n                defaultWindow: {\n                  value: {\n                    start_ts: '2026-03-01T00:00:00Z',\n                    end_ts: '2026-03-02T00:00:00Z',\n                    timezone: 'UTC',\n                    include_data: false,\n                  },\n                },\n              },\n            },\n          },\n        },\n        responses: {\n          '200': {\n            description: 'Insight generated successfully.',\n            content: {\n              'application/json': {\n                schema: { $ref: '#/components/schemas/InsightResponse' },\n              },\n            },\n          },\n          '400': { $ref: '#/components/responses/Error400' },\n          '403': { $ref: '#/components/responses/Error403' },\n          '429': { $ref: '#/components/responses/Error429' },\n          '502': { $ref: '#/components/responses/Error502' },\n        },\n      },\n    },\n    '/api/v1/insights/latest': {\n      get: {\n        tags: ['insights'],\n        summary: 'Get latest insight outputs by type',\n        responses: {\n          '200': {\n            description: 'Latest insight map.',\n            content: {\n              'application/json': {\n                schema: { $ref: '#/components/schemas/LatestInsightsResponse' },\n              },\n            },\n          },\n          '500': { $ref: '#/components/responses/Error500' },\n        },\n      },\n    },\n    '/api/ai/outputs/{output_id}': {\n      get: {\n        tags: ['insights'],\n        summary: 'Get persisted output entity by id',\n        parameters: [\n          { $ref: '#/components/parameters/OutputIdPath' },\n        ],\n        responses: {\n          '200': {\n            description: 'Output entity returned successfully.',\n            content: {\n              'application/json': {\n                schema: { $ref: '#/components/schemas/AIOutputEntityResponse' },\n              },\n            },\n          },\n          '404': { $ref: '#/components/responses/Error404' },\n          '500': { $ref: '#/components/responses/Error500' },\n        },\n      },\n    },\n  },\n};\n\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = apiSpec;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 120,
    "wires": [
      [
        "http_resp_openapi_200_json"
      ]
    ]
  },
  {
    "id": "http_resp_openapi_200_json",
    "type": "http response",
    "z": "tab_ai_insight_openapi",
    "name": "OpenAPI 200 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 860,
    "y": 120,
    "wires": []
  },
  {
    "id": "http_in_docs_v1",
    "type": "http in",
    "z": "tab_ai_insight_openapi",
    "name": "GET /docs",
    "url": "/docs",
    "method": "get",
    "upload": false,
    "swaggerDoc": {
      "summary": "Get Swagger UI docs",
      "description": "Returns interactive API documentation UI."
    },
    "x": 180,
    "y": 240,
    "wires": [
      [
        "fn_build_docs_html"
      ]
    ]
  },
  {
    "id": "fn_build_docs_html",
    "type": "function",
    "z": "tab_ai_insight_openapi",
    "name": "BuildSwaggerUiHtml",
    "func": "msg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'text/html; charset=utf-8' };\nmsg.payload = `<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>AI Insight ORCE API Docs</title>\n  <link rel=\"stylesheet\" href=\"https://unpkg.com/swagger-ui-dist@5/swagger-ui.css\" />\n  <style>\n    html, body { margin: 0; padding: 0; background: #fafafa; }\n    #swagger-ui { max-width: 1200px; margin: 0 auto; }\n  </style>\n</head>\n<body>\n  <div id=\"swagger-ui\"></div>\n  <script src=\"https://unpkg.com/swagger-ui-dist@5/swagger-ui-bundle.js\"></script>\n  <script>\n    window.ui = SwaggerUIBundle({\n      url: '/openapi.json',\n      dom_id: '#swagger-ui',\n      deepLinking: true,\n      displayRequestDuration: true,\n      defaultModelsExpandDepth: 2,\n      docExpansion: 'list',\n    });\n  </script>\n</body>\n</html>`;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 240,
    "wires": [
      [
        "http_resp_docs_200_html"
      ]
    ]
  },
  {
    "id": "http_resp_docs_200_html",
    "type": "http response",
    "z": "tab_ai_insight_openapi",
    "name": "Docs 200 HTML",
    "statusCode": "",
    "headers": {
      "Content-Type": "text/html; charset=utf-8"
    },
    "x": 860,
    "y": 240,
    "wires": []
  },
  {
    "id": "catch_openapi_errors",
    "type": "catch",
    "z": "tab_ai_insight_openapi",
    "name": "CatchOpenApiErrors",
    "scope": [
      "fn_build_openapi_spec",
      "fn_build_docs_html",
      "fn_build_redoc_html"
    ],
    "uncaught": false,
    "x": 180,
    "y": 380,
    "wires": [
      [
        "fn_openapi_500_once"
      ]
    ]
  },
  {
    "id": "fn_openapi_500_once",
    "type": "function",
    "z": "tab_ai_insight_openapi",
    "name": "GuardOpenApi500SingleResponse",
    "func": "if (!msg.res) {\n    return null;\n}\n\nconst alreadySent = !!(msg.res.headersSent || (msg.res._res && (msg.res._res.headersSent || msg.res._res.writableEnded)));\nif (alreadySent) {\n    return null;\n}\n\nmsg.statusCode = 500;\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = { detail: 'internal_error' };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 380,
    "wires": [
      [
        "http_resp_openapi_500_json",
        "debug_openapi_error"
      ]
    ]
  },
  {
    "id": "http_resp_openapi_500_json",
    "type": "http response",
    "z": "tab_ai_insight_openapi",
    "name": "OpenAPI 500 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 880,
    "y": 360,
    "wires": []
  },
  {
    "id": "debug_openapi_error",
    "type": "debug",
    "z": "tab_ai_insight_openapi",
    "name": "OpenAPI error debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 880,
    "y": 420,
    "wires": []
  },
  {
    "id": "http_in_redoc_v1",
    "type": "http in",
    "z": "tab_ai_insight_openapi",
    "name": "GET /redoc",
    "url": "/redoc",
    "method": "get",
    "upload": false,
    "swaggerDoc": {
      "summary": "Get ReDoc docs",
      "description": "Returns ReDoc interactive API documentation."
    },
    "x": 180,
    "y": 300,
    "wires": [
      [
        "fn_build_redoc_html"
      ]
    ]
  },
  {
    "id": "fn_build_redoc_html",
    "type": "function",
    "z": "tab_ai_insight_openapi",
    "name": "BuildRedocHtml",
    "func": "msg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'text/html; charset=utf-8' };\nmsg.payload = `<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>AI Insight ORCE ReDoc</title>\n  <style>body { margin: 0; padding: 0; }</style>\n</head>\n<body>\n  <redoc spec-url=\"/openapi.json\"></redoc>\n  <script src=\"https://cdn.jsdelivr.net/npm/redoc@2/bundles/redoc.standalone.js\"></script>\n</body>\n</html>`;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 300,
    "wires": [
      [
        "http_resp_redoc_200_html"
      ]
    ]
  },
  {
    "id": "http_resp_redoc_200_html",
    "type": "http response",
    "z": "tab_ai_insight_openapi",
    "name": "ReDoc 200 HTML",
    "statusCode": "",
    "headers": {
      "Content-Type": "text/html; charset=utf-8"
    },
    "x": 860,
    "y": 300,
    "wires": []
  }
]
