services/ai-insight-service/orce/flows/ai-insight-anomaly.json
[
  {
    "id": "tab_ai_insight_anomaly",
    "type": "tab",
    "label": "ai-insight-anomaly",
    "disabled": false,
    "info": "Phase 3 anomaly endpoint with Trino + LLM + fallback."
  },
  {
    "id": "subflow_trino_token",
    "type": "subflow",
    "name": "GetTrinoToken",
    "info": "OIDC password grant with in-memory cache.",
    "in": [
      {
        "x": 60,
        "y": 100,
        "wires": [
          {
            "id": "fn_get_trino_token_prepare"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 980,
        "y": 80,
        "wires": [
          {
            "id": "fn_get_trino_token_prepare",
            "port": 0
          },
          {
            "id": "fn_get_trino_token_finish",
            "port": 0
          }
        ]
      },
      {
        "x": 980,
        "y": 140,
        "wires": [
          {
            "id": "fn_get_trino_token_prepare",
            "port": 1
          },
          {
            "id": "fn_get_trino_token_finish",
            "port": 1
          }
        ]
      }
    ]
  },
  {
    "id": "fn_get_trino_token_prepare",
    "type": "function",
    "z": "subflow_trino_token",
    "name": "Prepare OIDC token request",
    "func": "const normalizeVerify = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return String(value);\n};\n\nconst formEncode = (pairs) => Object.entries(pairs)\n    .map(([k, v]) => encodeURIComponent(k) + '=' + encodeURIComponent(v))\n    .join('&');\n\nconst tokenUrl = env.get('AI_INSIGHT_TRINO__OIDC_TOKEN_URL') || '';\nconst clientId = env.get('AI_INSIGHT_TRINO__OIDC_CLIENT_ID') || '';\nconst clientSecret = env.get('AI_INSIGHT_TRINO__OIDC_CLIENT_SECRET') || '';\nconst username = env.get('AI_INSIGHT_TRINO__OIDC_USERNAME') || '';\nconst password = env.get('AI_INSIGHT_TRINO__OIDC_PASSWORD') || '';\nconst scope = env.get('AI_INSIGHT_TRINO__OIDC_SCOPE') || 'openid';\nconst oidcVerify = normalizeVerify(env.get('AI_INSIGHT_TRINO__OIDC_VERIFY'), true);\n\nconst now = Date.now();\nconst cacheKey = ['trino-auth', tokenUrl, clientId, username].join('|');\nconst cacheMap = global.get('aiInsightTrinoTokenCache') || {};\nconst cached = cacheMap[cacheKey];\nif (!msg.trinoForceRefresh && cached && cached.accessToken && Number(cached.expiresAt || 0) > now + 30000) {\n    msg.trinoAuth = {\n        access_token: cached.accessToken,\n        expires_at: cached.expiresAt,\n        source: 'cache',\n        oidc_verify: oidcVerify,\n    };\n    return [msg, null, null];\n}\n\nif (!tokenUrl || !clientId || !clientSecret || !username || !password) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Trino authentication failed' };\n    return [null, msg, null];\n}\n\nmsg.method = 'POST';\nmsg.url = tokenUrl;\nmsg.headers = { 'Content-Type': 'application/x-www-form-urlencoded' };\nmsg.payload = formEncode({\n    grant_type: 'password',\n    client_id: clientId,\n    client_secret: clientSecret,\n    username,\n    password,\n    scope,\n});\nmsg.rejectUnauthorized = oidcVerify !== false;\nmsg._tokenCacheKey = cacheKey;\nmsg._oidcVerify = oidcVerify;\nreturn [null, null, msg];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 100,
    "wires": [
      [],
      [],
      [
        "http_oidc_token_request"
      ]
    ]
  },
  {
    "id": "http_oidc_token_request",
    "type": "http request",
    "z": "subflow_trino_token",
    "name": "OIDC token request",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 520,
    "y": 100,
    "wires": [
      [
        "fn_get_trino_token_finish"
      ]
    ]
  },
  {
    "id": "fn_get_trino_token_finish",
    "type": "function",
    "z": "subflow_trino_token",
    "name": "Finalize token response",
    "func": "if (Number(msg.statusCode || 0) < 200 || Number(msg.statusCode || 0) >= 300) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Trino authentication failed' };\n    return [null, msg];\n}\n\nconst payload = msg.payload || {};\nconst accessToken = payload.access_token;\nif (!accessToken) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Trino authentication failed' };\n    return [null, msg];\n}\n\nconst expiresIn = Number(payload.expires_in || 300);\nconst expiresAt = Date.now() + Math.max(expiresIn - 15, 30) * 1000;\nconst cacheMap = global.get('aiInsightTrinoTokenCache') || {};\nif (msg._tokenCacheKey) {\n    cacheMap[msg._tokenCacheKey] = { accessToken, expiresAt };\n    global.set('aiInsightTrinoTokenCache', cacheMap);\n}\n\nmsg.trinoAuth = {\n    access_token: String(accessToken),\n    expires_at: expiresAt,\n    source: 'oidc_password_grant',\n    oidc_verify: msg._oidcVerify,\n};\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 100,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "subflow_trino_query",
    "type": "subflow",
    "name": "RunTrinoQuery",
    "info": "Runs Trino statement endpoint with nextUri pagination.",
    "in": [
      {
        "x": 60,
        "y": 100,
        "wires": [
          {
            "id": "fn_run_trino_query_prepare"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 980,
        "y": 80,
        "wires": [
          {
            "id": "fn_run_trino_query_finish",
            "port": 1
          }
        ]
      },
      {
        "x": 980,
        "y": 140,
        "wires": [
          {
            "id": "fn_run_trino_query_prepare",
            "port": 1
          },
          {
            "id": "fn_run_trino_query_finish",
            "port": 2
          }
        ]
      }
    ]
  },
  {
    "id": "fn_run_trino_query_prepare",
    "type": "function",
    "z": "subflow_trino_query",
    "name": "Prepare Trino statement",
    "func": "const parseVerifySetting = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return String(value);\n};\n\nconst quoteIdent = (v) => '\"' + String(v).replace(/\"/g, '\"\"') + '\"';\n\nconst req = msg.anomalyRequest || {};\nif (!req.start_ts || !req.end_ts) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'start_ts and end_ts are required' };\n    return [null, msg];\n}\n\nconst accessToken = msg.trinoAuth && msg.trinoAuth.access_token;\nif (!accessToken) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Trino authentication failed' };\n    return [null, msg];\n}\n\nconst host = env.get('AI_INSIGHT_TRINO__HOST') || 'localhost';\nconst port = Number(env.get('AI_INSIGHT_TRINO__PORT') || 8080);\nconst scheme = env.get('AI_INSIGHT_TRINO__HTTP_SCHEME') || 'http';\nconst user = env.get('AI_INSIGHT_TRINO__USER') || 'trino';\nconst catalog = env.get('AI_INSIGHT_TRINO__CATALOG') || 'hive';\nconst schema = env.get('AI_INSIGHT_TRINO__TARGET_SCHEMA') || 'gold';\nconst table = env.get('AI_INSIGHT_TRINO__TABLE_NET_GRID_HOURLY') || 'net_grid_hourly';\nconst trinoVerifySetting = parseVerifySetting(env.get('AI_INSIGHT_TRINO__VERIFY'), true);\n\nconst sql = [\n    'SELECT',\n    '  \"hour\",',\n    '  \"avg_consumption_kw\",',\n    '  \"avg_generation_kw\",',\n    '  \"estimated_hourly_cost_eur\"',\n    `FROM ${quoteIdent(schema)}.${quoteIdent(table)}`,\n    `WHERE \"hour\" >= from_iso8601_timestamp('${req.start_ts}')`,\n    `  AND \"hour\" < from_iso8601_timestamp('${req.end_ts}')`,\n    'ORDER BY \"hour\"'\n].join('\\n');\n\nmsg.method = 'POST';\nmsg.url = `${scheme}://${host}:${port}/v1/statement`;\nmsg.headers = {\n    'Authorization': `Bearer ${accessToken}`,\n    'X-Trino-User': user,\n    'X-Trino-Catalog': catalog,\n    'X-Trino-Schema': schema,\n    'Content-Type': 'text/plain; charset=utf-8',\n};\nmsg.payload = sql;\n\nif (trinoVerifySetting === false) {\n    msg.rejectUnauthorized = false;\n} else if (typeof trinoVerifySetting === 'string') {\n    msg.rejectUnauthorized = false;\n} else {\n    msg.rejectUnauthorized = true;\n}\n\nmsg._trinoMeta = { catalog, schema, table };\nmsg._trinoRows = [];\nmsg._trinoColumns = [];\nmsg._trinoNextHeaders = {\n    'Authorization': `Bearer ${accessToken}`,\n    'X-Trino-User': user,\n};\n\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 100,
    "wires": [
      [
        "http_trino_statement_request"
      ],
      []
    ]
  },
  {
    "id": "http_trino_statement_request",
    "type": "http request",
    "z": "subflow_trino_query",
    "name": "Trino statement request",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 520,
    "y": 100,
    "wires": [
      [
        "fn_run_trino_query_finish"
      ]
    ]
  },
  {
    "id": "fn_run_trino_query_finish",
    "type": "function",
    "z": "subflow_trino_query",
    "name": "Collect Trino pages",
    "func": "const status = Number(msg.statusCode || 0);\nif (status === 401 || status === 403 || status >= 400) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Upstream dependency failure while generating insight' };\n    return [null, null, msg];\n}\n\nconst body = msg.payload || {};\nif (Array.isArray(body.columns) && body.columns.length > 0 && (!Array.isArray(msg._trinoColumns) || msg._trinoColumns.length === 0)) {\n    msg._trinoColumns = body.columns.map((c) => c.name);\n}\n\nconst columns = Array.isArray(msg._trinoColumns) ? msg._trinoColumns : [];\nconst rows = Array.isArray(msg._trinoRows) ? msg._trinoRows : [];\nconst data = Array.isArray(body.data) ? body.data : [];\nfor (const row of data) {\n    if (!Array.isArray(row)) continue;\n    const mapped = {};\n    for (let i = 0; i < columns.length; i += 1) {\n        mapped[columns[i]] = row[i];\n    }\n    rows.push(mapped);\n}\nmsg._trinoRows = rows;\n\nif (body.nextUri) {\n    msg.method = 'GET';\n    msg.url = String(body.nextUri);\n    msg.headers = Object.assign({}, msg._trinoNextHeaders || {});\n    msg.payload = '';\n    return [msg, null, null];\n}\n\nmsg.trinoRows = rows;\nmsg.trinoQuery = Object.assign({}, msg._trinoMeta || {}, {\n    row_count: rows.length,\n});\nreturn [null, msg, null];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 100,
    "wires": [
      [
        "http_trino_statement_request"
      ],
      [],
      []
    ]
  },
  {
    "id": "subflow_anomaly_exec",
    "type": "subflow",
    "name": "RunAnomalySubflow",
    "info": "Computes context and calls LLM via HTTP node with fallback.",
    "in": [
      {
        "x": 60,
        "y": 100,
        "wires": [
          {
            "id": "fn_run_anomaly_exec_prepare"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1040,
        "y": 80,
        "wires": [
          {
            "id": "fn_run_anomaly_exec_prepare",
            "port": 0
          },
          {
            "id": "fn_run_anomaly_exec_finish",
            "port": 0
          }
        ]
      },
      {
        "x": 1040,
        "y": 140,
        "wires": [
          {
            "id": "fn_run_anomaly_exec_prepare",
            "port": 1
          },
          {
            "id": "fn_run_anomaly_exec_finish",
            "port": 1
          }
        ]
      }
    ]
  },
  {
    "id": "fn_run_anomaly_exec_prepare",
    "type": "function",
    "z": "subflow_anomaly_exec",
    "name": "Prepare anomaly context",
    "func": "const uuidFromMathRandom = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (char) => {\n    const rand = Math.random() * 16 | 0;\n    const value = char === 'x' ? rand : ((rand & 0x3) | 0x8);\n    return value.toString(16);\n});\nconst runtimeCrypto = global.get('crypto');\nconst makeOutputId = () => (runtimeCrypto && typeof runtimeCrypto.randomUUID === 'function') ? runtimeCrypto.randomUUID() : uuidFromMathRandom();\n\nconst toBool = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return fallback;\n};\n\nconst toNumber = (value, fallback) => {\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n};\n\nconst rows = Array.isArray(msg.trinoRows) ? msg.trinoRows : [];\nconst req = msg.anomalyRequest || {};\nconst access = msg.accessContext || {};\nconst includeData = !!req.include_data;\nconst timezone = req.timezone || 'UTC';\nconst threshold = toNumber(req.robust_z_threshold, 3.5);\n\nconst parseMetric = (row, key) => {\n    const value = Number(row[key]);\n    return Number.isFinite(value) ? value : null;\n};\n\nconst normalizeTimestamp = (ts) => {\n    if (ts === undefined || ts === null || ts === '') return null;\n    const raw = String(ts).trim();\n    const normalized = raw.replace(' UTC', 'Z').replace(' ', 'T');\n    const d = new Date(normalized);\n    if (Number.isNaN(d.getTime())) return raw;\n    return d.toISOString().replace('.000Z', '+00:00');\n};\n\nconst metrics = ['avg_consumption_kw', 'avg_generation_kw', 'estimated_hourly_cost_eur'];\nconst summarizeMetric = (key) => {\n    const values = rows.map((r) => parseMetric(r, key)).filter((v) => v !== null);\n    if (values.length === 0) return null;\n    const sorted = [...values].sort((a, b) => a - b);\n    const sum = values.reduce((a, b) => a + b, 0);\n    const mean = sum / values.length;\n    const median = sorted[Math.floor(sorted.length / 2)];\n    const deviations = values.map((v) => Math.abs(v - median)).sort((a, b) => a - b);\n    const mad = deviations[Math.floor(deviations.length / 2)] || 0;\n    return {\n        metric: key,\n        count: values.length,\n        min: Number(sorted[0].toFixed(4)),\n        max: Number(sorted[sorted.length - 1].toFixed(4)),\n        mean: Number(mean.toFixed(4)),\n        median: Number(median.toFixed(4)),\n        median_raw: median,\n        mad: Number(mad.toFixed(4)),\n        mad_raw: mad,\n    };\n};\n\nconst summaries = metrics.map(summarizeMetric).filter(Boolean);\nconst outlierEvents = [];\nfor (const row of rows) {\n    const timestamp = normalizeTimestamp(row.hour || row.timestamp || row.ts || null);\n    for (const summary of summaries) {\n        const value = parseMetric(row, summary.metric);\n        if (value === null || Number(summary.mad_raw || 0) <= 0) continue;\n        const z = Math.abs(0.6745 * (value - summary.median_raw) / summary.mad_raw);\n        if (z >= threshold) {\n            outlierEvents.push({\n                metric: summary.metric,\n                timestamp,\n                value,\n                robust_z: z,\n                baseline_median: summary.median_raw,\n                event_type: value >= summary.median_raw ? 'spike' : 'drop',\n            });\n        }\n    }\n}\noutlierEvents.sort((a, b) => String(a.timestamp).localeCompare(String(b.timestamp)));\n\nconst outliersByMetric = {};\nfor (const event of outlierEvents) {\n    outliersByMetric[event.metric] = (outliersByMetric[event.metric] || 0) + 1;\n}\n\nconst costAnomalies = outlierEvents.filter((event) => String(event.metric).includes('cost') && event.event_type === 'spike');\nconst hints = [];\nif (outlierEvents.length > 0) {\n    hints.push('Detected statistically unusual points using robust z-score (MAD).');\n} else {\n    hints.push('No robust outliers detected for the selected metrics and window.');\n}\nif (costAnomalies.length > 0) {\n    hints.push('Cost-related anomalies were detected and may reflect tariff or usage shifts.');\n}\n\nconst context = {\n    window: {\n        start_ts: req.start_ts,\n        end_ts: req.end_ts,\n        timezone,\n        rows_analyzed: rows.length,\n    },\n    baseline_stats: summaries.map((s) => ({\n        count: s.count,\n        mad: s.mad,\n        max: s.max,\n        mean: s.mean,\n        median: s.median,\n        metric: s.metric,\n        min: s.min,\n    })),\n    outlier_events: outlierEvents,\n    cost_anomalies: costAnomalies,\n    narrative_hints: hints,\n    summary: {\n        total_outliers: outlierEvents.length,\n        outliers_by_metric: outliersByMetric,\n        selected_metrics: metrics,\n    },\n};\n\nconst fallbackOutput = {\n    summary: `Fallback insight generated from deterministic analytics context: ${JSON.stringify(context.summary)}`,\n    key_findings: hints.length > 0 ? hints.slice(0, 4) : ['No critical findings were detected for the requested interval.'],\n    recommendations: [\n        'Validate highlighted periods against operational logs and maintenance records.',\n        'Trigger a dashboard refresh once upstream LLM connectivity is restored.'\n    ],\n};\n\nconst cacheEnabled = toBool(env.get('AI_INSIGHT_CACHE__ENABLED'), false);\nconst cachePrefix = env.get('AI_INSIGHT_CACHE__KEY_PREFIX') || 'ai-insight:cache:v1';\nconst cacheKey = [\n    cachePrefix,\n    'anomaly-report',\n    access.agreement_id || 'unknown-agreement',\n    access.asset_id || 'unknown-asset',\n    req.start_ts || '',\n    req.end_ts || '',\n    timezone,\n    String(threshold),\n].join(':');\nconst cacheStore = global.get('aiInsightAnomalyCache') || {};\nconst reqHeaders = (msg.req && msg.req.headers) || {};\nconst rawCacheBypass = String(reqHeaders['x-insight-cache-bypass'] || reqHeaders['x-cache-bypass'] || '').trim().toLowerCase();\nconst cacheBypass = ['1', 'true', 'yes', 'on'].includes(rawCacheBypass);\n\nconst makeSuccessMsg = (result, llmUsed, llmModel, llmError) => {\n    const outputId = makeOutputId();\n    const timestamp = new Date().toISOString();\n    const isDev = ['development', 'dev', 'local'].includes(String(env.get('AI_INSIGHT_SERVICE__ENVIRONMENT') || env.get('FACIS_ENV') || 'development').toLowerCase());\n    msg.statusCode = 200;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = {\n        insight_type: 'anomaly-report',\n        summary: result.summary,\n        key_findings: result.key_findings,\n        recommendations: result.recommendations,\n        metadata: {\n            output_id: outputId,\n            llm_model: llmModel,\n            timestamp,\n            llm_used: llmUsed,\n            agreement_id: access.agreement_id || 'unknown-agreement',\n            asset_id: access.asset_id || 'unknown-asset',\n            llm_error: isDev ? llmError : null,\n        },\n        data: includeData ? context : null,\n    };\n};\n\nif (cacheEnabled && !cacheBypass && cacheStore[cacheKey]) {\n    const cached = cacheStore[cacheKey];\n    makeSuccessMsg(\n        {\n            summary: cached.summary,\n            key_findings: cached.key_findings,\n            recommendations: cached.recommendations,\n        },\n        false,\n        cached.llm_model || 'cached-response',\n        null,\n    );\n    return [msg, null, null];\n}\n\nconst llmUrl = env.get('AI_INSIGHT_LLM__CHAT_COMPLETIONS_URL') || '';\nconst llmApiKey = env.get('AI_INSIGHT_LLM__API_KEY') || '';\nconst llmModel = env.get('AI_INSIGHT_LLM__MODEL') || 'gpt-4.1-mini';\nconst requireHttps = toBool(env.get('AI_INSIGHT_LLM__REQUIRE_HTTPS'), true);\n\nif (rows.length <= 0 || !llmUrl || !llmApiKey || (requireHttps && !String(llmUrl).startsWith('https://'))) {\n    makeSuccessMsg(fallbackOutput, false, 'rule-based-fallback', rows.length <= 0 ? 'LLM skipped due to insufficient data (rows_analyzed=0)' : 'LLM unavailable');\n    return [msg, null, null];\n}\n\nmsg._anomalyComputed = {\n    context,\n    fallbackOutput,\n    cacheEnabled,\n    cacheKey,\n    llmModel,\n    cacheBypass,\n};\nmsg.method = 'POST';\nmsg.url = llmUrl;\nmsg.headers = {\n    'Authorization': `Bearer ${llmApiKey}`,\n    'Content-Type': 'application/json',\n};\nconst systemPrompt = [\n    'You are an energy and smart-city analytics assistant.',\n    'Insight type: Net-grid outlier analysis. Focus on abnormal consumption/generation/cost behavior, frequency by metric, and likely impact.',\n    'FACIS domain context:\\n- This analysis supports the FACIS demonstrator where simulation-service generates IoT/Smart-City events and related telemetry that are later analyzed in ai-insight-service.\\n- Consider data provenance as simulation-backed unless a field indicates otherwise.\\n- Keep claims aligned with provided context only; do not invent missing measurements or causes.',\n    'Data schema guide:\\n- `window`: `{start_ts, end_ts, timezone, rows_analyzed}` for analysis scope.\\n- `summary`: compact metrics for quick interpretation.\\n- `narrative_hints`: deterministic cues from analytics logic; treat as guidance, not hard facts.\\n- Outlier context includes `baseline_stats`, `outlier_events`, and `cost_anomalies`.',\n    'Return ONLY valid JSON, with no markdown and no prose outside JSON.\\nRequired top-level object keys (exactly these keys):\\n- `summary`: string (2-4 sentences, concise executive overview)\\n- `key_findings`: array of strings (3-6 bullets worth of findings, each one sentence)\\n- `recommendations`: array of strings (2-5 actionable recommendations, each one sentence)\\nConstraints:\\n- Do not include additional top-level keys.\\n- Preserve factual consistency with provided context.\\n- If evidence is insufficient, state uncertainty explicitly in findings/recommendations.'\n].join('\\n\\n');\nconst userPrompt = 'Analyze the following structured context and produce the required JSON output.\\nContext JSON:\\n' + JSON.stringify(context, null, 2);\n\nmsg.payload = {\n    model: llmModel,\n    temperature: 0.2,\n    messages: [\n        {\n            role: 'system',\n            content: systemPrompt,\n        },\n        {\n            role: 'user',\n            content: userPrompt,\n        }\n    ]\n};\nreturn [null, null, msg];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 100,
    "wires": [
      [],
      [],
      [
        "http_llm_anomaly_request"
      ]
    ]
  },
  {
    "id": "http_llm_anomaly_request",
    "type": "http request",
    "z": "subflow_anomaly_exec",
    "name": "LLM request",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 560,
    "y": 100,
    "wires": [
      [
        "fn_run_anomaly_exec_finish"
      ]
    ]
  },
  {
    "id": "fn_run_anomaly_exec_finish",
    "type": "function",
    "z": "subflow_anomaly_exec",
    "name": "Finalize anomaly response",
    "func": "const uuidFromMathRandom = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (char) => {\n    const rand = Math.random() * 16 | 0;\n    const value = char === 'x' ? rand : ((rand & 0x3) | 0x8);\n    return value.toString(16);\n});\nconst runtimeCrypto = global.get('crypto');\nconst makeOutputId = () => (runtimeCrypto && typeof runtimeCrypto.randomUUID === 'function') ? runtimeCrypto.randomUUID() : uuidFromMathRandom();\nconst computed = msg._anomalyComputed || {};\nconst context = computed.context || {};\nconst fallbackOutput = computed.fallbackOutput || {\n    summary: 'Fallback insight generated from deterministic analytics context.',\n    key_findings: ['No critical findings were detected for the requested interval.'],\n    recommendations: ['Trigger a dashboard refresh once upstream LLM connectivity is restored.']\n};\n\nconst access = msg.accessContext || {};\nconst req = msg.anomalyRequest || {};\nconst includeData = !!req.include_data;\nconst isDev = ['development', 'dev', 'local'].includes(String(env.get('AI_INSIGHT_SERVICE__ENVIRONMENT') || env.get('FACIS_ENV') || 'development').toLowerCase());\n\nlet finalOutput = fallbackOutput;\nlet llmUsed = false;\nlet llmModel = 'rule-based-fallback';\nlet llmError = null;\n\nif (Number(msg.statusCode || 0) >= 200 && Number(msg.statusCode || 0) < 300) {\n    try {\n        const payload = msg.payload || {};\n        const model = payload.model || computed.llmModel || 'unknown-model';\n        const content = payload && payload.choices && payload.choices[0] && payload.choices[0].message && payload.choices[0].message.content;\n        let normalized = String(content).trim();\n        normalized = normalized.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n        const parsed = JSON.parse(normalized);\n        const payloadObj = parsed && (parsed.result || parsed.output || parsed);\n        const summaryCandidate = payloadObj && (payloadObj.summary || payloadObj.overview || payloadObj.summary_text);\n        const findingsCandidate = payloadObj && (payloadObj.key_findings || payloadObj.keyFindings || payloadObj.findings || payloadObj.keyPoints);\n        const recommendationsCandidate = payloadObj && (payloadObj.recommendations || payloadObj.recommendation_list || payloadObj.actions || payloadObj.suggestions);\n\n        const toStringArray = (value) => {\n            if (Array.isArray(value)) return value.map((x) => String(x));\n            if (typeof value === 'string') {\n                return value\n                    .split(/\\n+/)\n                    .map((line) => line.replace(/^[-*\\d.)\\s]+/, '').trim())\n                    .filter(Boolean);\n            }\n            if (value && typeof value === 'object') {\n                if (Array.isArray(value.items)) return value.items.map((x) => String(x));\n                if (Array.isArray(value.points)) return value.points.map((x) => String(x));\n                if (Array.isArray(value.list)) return value.list.map((x) => String(x));\n                if (typeof value.text === 'string') {\n                    return value.text\n                        .split(/\\n+/)\n                        .map((line) => line.replace(/^[-*\\d.)\\s]+/, '').trim())\n                        .filter(Boolean);\n                }\n            }\n            return [];\n        };\n\n        const findings = toStringArray(findingsCandidate);\n        const recommendations = toStringArray(recommendationsCandidate);\n        if (!summaryCandidate || findings.length === 0 || recommendations.length === 0) {\n            throw new Error('LLM output does not match expected schema: ' + JSON.stringify(parsed).slice(0, 240));\n        }\n\n        finalOutput = {\n            summary: String(summaryCandidate),\n            key_findings: findings,\n            recommendations,\n        };\n        llmUsed = true;\n        llmModel = String(model);\n    } catch (error) {\n        llmError = String(error && error.message ? error.message : error);\n    }\n} else {\n    llmError = 'LLM request failed with status ' + String(msg.statusCode || 'unknown');\n}\n\nif (computed.cacheEnabled && llmUsed && !computed.cacheBypass) {\n    const cacheStore = global.get('aiInsightAnomalyCache') || {};\n    cacheStore[computed.cacheKey] = {\n        summary: finalOutput.summary,\n        key_findings: finalOutput.key_findings,\n        recommendations: finalOutput.recommendations,\n        llm_model: llmModel,\n        cached_at: new Date().toISOString(),\n    };\n    global.set('aiInsightAnomalyCache', cacheStore);\n}\n\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    insight_type: 'anomaly-report',\n    summary: finalOutput.summary,\n    key_findings: finalOutput.key_findings,\n    recommendations: finalOutput.recommendations,\n    metadata: {\n        output_id: makeOutputId(),\n        llm_model: llmModel,\n        timestamp: new Date().toISOString(),\n        llm_used: llmUsed,\n        agreement_id: access.agreement_id || 'unknown-agreement',\n        asset_id: access.asset_id || 'unknown-asset',\n        llm_error: isDev ? llmError : null,\n    },\n    data: includeData ? context : null,\n};\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 100,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "http_in_anomaly_report_v1",
    "type": "http in",
    "z": "tab_ai_insight_anomaly",
    "name": "POST /api/v1/insights/anomaly-report",
    "url": "/api/v1/insights/anomaly-report",
    "method": "post",
    "upload": false,
    "swaggerDoc": {
      "summary": "Generate anomaly-report insight",
      "description": "Produces anomaly insight using Trino + LLM with policy and rate limiting."
    },
    "x": 180,
    "y": 100,
    "wires": [
      [
        "fn_validate_anomaly_request"
      ]
    ]
  },
  {
    "id": "fn_validate_anomaly_request",
    "type": "function",
    "z": "tab_ai_insight_anomaly",
    "name": "ValidateAnomalyRequest",
    "func": "let asObj = msg.payload || {};\ntry {\n    asObj = typeof asObj === 'string' ? JSON.parse(asObj) : asObj;\n} catch (_) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Request body must be valid JSON' };\n    return [null, msg];\n}\n\nif (!asObj || typeof asObj !== 'object') {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Request body must be a JSON object' };\n    return [null, msg];\n}\n\nconst startTs = new Date(asObj.start_ts);\nconst endTs = new Date(asObj.end_ts);\nif (Number.isNaN(startTs.getTime()) || Number.isNaN(endTs.getTime())) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'start_ts and end_ts must be valid timestamps' };\n    return [null, msg];\n}\nif (startTs >= endTs) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'start_ts must be earlier than end_ts' };\n    return [null, msg];\n}\n\nconst threshold = asObj.robust_z_threshold === undefined ? 3.5 : Number(asObj.robust_z_threshold);\nif (!Number.isFinite(threshold) || threshold <= 0) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'robust_z_threshold must be greater than zero' };\n    return [null, msg];\n}\n\nmsg.anomalyRequest = {\n    start_ts: startTs.toISOString(),\n    end_ts: endTs.toISOString(),\n    timezone: typeof asObj.timezone === 'string' && asObj.timezone ? asObj.timezone : 'UTC',\n    robust_z_threshold: threshold,\n    include_data: !!asObj.include_data,\n};\n\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 100,
    "wires": [
      [
        "fn_policy_rate_limit"
      ],
      [
        "http_resp_400_json"
      ]
    ]
  },
  {
    "id": "fn_policy_rate_limit",
    "type": "function",
    "z": "tab_ai_insight_anomaly",
    "name": "PolicyAndRateLimit",
    "func": "const toBool = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return fallback;\n};\n\nconst parseList = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    try {\n        const parsed = JSON.parse(value);\n        if (Array.isArray(parsed)) return parsed.map((item) => String(item));\n    } catch (_) {\n        // ignore\n    }\n    return fallback;\n};\n\nconst headers = (msg.req && msg.req.headers) || {};\nconst pickHeader = (name) => headers[String(name || '').toLowerCase()];\n\nconst policyEnabled = toBool(env.get('AI_INSIGHT_POLICY__ENABLED'), true);\nconst agreementHeader = env.get('AI_INSIGHT_POLICY__AGREEMENT_HEADER') || 'x-agreement-id';\nconst assetHeader = env.get('AI_INSIGHT_POLICY__ASSET_HEADER') || 'x-asset-id';\nconst roleHeader = env.get('AI_INSIGHT_POLICY__ROLE_HEADER') || 'x-user-roles';\nconst requiredRoles = parseList(env.get('AI_INSIGHT_POLICY__REQUIRED_ROLES'), ['ai_insight_consumer']);\nconst allowedAgreements = parseList(env.get('AI_INSIGHT_POLICY__ALLOWED_AGREEMENT_IDS'), []);\nconst allowedAssets = parseList(env.get('AI_INSIGHT_POLICY__ALLOWED_ASSET_IDS'), []);\n\nconst agreementId = String(pickHeader(agreementHeader) || '').trim();\nconst assetId = String(pickHeader(assetHeader) || '').trim();\nconst rawRoles = String(pickHeader(roleHeader) || '').trim();\nconst roles = rawRoles ? rawRoles.split(',').map((item) => item.trim()).filter(Boolean) : [];\n\nif (policyEnabled) {\n    if (!agreementId || !assetId || roles.length === 0) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Missing required governance headers' };\n        return [null, msg, null];\n    }\n\n    const missingRole = requiredRoles.find((role) => !roles.includes(role));\n    if (missingRole) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Policy denied: missing required role ' + missingRole };\n        return [null, msg, null];\n    }\n\n    if (allowedAgreements.length > 0 && !allowedAgreements.includes(agreementId)) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Policy denied for agreement_id' };\n        return [null, msg, null];\n    }\n\n    if (allowedAssets.length > 0 && !allowedAssets.includes(assetId)) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Policy denied for asset_id' };\n        return [null, msg, null];\n    }\n}\n\nconst rateLimitEnabled = toBool(env.get('AI_INSIGHT_RATE_LIMIT__ENABLED'), true);\nconst rpm = Math.max(1, Number(env.get('AI_INSIGHT_RATE_LIMIT__REQUESTS_PER_MINUTE') || 10));\nconst limiterAgreement = agreementId || 'anonymous';\n\nif (rateLimitEnabled) {\n    const bucketKey = 'aiInsightRateLimitBuckets';\n    const buckets = global.get(bucketKey) || {};\n    const now = Date.now();\n    const windowMs = 60 * 1000;\n    let bucket = buckets[limiterAgreement];\n    if (!bucket || now - bucket.windowStart >= windowMs) {\n        bucket = { windowStart: now, count: 0 };\n    }\n    if (bucket.count >= rpm) {\n        const retryAfter = Math.max(1, Math.ceil((bucket.windowStart + windowMs - now) / 1000));\n        msg.statusCode = 429;\n        msg.headers = {\n            'Content-Type': 'application/json',\n            'Retry-After': String(retryAfter),\n        };\n        msg.payload = { detail: 'Agreement rate limit exceeded' };\n        buckets[limiterAgreement] = bucket;\n        global.set(bucketKey, buckets);\n        return [null, null, msg];\n    }\n    bucket.count += 1;\n    buckets[limiterAgreement] = bucket;\n    global.set(bucketKey, buckets);\n}\n\nmsg.accessContext = {\n    agreement_id: agreementId || 'unknown-agreement',\n    asset_id: assetId || 'unknown-asset',\n    roles,\n};\n\nreturn [msg, null, null];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 100,
    "wires": [
      [
        "node_get_trino_token"
      ],
      [
        "http_resp_403_json"
      ],
      [
        "http_resp_429_json"
      ]
    ]
  },
  {
    "id": "node_get_trino_token",
    "type": "subflow:subflow_trino_token",
    "z": "tab_ai_insight_anomaly",
    "name": "GetTrinoToken",
    "x": 1200,
    "y": 100,
    "wires": [
      [
        "node_run_trino_query"
      ],
      [
        "fn_anomaly_502_once"
      ]
    ]
  },
  {
    "id": "node_run_trino_query",
    "type": "subflow:subflow_trino_query",
    "z": "tab_ai_insight_anomaly",
    "name": "RunTrinoQuery",
    "x": 1540,
    "y": 100,
    "wires": [
      [
        "node_run_anomaly_exec"
      ],
      [
        "fn_anomaly_502_once"
      ]
    ]
  },
  {
    "id": "node_run_anomaly_exec",
    "type": "subflow:subflow_anomaly_exec",
    "z": "tab_ai_insight_anomaly",
    "name": "RunAnomalySubflow",
    "x": 1880,
    "y": 100,
    "wires": [
      [
        "fn_store_latest_anomaly"
      ],
      [
        "fn_anomaly_502_once"
      ]
    ]
  },
  {
    "id": "fn_store_latest_anomaly",
    "type": "function",
    "z": "tab_ai_insight_anomaly",
    "name": "StoreLatestAnomaly",
    "func": "const latest = global.get('aiInsightLatestOutputs') || {};\nconst outputsById = global.get('aiInsightOutputsById') || {};\nif (msg && msg.payload && msg.payload.metadata) {\n    const snapshot = JSON.parse(JSON.stringify(msg.payload));\n    const metadata = snapshot.metadata || {};\n    const outputId = String(metadata.output_id || '').trim();\n\n    latest['anomaly-report'] = {\n        cached_at: metadata.timestamp || new Date().toISOString(),\n        output: snapshot,\n    };\n    global.set('aiInsightLatestOutputs', latest);\n\n    const fallbackText = [\n        String(snapshot.summary || ''),\n        ...((Array.isArray(snapshot.key_findings) ? snapshot.key_findings : []).map((item) => '- ' + String(item))),\n        ...((Array.isArray(snapshot.recommendations) ? snapshot.recommendations : []).map((item) => '- ' + String(item))),\n    ].filter((line) => String(line).trim().length > 0).join('\\n');\n\n    if (outputId) {\n        outputsById[outputId] = {\n            id: outputId,\n            insight_type: 'anomaly-report',\n            agreement_id: String(metadata.agreement_id || 'unknown-agreement'),\n            asset_id: String(metadata.asset_id || 'unknown-asset'),\n            input_data: JSON.parse(JSON.stringify(msg.anomalyRequest || {})),\n            llm_model: String(metadata.llm_model || 'rule-based-fallback'),\n            output_text: (typeof msg._llmRawText === 'string' && msg._llmRawText.trim()) ? msg._llmRawText.trim() : fallbackText,\n            structured_output: {\n                summary: String(snapshot.summary || ''),\n                key_findings: Array.isArray(snapshot.key_findings) ? snapshot.key_findings.map((item) => String(item)) : [],\n                recommendations: Array.isArray(snapshot.recommendations) ? snapshot.recommendations.map((item) => String(item)) : [],\n            },\n            timestamp: String(metadata.timestamp || new Date().toISOString()),\n        };\n        global.set('aiInsightOutputsById', outputsById);\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2060,
    "y": 100,
    "wires": [
      [
        "http_resp_200_json"
      ]
    ]
  },
  {
    "id": "fn_anomaly_502_once",
    "type": "function",
    "z": "tab_ai_insight_anomaly",
    "name": "Guard502SingleResponse",
    "func": "if (msg._anomalyResponseDispatched) {\n    return null;\n}\nmsg._anomalyResponseDispatched = true;\n\nconst detail = (msg.payload && msg.payload.detail)\n    ? String(msg.payload.detail)\n    : 'Upstream dependency failure while generating insight';\n\nmsg.statusCode = 502;\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    detail\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1880,
    "y": 280,
    "wires": [
      [
        "http_resp_502_json"
      ]
    ]
  },
  {
    "id": "http_resp_200_json",
    "type": "http response",
    "z": "tab_ai_insight_anomaly",
    "name": "Anomaly 200 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 2220,
    "y": 100,
    "wires": []
  },
  {
    "id": "http_resp_400_json",
    "type": "http response",
    "z": "tab_ai_insight_anomaly",
    "name": "Anomaly 400 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 520,
    "y": 250,
    "wires": []
  },
  {
    "id": "http_resp_403_json",
    "type": "http response",
    "z": "tab_ai_insight_anomaly",
    "name": "Anomaly 403 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 860,
    "y": 250,
    "wires": []
  },
  {
    "id": "http_resp_429_json",
    "type": "http response",
    "z": "tab_ai_insight_anomaly",
    "name": "Anomaly 429 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 860,
    "y": 350,
    "wires": []
  },
  {
    "id": "http_resp_502_json",
    "type": "http response",
    "z": "tab_ai_insight_anomaly",
    "name": "Anomaly 502 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 2220,
    "y": 280,
    "wires": []
  },
  {
    "id": "catch_anomaly_errors",
    "type": "catch",
    "z": "tab_ai_insight_anomaly",
    "name": "CatchAnomalyErrors",
    "scope": [
      "fn_validate_anomaly_request",
      "fn_policy_rate_limit",
      "node_get_trino_token",
      "node_run_trino_query",
      "node_run_anomaly_exec"
    ],
    "uncaught": false,
    "x": 180,
    "y": 500,
    "wires": [
      [
        "fn_anomaly_uncaught"
      ]
    ]
  },
  {
    "id": "fn_anomaly_uncaught",
    "type": "function",
    "z": "tab_ai_insight_anomaly",
    "name": "BuildAnomalyUncaughtError",
    "func": "const sourceId = msg.error && msg.error.source && msg.error.source.id;\nif (sourceId === 'http_resp_502_json') {\n    return null;\n}\n\nif (!msg.res) {\n    return null;\n}\n\nconst alreadySent = !!(msg.res.headersSent || (msg.res._res && (msg.res._res.headersSent || msg.res._res.writableEnded)));\nif (alreadySent) {\n    return null;\n}\n\nmsg.statusCode = 502;\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    detail: 'Upstream dependency failure while generating insight'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 500,
    "wires": [
      [
        "http_resp_502_json",
        "debug_anomaly_error"
      ]
    ]
  },
  {
    "id": "debug_anomaly_error",
    "type": "debug",
    "z": "tab_ai_insight_anomaly",
    "name": "Anomaly error debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 860,
    "y": 500,
    "wires": []
  }
]
