services/ai-insight-service/orce/flows/ai-insight-energy-summary.json
[
  {
    "id": "tab_ai_insight_energy_summary",
    "type": "tab",
    "label": "ai-insight-energy-summary",
    "disabled": false,
    "info": "Phase 4 energy-summary endpoint with Trino + LLM + fallback."
  },
  {
    "id": "subflow_trino_query_energy",
    "type": "subflow",
    "name": "RunTrinoQueryEnergy",
    "info": "Runs three Trino statements with nextUri pagination (hourly + daily cost + daily pv).",
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "fn_run_trino_energy_prepare"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1180,
        "y": 100,
        "wires": [
          {
            "id": "fn_run_trino_energy_collect",
            "port": 1
          }
        ]
      },
      {
        "x": 1180,
        "y": 160,
        "wires": [
          {
            "id": "fn_run_trino_energy_prepare",
            "port": 1
          },
          {
            "id": "fn_run_trino_energy_collect",
            "port": 2
          }
        ]
      }
    ]
  },
  {
    "id": "fn_run_trino_energy_prepare",
    "type": "function",
    "z": "subflow_trino_query_energy",
    "name": "Prepare energy Trino statements",
    "func": "const parseVerifySetting = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return String(value);\n};\n\nconst quoteIdent = (v) => '\"' + String(v).replace(/\"/g, '\"\"') + '\"';\n\nconst req = msg.energyRequest || {};\nif (!req.start_ts || !req.end_ts) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'start_ts and end_ts are required' };\n    return [null, msg];\n}\n\nconst accessToken = msg.trinoAuth && msg.trinoAuth.access_token;\nif (!accessToken) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Trino authentication failed' };\n    return [null, msg];\n}\n\nconst host = env.get('AI_INSIGHT_TRINO__HOST') || 'localhost';\nconst port = Number(env.get('AI_INSIGHT_TRINO__PORT') || 8080);\nconst scheme = env.get('AI_INSIGHT_TRINO__HTTP_SCHEME') || 'http';\nconst user = env.get('AI_INSIGHT_TRINO__USER') || 'trino';\nconst catalog = env.get('AI_INSIGHT_TRINO__CATALOG') || 'hive';\nconst schema = env.get('AI_INSIGHT_TRINO__TARGET_SCHEMA') || 'gold';\n\nconst tableNetGrid = env.get('AI_INSIGHT_TRINO__TABLE_NET_GRID_HOURLY') || 'net_grid_hourly';\nconst tableWeather = env.get('AI_INSIGHT_TRINO__TABLE_WEATHER_HOURLY') || 'weather_hourly';\nconst tableCostDaily = env.get('AI_INSIGHT_TRINO__TABLE_ENERGY_COST_DAILY') || 'energy_cost_daily';\nconst tablePvDaily = env.get('AI_INSIGHT_TRINO__TABLE_PV_SELF_CONSUMPTION_DAILY') || 'pv_self_consumption_daily';\n\nconst startTs = req.start_ts;\nconst endTs = req.end_ts;\nconst trinoVerifySetting = parseVerifySetting(env.get('AI_INSIGHT_TRINO__VERIFY'), true);\n\nconst hourlySql = [\n    'SELECT',\n    '  grid.hour,',\n    '  grid.avg_consumption_kw,',\n    '  grid.avg_generation_kw,',\n    '  grid.net_grid_kw,',\n    '  grid.avg_price_eur_per_kwh,',\n    '  grid.estimated_hourly_cost_eur,',\n    '  weather.avg_temperature_c,',\n    '  weather.avg_irradiance_w_m2,',\n    '  weather.avg_humidity_pct,',\n    '  weather.avg_wind_speed_ms,',\n    '  weather.avg_cloud_cover_pct',\n    `FROM ${quoteIdent(schema)}.${quoteIdent(tableNetGrid)} AS grid`,\n    `LEFT JOIN ${quoteIdent(schema)}.${quoteIdent(tableWeather)} AS weather`,\n    'ON grid.hour = weather.hour',\n    `WHERE grid.hour >= from_iso8601_timestamp('${startTs}')`,\n    `  AND grid.hour < from_iso8601_timestamp('${endTs}')`,\n    'ORDER BY grid.hour'\n].join('\\n');\n\nconst dailyCostSql = [\n    'SELECT',\n    '  cost_date,',\n    '  total_consumption_kw,',\n    '  avg_cost_per_reading_eur,',\n    '  peak_consumption_kw,',\n    '  offpeak_consumption_kw,',\n    '  avg_peak_price_eur,',\n    '  avg_offpeak_price_eur,',\n    '  reading_count',\n    `FROM ${quoteIdent(schema)}.${quoteIdent(tableCostDaily)}`,\n    `WHERE cost_date >= CAST(from_iso8601_timestamp('${startTs}') AS DATE)`,\n    `  AND cost_date < CAST(from_iso8601_timestamp('${endTs}') AS DATE)`,\n    'ORDER BY cost_date'\n].join('\\n');\n\nconst dailyPvSql = [\n    'SELECT',\n    '  sc_date,',\n    '  total_consumption_kw,',\n    '  total_generation_kw,',\n    '  self_consumed_kw,',\n    '  exported_kw,',\n    '  imported_kw,',\n    '  self_consumption_ratio,',\n    '  autarky_ratio',\n    `FROM ${quoteIdent(schema)}.${quoteIdent(tablePvDaily)}`,\n    `WHERE sc_date >= CAST(from_iso8601_timestamp('${startTs}') AS DATE)`,\n    `  AND sc_date < CAST(from_iso8601_timestamp('${endTs}') AS DATE)`,\n    'ORDER BY sc_date'\n].join('\\n');\n\nconst statementUrl = `${scheme}://${host}:${port}/v1/statement`;\nconst statementHeaders = {\n    'Authorization': `Bearer ${accessToken}`,\n    'X-Trino-User': user,\n    'X-Trino-Catalog': catalog,\n    'X-Trino-Schema': schema,\n    'Content-Type': 'text/plain; charset=utf-8',\n};\n\nmsg._energyTrino = {\n    queries: [\n        { key: 'hourly', sql: hourlySql },\n        { key: 'daily_cost', sql: dailyCostSql },\n        { key: 'daily_pv', sql: dailyPvSql },\n    ],\n    currentIndex: 0,\n    rowsByKey: {},\n    columns: [],\n    rows: [],\n    statementUrl,\n    statementHeaders,\n    meta: {\n        catalog,\n        schema,\n        tables: {\n            table_net_grid_hourly: tableNetGrid,\n            table_weather_hourly: tableWeather,\n            table_energy_cost_daily: tableCostDaily,\n            table_pv_self_consumption_daily: tablePvDaily,\n        },\n    },\n    nextHeaders: {\n        'Authorization': `Bearer ${accessToken}`,\n        'X-Trino-User': user,\n    },\n};\n\nconst current = msg._energyTrino.queries[msg._energyTrino.currentIndex];\nmsg.method = 'POST';\nmsg.url = statementUrl;\nmsg.headers = Object.assign({}, statementHeaders);\nmsg.payload = current.sql;\n\nif (trinoVerifySetting === false) {\n    msg.rejectUnauthorized = false;\n} else if (typeof trinoVerifySetting === 'string') {\n    msg.rejectUnauthorized = false;\n} else {\n    msg.rejectUnauthorized = true;\n}\n\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 120,
    "wires": [
      [
        "http_trino_energy_request"
      ],
      []
    ]
  },
  {
    "id": "http_trino_energy_request",
    "type": "http request",
    "z": "subflow_trino_query_energy",
    "name": "Energy Trino request",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 120,
    "wires": [
      [
        "fn_run_trino_energy_collect"
      ]
    ]
  },
  {
    "id": "fn_run_trino_energy_collect",
    "type": "function",
    "z": "subflow_trino_query_energy",
    "name": "Collect energy Trino pages",
    "func": "const status = Number(msg.statusCode || 0);\nif (status === 401 || status === 403 || status >= 400) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Upstream dependency failure while generating insight' };\n    return [null, null, msg];\n}\n\nconst state = msg._energyTrino || {};\nconst body = msg.payload || {};\nif (!Array.isArray(state.columns)) state.columns = [];\nif (!Array.isArray(state.rows)) state.rows = [];\nif (!state.rowsByKey || typeof state.rowsByKey !== 'object') state.rowsByKey = {};\n\nif (Array.isArray(body.columns) && body.columns.length > 0 && state.columns.length === 0) {\n    state.columns = body.columns.map((c) => c.name);\n}\n\nconst dataRows = Array.isArray(body.data) ? body.data : [];\nfor (const row of dataRows) {\n    if (!Array.isArray(row)) continue;\n    const mapped = {};\n    for (let i = 0; i < state.columns.length; i += 1) {\n        mapped[state.columns[i]] = row[i];\n    }\n    state.rows.push(mapped);\n}\n\nif (body.nextUri) {\n    msg._energyTrino = state;\n    msg.method = 'GET';\n    msg.url = String(body.nextUri);\n    msg.headers = Object.assign({}, state.nextHeaders || {});\n    msg.payload = '';\n    return [msg, null, null];\n}\n\nconst queries = Array.isArray(state.queries) ? state.queries : [];\nconst idx = Number(state.currentIndex || 0);\nconst current = queries[idx];\nif (!current || !current.key) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Upstream dependency failure while generating insight' };\n    return [null, null, msg];\n}\n\nstate.rowsByKey[current.key] = state.rows;\nstate.currentIndex = idx + 1;\nstate.columns = [];\nstate.rows = [];\n\nif (state.currentIndex < queries.length) {\n    const nextQuery = queries[state.currentIndex];\n    msg._energyTrino = state;\n    msg.method = 'POST';\n    msg.url = String(state.statementUrl || '');\n    msg.headers = Object.assign({}, state.statementHeaders || {});\n    msg.payload = nextQuery.sql;\n    return [msg, null, null];\n}\n\nmsg._energyTrino = state;\nmsg.energyDataset = {\n    hourly: Array.isArray(state.rowsByKey.hourly) ? state.rowsByKey.hourly : [],\n    daily_cost: Array.isArray(state.rowsByKey.daily_cost) ? state.rowsByKey.daily_cost : [],\n    daily_pv: Array.isArray(state.rowsByKey.daily_pv) ? state.rowsByKey.daily_pv : [],\n};\nmsg.trinoQuery = {\n    catalog: state.meta && state.meta.catalog,\n    schema: state.meta && state.meta.schema,\n    tables: state.meta && state.meta.tables,\n    row_count: msg.energyDataset.hourly.length,\n};\n\nreturn [null, msg, null];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 120,
    "wires": [
      [
        "http_trino_energy_request"
      ],
      [],
      []
    ]
  },
  {
    "id": "subflow_energy_exec",
    "type": "subflow",
    "name": "RunEnergySummarySubflow",
    "info": "Computes trend/forecast context and calls LLM with deterministic fallback.",
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "fn_run_energy_exec_prepare"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1120,
        "y": 100,
        "wires": [
          {
            "id": "fn_run_energy_exec_prepare",
            "port": 0
          },
          {
            "id": "fn_run_energy_exec_finish",
            "port": 0
          }
        ]
      },
      {
        "x": 1120,
        "y": 160,
        "wires": [
          {
            "id": "fn_run_energy_exec_prepare",
            "port": 1
          },
          {
            "id": "fn_run_energy_exec_finish",
            "port": 1
          }
        ]
      }
    ]
  },
  {
    "id": "fn_run_energy_exec_prepare",
    "type": "function",
    "z": "subflow_energy_exec",
    "name": "Prepare energy context",
    "func": "const uuidFromMathRandom = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (char) => {\n    const rand = Math.random() * 16 | 0;\n    const value = char === 'x' ? rand : ((rand & 0x3) | 0x8);\n    return value.toString(16);\n});\nconst runtimeCrypto = global.get('crypto');\nconst makeOutputId = () => (runtimeCrypto && typeof runtimeCrypto.randomUUID === 'function') ? runtimeCrypto.randomUUID() : uuidFromMathRandom();\n\nconst toBool = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return fallback;\n};\n\nconst toNumber = (value, fallback) => {\n    if (value === undefined || value === null || typeof value === 'boolean') return fallback;\n    if (typeof value === 'string' && value.trim() === '') return fallback;\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n};\n\nconst round4 = (value) => {\n    const n = Number(value);\n    if (!Number.isFinite(n)) return null;\n    return Number(n.toFixed(4));\n};\n\nconst toDate = (value) => {\n    if (value === undefined || value === null || value === '') return null;\n    const raw = String(value).trim().replace(' UTC', 'Z').replace(' ', 'T');\n    const d = new Date(raw);\n    if (Number.isNaN(d.getTime())) return null;\n    return d;\n};\n\nconst toIsoLikePython = (value) => {\n    const d = toDate(value);\n    if (!d) return String(value);\n    return d.toISOString().replace('.000Z', '+00:00');\n};\n\nconst mean = (values) => {\n    if (!Array.isArray(values) || values.length === 0) return null;\n    return values.reduce((acc, item) => acc + item, 0) / values.length;\n};\n\nconst trendDirection = (values, epsilon) => {\n    if (!Array.isArray(values) || values.length < 2) {\n        return { direction: 'stable', slope_per_step: 0.0 };\n    }\n    const points = values.length >= 24 ? values.slice(-24) : values;\n    const slope = (points[points.length - 1] - points[0]) / Math.max(1, points.length - 1);\n    const baseline = Math.max(Math.abs(points[0]), 1.0);\n    const normalized = slope / baseline;\n    let direction = 'stable';\n    if (normalized > epsilon) direction = 'up';\n    else if (normalized < -epsilon) direction = 'down';\n    return { direction, slope_per_step: round4(slope) || 0.0 };\n};\n\nconst dailyTrend = (values) => {\n    if (!Array.isArray(values) || values.length < 2) return 'stable';\n    const delta = values[values.length - 1] - values[0];\n    if (delta > 0) return 'up';\n    if (delta < 0) return 'down';\n    return 'stable';\n};\n\nconst sortObjectKeys = (source) => Object.keys(source || {}).sort().reduce((acc, key) => {\n    acc[key] = source[key];\n    return acc;\n}, {});\n\nconst req = msg.energyRequest || {};\nconst access = msg.accessContext || {};\nconst includeData = !!req.include_data;\nconst alpha = toNumber(req.forecast_alpha, 0.6);\nconst epsilon = toNumber(req.trend_epsilon, 0.02);\nconst timezone = req.timezone || 'UTC';\n\nconst dataset = msg.energyDataset || {};\nconst hourlyRowsRaw = Array.isArray(dataset.hourly) ? dataset.hourly : [];\nconst dailyCostRows = Array.isArray(dataset.daily_cost) ? dataset.daily_cost : [];\nconst dailyPvRows = Array.isArray(dataset.daily_pv) ? dataset.daily_pv : [];\n\nconst hourlyRows = hourlyRowsRaw\n    .map((row) => ({ row, ts: toDate(row.hour) }))\n    .filter((item) => item.ts !== null)\n    .sort((a, b) => a.ts.getTime() - b.ts.getTime());\n\nconst METRICS = ['avg_consumption_kw', 'net_grid_kw', 'estimated_hourly_cost_eur'];\nconst series = {};\nconst seasonalityBuckets = {};\nfor (const metric of METRICS) {\n    series[metric] = [];\n    seasonalityBuckets[metric] = {};\n    for (let h = 0; h < 24; h += 1) {\n        seasonalityBuckets[metric][String(h)] = [];\n    }\n}\n\nfor (const item of hourlyRows) {\n    for (const metric of METRICS) {\n        const value = toNumber(item.row[metric], NaN);\n        if (!Number.isFinite(value)) continue;\n        series[metric].push(value);\n        const hourKey = String(item.ts.getUTCHours());\n        seasonalityBuckets[metric][hourKey].push(value);\n    }\n}\n\nconst movingAverages = {};\nconst trendSignals = {};\nconst seasonalityPatterns = {};\nconst seasonalityMeans = {};\nfor (const metric of METRICS) {\n    const values = series[metric];\n    const ma6 = values.length >= 6 ? mean(values.slice(-6)) : null;\n    const ma24 = values.length >= 24 ? mean(values.slice(-24)) : null;\n    movingAverages[metric] = {\n        ma_6h: ma6 === null ? null : round4(ma6),\n        ma_24h: ma24 === null ? null : round4(ma24),\n        latest_value: values.length === 0 ? null : round4(values[values.length - 1]),\n    };\n    trendSignals[metric] = trendDirection(values, epsilon);\n\n    const perHour = {};\n    const valsForMean = [];\n    for (let h = 0; h < 24; h += 1) {\n        const bucket = seasonalityBuckets[metric][String(h)] || [];\n        const m = bucket.length === 0 ? null : round4(mean(bucket));\n        perHour[String(h)] = m;\n        if (m !== null) valsForMean.push(m);\n    }\n    seasonalityPatterns[metric] = perHour;\n    seasonalityMeans[metric] = valsForMean.length === 0 ? 0.0 : mean(valsForMean);\n}\n\nconst forecast24h = [];\nconst reference = hourlyRows.length === 0 ? null : hourlyRows[hourlyRows.length - 1].ts;\nif (reference) {\n    for (let step = 1; step <= 24; step += 1) {\n        const pointTs = new Date(reference.getTime() + step * 60 * 60 * 1000);\n        const point = { timestamp: pointTs.toISOString().replace('.000Z', '+00:00') };\n        for (const metric of METRICS) {\n            const values = series[metric];\n            const recentLevel = values.length === 0 ? 0.0 : mean(values.slice(-24));\n            const hourKey = String(pointTs.getUTCHours());\n            const seasonal = seasonalityPatterns[metric][hourKey];\n            const seasonalValue = seasonal === null ? seasonalityMeans[metric] : seasonal;\n            const forecastValue = recentLevel + (alpha * (seasonalValue - seasonalityMeans[metric]));\n            point[metric] = round4(forecastValue);\n        }\n        forecast24h.push(point);\n    }\n}\n\nconst confidenceNotes = [];\nif (hourlyRows.length === 0) {\n    confidenceNotes.push('No hourly rows available; forecast cannot be computed reliably.');\n} else {\n    for (const metric of METRICS) {\n        const total = hourlyRows.length;\n        const missing = total - series[metric].length;\n        if (total > 0 && (missing / total) > 0.15) {\n            confidenceNotes.push(`${metric}: elevated missingness (${missing}/${total}) lowers forecast confidence.`);\n        }\n    }\n}\nif (confidenceNotes.length === 0) {\n    confidenceNotes.push('Recent history coverage is sufficient for deterministic baseline forecasting.');\n}\n\nconst dailyCostValues = dailyCostRows.map((r) => toNumber(r.total_consumption_kw, NaN)).filter((v) => Number.isFinite(v));\nconst selfRatioValues = dailyPvRows.map((r) => toNumber(r.self_consumption_ratio, NaN)).filter((v) => Number.isFinite(v));\nlet dailyOverview = {\n    daily_cost_points: dailyCostRows.length,\n    daily_pv_points: dailyPvRows.length,\n    consumption_trend_daily: dailyTrend(dailyCostValues),\n    self_consumption_trend_daily: dailyTrend(selfRatioValues),\n    source: 'daily_views',\n};\n\nif (req.daily_overview_strategy === 'fallback_hourly' && dailyCostRows.length === 0 && dailyPvRows.length === 0) {\n    const byDay = {};\n    for (const item of hourlyRows) {\n        const key = item.ts.toISOString().slice(0, 10);\n        if (!byDay[key]) byDay[key] = { consumption: [], generation: [] };\n        const cons = toNumber(item.row.avg_consumption_kw, NaN);\n        const gen = toNumber(item.row.avg_generation_kw, NaN);\n        if (Number.isFinite(cons)) byDay[key].consumption.push(cons);\n        if (Number.isFinite(gen)) byDay[key].generation.push(gen);\n    }\n    const dayKeys = Object.keys(byDay).sort();\n    const dailyConsumption = [];\n    const dailySelfRatio = [];\n    for (const dayKey of dayKeys) {\n        const consValues = byDay[dayKey].consumption;\n        const genValues = byDay[dayKey].generation;\n        if (consValues.length > 0) {\n            dailyConsumption.push(consValues.reduce((a, b) => a + b, 0));\n        }\n        if (consValues.length > 0 && genValues.length > 0) {\n            const consSum = consValues.reduce((a, b) => a + b, 0);\n            const genSum = genValues.reduce((a, b) => a + b, 0);\n            const ratio = genSum > 0 ? Math.min(consSum, genSum) / genSum : 0.0;\n            dailySelfRatio.push(ratio);\n        }\n    }\n    dailyOverview = {\n        daily_cost_points: dailyConsumption.length,\n        daily_pv_points: dailySelfRatio.length,\n        consumption_trend_daily: dailyTrend(dailyConsumption),\n        self_consumption_trend_daily: dailyTrend(dailySelfRatio),\n        source: 'hourly_fallback',\n    };\n    confidenceNotes.push('Daily views were empty; daily_overview was estimated from hourly series fallback.');\n}\n\nconst bounds = (rows, key) => {\n    if (!Array.isArray(rows) || rows.length === 0) return { count: 0, first: null, last: null };\n    const values = rows.map((r) => r[key]).filter((v) => v !== undefined && v !== null);\n    if (values.length === 0) return { count: rows.length, first: null, last: null };\n    const ordered = values.map((v) => String(v)).sort((a, b) => a.localeCompare(b));\n    return {\n        count: rows.length,\n        first: toIsoLikePython(ordered[0]),\n        last: toIsoLikePython(ordered[ordered.length - 1]),\n    };\n};\n\nconst hints = [...confidenceNotes];\nif (forecast24h.length > 0) {\n    hints.push('Forecast uses hourly seasonality plus recent-level adjustment baseline model.');\n} else {\n    hints.push('Forecast output is empty due to insufficient hourly history in selected window.');\n}\n\nconst trendSignalsSorted = sortObjectKeys(trendSignals);\nconst movingAveragesSorted = sortObjectKeys(movingAverages);\nconst seasonalityPatternsSorted = sortObjectKeys(seasonalityPatterns);\nconst trackedMetricsSorted = Object.keys(trendSignalsSorted);\n\nconst context = {\n    window: {\n        start_ts: (req.start_ts || '').replace('.000Z', '+00:00'),\n        end_ts: (req.end_ts || '').replace('.000Z', '+00:00'),\n        timezone,\n        rows_analyzed: hourlyRowsRaw.length,\n    },\n    trend_signals: trendSignalsSorted,\n    moving_averages: movingAveragesSorted,\n    seasonality_patterns: seasonalityPatternsSorted,\n    forecast_24h: forecast24h,\n    daily_overview: dailyOverview,\n    data_availability: {\n        hourly_net_grid_weather: bounds(hourlyRowsRaw, 'hour'),\n        daily_cost: bounds(dailyCostRows, 'cost_date'),\n        daily_pv_self_consumption: bounds(dailyPvRows, 'sc_date'),\n    },\n    narrative_hints: hints,\n    summary: {\n        forecast_points: forecast24h.length,\n        tracked_metrics: trackedMetricsSorted,\n        daily_cost_points: dailyOverview.daily_cost_points,\n        daily_pv_points: dailyOverview.daily_pv_points,\n    },\n};\n\nconst fallbackOutput = {\n    summary: `Fallback insight generated from deterministic analytics context: ${JSON.stringify(context.summary)}`,\n    key_findings: hints.length > 0 ? hints.slice(0, 4) : ['No critical findings were detected for the requested interval.'],\n    recommendations: [\n        'Validate trend and forecast outputs against operational dashboards before publishing.',\n        'Trigger a dashboard refresh once upstream LLM connectivity is restored.'\n    ],\n};\n\nconst cacheEnabled = toBool(env.get('AI_INSIGHT_CACHE__ENABLED'), false);\nconst cachePrefix = env.get('AI_INSIGHT_CACHE__KEY_PREFIX') || 'ai-insight:cache:v1';\nconst cacheKey = [\n    cachePrefix,\n    'energy-summary',\n    access.agreement_id || 'unknown-agreement',\n    access.asset_id || 'unknown-asset',\n    req.start_ts || '',\n    req.end_ts || '',\n    timezone,\n    String(alpha),\n    String(epsilon),\n    String(req.daily_overview_strategy || 'strict_daily'),\n].join(':');\nconst cacheStore = global.get('aiInsightEnergySummaryCache') || {};\nconst reqHeaders = (msg.req && msg.req.headers) || {};\nconst rawCacheBypass = String(reqHeaders['x-insight-cache-bypass'] || reqHeaders['x-cache-bypass'] || '').trim().toLowerCase();\nconst cacheBypass = ['1', 'true', 'yes', 'on'].includes(rawCacheBypass);\n\nconst makeSuccessMsg = (result, llmUsed, llmModel, llmError) => {\n    const outputId = makeOutputId();\n    const timestamp = new Date().toISOString();\n    const isDev = ['development', 'dev', 'local'].includes(String(env.get('AI_INSIGHT_SERVICE__ENVIRONMENT') || env.get('FACIS_ENV') || 'development').toLowerCase());\n    msg.statusCode = 200;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = {\n        insight_type: 'energy-summary',\n        summary: result.summary,\n        key_findings: result.key_findings,\n        recommendations: result.recommendations,\n        metadata: {\n            output_id: outputId,\n            llm_model: llmModel,\n            timestamp,\n            llm_used: llmUsed,\n            agreement_id: access.agreement_id || 'unknown-agreement',\n            asset_id: access.asset_id || 'unknown-asset',\n            llm_error: isDev ? llmError : null,\n        },\n        data: includeData ? context : null,\n    };\n};\n\nif (cacheEnabled && !cacheBypass && cacheStore[cacheKey]) {\n    const cached = cacheStore[cacheKey];\n    makeSuccessMsg(\n        {\n            summary: cached.summary,\n            key_findings: cached.key_findings,\n            recommendations: cached.recommendations,\n        },\n        false,\n        cached.llm_model || 'cached-response',\n        null,\n    );\n    return [msg, null, null];\n}\n\nconst llmUrl = env.get('AI_INSIGHT_LLM__CHAT_COMPLETIONS_URL') || '';\nconst llmApiKey = env.get('AI_INSIGHT_LLM__API_KEY') || '';\nconst llmModel = env.get('AI_INSIGHT_LLM__MODEL') || 'gpt-4.1-mini';\nconst requireHttps = toBool(env.get('AI_INSIGHT_LLM__REQUIRE_HTTPS'), true);\n\nif (hourlyRowsRaw.length <= 0 || !llmUrl || !llmApiKey || (requireHttps && !String(llmUrl).startsWith('https://'))) {\n    makeSuccessMsg(fallbackOutput, false, 'rule-based-fallback', hourlyRowsRaw.length <= 0 ? 'LLM skipped due to insufficient data (rows_analyzed=0)' : 'LLM unavailable');\n    return [msg, null, null];\n}\n\nmsg._energyComputed = {\n    context,\n    fallbackOutput,\n    cacheEnabled,\n    cacheKey,\n    llmModel,\n    cacheBypass,\n};\nmsg.method = 'POST';\nmsg.url = llmUrl;\nmsg.headers = {\n    'Authorization': `Bearer ${llmApiKey}`,\n    'Content-Type': 'application/json',\n};\nconst systemPrompt = [\n    'You are an energy and smart-city analytics assistant.',\n    'Insight type: Energy trend and 24h forecast. Focus on trend direction, seasonality effects, forecast plausibility, and operational implications.',\n    'FACIS domain context:\\n- This analysis supports the FACIS demonstrator where simulation-service generates IoT/Smart-City events and related telemetry that are later analyzed in ai-insight-service.\\n- Consider data provenance as simulation-backed unless a field indicates otherwise.\\n- Keep claims aligned with provided context only; do not invent missing measurements or causes.',\n    'Data schema guide:\\n- `window`: `{start_ts, end_ts, timezone, rows_analyzed}` for analysis scope.\\n- `summary`: compact metrics for quick interpretation.\\n- `narrative_hints`: deterministic cues from analytics logic; treat as guidance, not hard facts.\\n- Trend/forecast context includes `trend_signals`, `moving_averages`, `seasonality_patterns`, `forecast_24h`, and `data_availability`.',\n    'Return ONLY valid JSON, with no markdown and no prose outside JSON.\\nRequired top-level object keys (exactly these keys):\\n- `summary`: string (2-4 sentences, concise executive overview)\\n- `key_findings`: array of strings (3-6 bullets worth of findings, each one sentence)\\n- `recommendations`: array of strings (2-5 actionable recommendations, each one sentence)\\nConstraints:\\n- Do not include additional top-level keys.\\n- Preserve factual consistency with provided context.\\n- If evidence is insufficient, state uncertainty explicitly in findings/recommendations.'\n].join('\\n\\n');\nconst userPrompt = 'Analyze the following structured context and produce the required JSON output.\\\\nContext JSON:\\\\n' + JSON.stringify(context, null, 2);\n\nmsg.payload = {\n    model: llmModel,\n    temperature: 0.2,\n    messages: [\n        {\n            role: 'system',\n            content: systemPrompt,\n        },\n        {\n            role: 'user',\n            content: userPrompt,\n        }\n    ]\n};\nreturn [null, null, msg];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 120,
    "wires": [
      [],
      [],
      [
        "http_llm_energy_request"
      ]
    ]
  },
  {
    "id": "http_llm_energy_request",
    "type": "http request",
    "z": "subflow_energy_exec",
    "name": "LLM request",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 120,
    "wires": [
      [
        "fn_run_energy_exec_finish"
      ]
    ]
  },
  {
    "id": "fn_run_energy_exec_finish",
    "type": "function",
    "z": "subflow_energy_exec",
    "name": "Finalize energy response",
    "func": "const uuidFromMathRandom = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (char) => {\n    const rand = Math.random() * 16 | 0;\n    const value = char === 'x' ? rand : ((rand & 0x3) | 0x8);\n    return value.toString(16);\n});\nconst runtimeCrypto = global.get('crypto');\nconst makeOutputId = () => (runtimeCrypto && typeof runtimeCrypto.randomUUID === 'function') ? runtimeCrypto.randomUUID() : uuidFromMathRandom();\nconst computed = msg._energyComputed || {};\nconst context = computed.context || {};\nconst fallbackOutput = computed.fallbackOutput || {\n    summary: 'Fallback insight generated from deterministic analytics context.',\n    key_findings: ['No critical findings were detected for the requested interval.'],\n    recommendations: ['Trigger a dashboard refresh once upstream LLM connectivity is restored.']\n};\n\nconst access = msg.accessContext || {};\nconst req = msg.energyRequest || {};\nconst includeData = !!req.include_data;\nconst isDev = ['development', 'dev', 'local'].includes(String(env.get('AI_INSIGHT_SERVICE__ENVIRONMENT') || env.get('FACIS_ENV') || 'development').toLowerCase());\n\nlet finalOutput = fallbackOutput;\nlet llmUsed = false;\nlet llmModel = 'rule-based-fallback';\nlet llmError = null;\n\nif (Number(msg.statusCode || 0) >= 200 && Number(msg.statusCode || 0) < 300) {\n    try {\n        const payload = msg.payload || {};\n        const model = payload.model || computed.llmModel || 'unknown-model';\n        const content = payload && payload.choices && payload.choices[0] && payload.choices[0].message && payload.choices[0].message.content;\n        let normalized = String(content).trim();\n        normalized = normalized.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n        const parsed = JSON.parse(normalized);\n        const payloadObj = parsed && (parsed.result || parsed.output || parsed);\n        const summaryCandidate = payloadObj && (payloadObj.summary || payloadObj.overview || payloadObj.summary_text);\n        const findingsCandidate = payloadObj && (payloadObj.key_findings || payloadObj.keyFindings || payloadObj.findings || payloadObj.keyPoints);\n        const recommendationsCandidate = payloadObj && (payloadObj.recommendations || payloadObj.recommendation_list || payloadObj.actions || payloadObj.suggestions);\n\n        const toStringArray = (value) => {\n            if (Array.isArray(value)) return value.map((x) => String(x));\n            if (typeof value === 'string') {\n                return value\n                    .split(/\\n+/)\n                    .map((line) => line.replace(/^[-*\\d.)\\s]+/, '').trim())\n                    .filter(Boolean);\n            }\n            if (value && typeof value === 'object') {\n                if (Array.isArray(value.items)) return value.items.map((x) => String(x));\n                if (Array.isArray(value.points)) return value.points.map((x) => String(x));\n                if (Array.isArray(value.list)) return value.list.map((x) => String(x));\n            }\n            return [];\n        };\n\n        const findings = toStringArray(findingsCandidate);\n        const recommendations = toStringArray(recommendationsCandidate);\n        if (!summaryCandidate || findings.length === 0 || recommendations.length === 0) {\n            throw new Error('LLM output does not match expected schema: ' + JSON.stringify(parsed).slice(0, 240));\n        }\n\n        finalOutput = {\n            summary: String(summaryCandidate),\n            key_findings: findings,\n            recommendations,\n        };\n        llmUsed = true;\n        llmModel = String(model);\n    } catch (error) {\n        llmError = String(error && error.message ? error.message : error);\n    }\n} else {\n    llmError = 'LLM request failed with status ' + String(msg.statusCode || 'unknown');\n}\n\nif (computed.cacheEnabled && llmUsed && !computed.cacheBypass) {\n    const cacheStore = global.get('aiInsightEnergySummaryCache') || {};\n    cacheStore[computed.cacheKey] = {\n        summary: finalOutput.summary,\n        key_findings: finalOutput.key_findings,\n        recommendations: finalOutput.recommendations,\n        llm_model: llmModel,\n        cached_at: new Date().toISOString(),\n    };\n    global.set('aiInsightEnergySummaryCache', cacheStore);\n}\n\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    insight_type: 'energy-summary',\n    summary: finalOutput.summary,\n    key_findings: finalOutput.key_findings,\n    recommendations: finalOutput.recommendations,\n    metadata: {\n        output_id: makeOutputId(),\n        llm_model: llmModel,\n        timestamp: new Date().toISOString(),\n        llm_used: llmUsed,\n        agreement_id: access.agreement_id || 'unknown-agreement',\n        asset_id: access.asset_id || 'unknown-asset',\n        llm_error: isDev ? llmError : null,\n    },\n    data: includeData ? context : null,\n};\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 120,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "http_in_energy_summary_v1",
    "type": "http in",
    "z": "tab_ai_insight_energy_summary",
    "name": "POST /api/v1/insights/energy-summary",
    "url": "/api/v1/insights/energy-summary",
    "method": "post",
    "upload": false,
    "swaggerDoc": {
      "summary": "Generate energy-summary insight",
      "description": "Produces trend and forecast insight using multi-query Trino context."
    },
    "x": 220,
    "y": 120,
    "wires": [
      [
        "fn_validate_energy_request"
      ]
    ]
  },
  {
    "id": "fn_validate_energy_request",
    "type": "function",
    "z": "tab_ai_insight_energy_summary",
    "name": "ValidateEnergySummaryRequest",
    "func": "let asObj = msg.payload || {};\ntry {\n    asObj = typeof asObj === 'string' ? JSON.parse(asObj) : asObj;\n} catch (_) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Request body must be valid JSON' };\n    return [null, msg];\n}\n\nif (!asObj || typeof asObj !== 'object') {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Request body must be a JSON object' };\n    return [null, msg];\n}\n\nconst startTs = new Date(asObj.start_ts);\nconst endTs = new Date(asObj.end_ts);\nif (Number.isNaN(startTs.getTime()) || Number.isNaN(endTs.getTime())) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'start_ts and end_ts must be valid timestamps' };\n    return [null, msg];\n}\nif (startTs >= endTs) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'start_ts must be earlier than end_ts' };\n    return [null, msg];\n}\n\nconst forecastAlpha = asObj.forecast_alpha === undefined ? 0.6 : Number(asObj.forecast_alpha);\nif (!Number.isFinite(forecastAlpha) || forecastAlpha <= 0 || forecastAlpha > 1) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'forecast_alpha must be within (0, 1]' };\n    return [null, msg];\n}\n\nconst trendEpsilon = asObj.trend_epsilon === undefined ? 0.02 : Number(asObj.trend_epsilon);\nif (!Number.isFinite(trendEpsilon) || trendEpsilon < 0) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'trend_epsilon must be >= 0' };\n    return [null, msg];\n}\n\nconst strategy = asObj.daily_overview_strategy === undefined ? 'strict_daily' : String(asObj.daily_overview_strategy);\nif (!['strict_daily', 'fallback_hourly'].includes(strategy)) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'daily_overview_strategy must be strict_daily or fallback_hourly' };\n    return [null, msg];\n}\n\nmsg.energyRequest = {\n    start_ts: startTs.toISOString(),\n    end_ts: endTs.toISOString(),\n    timezone: typeof asObj.timezone === 'string' && asObj.timezone ? asObj.timezone : 'UTC',\n    forecast_alpha: forecastAlpha,\n    trend_epsilon: trendEpsilon,\n    daily_overview_strategy: strategy,\n    include_data: !!asObj.include_data,\n};\n\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 120,
    "wires": [
      [
        "fn_policy_rate_limit_energy"
      ],
      [
        "http_resp_energy_400_json"
      ]
    ]
  },
  {
    "id": "fn_policy_rate_limit_energy",
    "type": "function",
    "z": "tab_ai_insight_energy_summary",
    "name": "PolicyAndRateLimit",
    "func": "const toBool = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return fallback;\n};\n\nconst parseList = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    try {\n        const parsed = JSON.parse(value);\n        if (Array.isArray(parsed)) return parsed.map((item) => String(item));\n    } catch (_) {\n        // ignore\n    }\n    return fallback;\n};\n\nconst headers = (msg.req && msg.req.headers) || {};\nconst pickHeader = (name) => headers[String(name || '').toLowerCase()];\n\nconst policyEnabled = toBool(env.get('AI_INSIGHT_POLICY__ENABLED'), true);\nconst agreementHeader = env.get('AI_INSIGHT_POLICY__AGREEMENT_HEADER') || 'x-agreement-id';\nconst assetHeader = env.get('AI_INSIGHT_POLICY__ASSET_HEADER') || 'x-asset-id';\nconst roleHeader = env.get('AI_INSIGHT_POLICY__ROLE_HEADER') || 'x-user-roles';\nconst requiredRoles = parseList(env.get('AI_INSIGHT_POLICY__REQUIRED_ROLES'), ['ai_insight_consumer']);\nconst allowedAgreements = parseList(env.get('AI_INSIGHT_POLICY__ALLOWED_AGREEMENT_IDS'), []);\nconst allowedAssets = parseList(env.get('AI_INSIGHT_POLICY__ALLOWED_ASSET_IDS'), []);\n\nconst agreementId = String(pickHeader(agreementHeader) || '').trim();\nconst assetId = String(pickHeader(assetHeader) || '').trim();\nconst rawRoles = String(pickHeader(roleHeader) || '').trim();\nconst roles = rawRoles ? rawRoles.split(',').map((item) => item.trim()).filter(Boolean) : [];\n\nif (policyEnabled) {\n    if (!agreementId || !assetId || roles.length === 0) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Missing required governance headers' };\n        return [null, msg, null];\n    }\n\n    const missingRole = requiredRoles.find((role) => !roles.includes(role));\n    if (missingRole) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Policy denied: missing required role ' + missingRole };\n        return [null, msg, null];\n    }\n\n    if (allowedAgreements.length > 0 && !allowedAgreements.includes(agreementId)) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Policy denied for agreement_id' };\n        return [null, msg, null];\n    }\n\n    if (allowedAssets.length > 0 && !allowedAssets.includes(assetId)) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Policy denied for asset_id' };\n        return [null, msg, null];\n    }\n}\n\nconst rateLimitEnabled = toBool(env.get('AI_INSIGHT_RATE_LIMIT__ENABLED'), true);\nconst rpm = Math.max(1, Number(env.get('AI_INSIGHT_RATE_LIMIT__REQUESTS_PER_MINUTE') || 10));\nconst limiterAgreement = agreementId || 'anonymous';\n\nif (rateLimitEnabled) {\n    const bucketKey = 'aiInsightRateLimitBuckets';\n    const buckets = global.get(bucketKey) || {};\n    const now = Date.now();\n    const windowMs = 60 * 1000;\n    let bucket = buckets[limiterAgreement];\n    if (!bucket || now - bucket.windowStart >= windowMs) {\n        bucket = { windowStart: now, count: 0 };\n    }\n    if (bucket.count >= rpm) {\n        const retryAfter = Math.max(1, Math.ceil((bucket.windowStart + windowMs - now) / 1000));\n        msg.statusCode = 429;\n        msg.headers = {\n            'Content-Type': 'application/json',\n            'Retry-After': String(retryAfter),\n        };\n        msg.payload = { detail: 'Agreement rate limit exceeded' };\n        buckets[limiterAgreement] = bucket;\n        global.set(bucketKey, buckets);\n        return [null, null, msg];\n    }\n    bucket.count += 1;\n    buckets[limiterAgreement] = bucket;\n    global.set(bucketKey, buckets);\n}\n\nmsg.accessContext = {\n    agreement_id: agreementId || 'unknown-agreement',\n    asset_id: assetId || 'unknown-asset',\n    roles,\n};\n\nreturn [msg, null, null];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 120,
    "wires": [
      [
        "node_get_trino_token_energy"
      ],
      [
        "http_resp_energy_403_json"
      ],
      [
        "http_resp_energy_429_json"
      ]
    ]
  },
  {
    "id": "node_get_trino_token_energy",
    "type": "subflow:subflow_trino_token",
    "z": "tab_ai_insight_energy_summary",
    "name": "GetTrinoToken",
    "x": 1420,
    "y": 120,
    "wires": [
      [
        "node_run_trino_query_energy"
      ],
      [
        "fn_energy_502_once"
      ]
    ]
  },
  {
    "id": "node_run_trino_query_energy",
    "type": "subflow:subflow_trino_query_energy",
    "z": "tab_ai_insight_energy_summary",
    "name": "RunTrinoQueryEnergy",
    "x": 1820,
    "y": 120,
    "wires": [
      [
        "node_run_energy_exec"
      ],
      [
        "fn_energy_502_once"
      ]
    ]
  },
  {
    "id": "node_run_energy_exec",
    "type": "subflow:subflow_energy_exec",
    "z": "tab_ai_insight_energy_summary",
    "name": "RunEnergySummarySubflow",
    "x": 2220,
    "y": 120,
    "wires": [
      [
        "fn_store_latest_energy"
      ],
      [
        "fn_energy_502_once"
      ]
    ]
  },
  {
    "id": "fn_store_latest_energy",
    "type": "function",
    "z": "tab_ai_insight_energy_summary",
    "name": "StoreLatestEnergy",
    "func": "const latest = global.get('aiInsightLatestOutputs') || {};\nconst outputsById = global.get('aiInsightOutputsById') || {};\nif (msg && msg.payload && msg.payload.metadata) {\n    const snapshot = JSON.parse(JSON.stringify(msg.payload));\n    const metadata = snapshot.metadata || {};\n    const outputId = String(metadata.output_id || '').trim();\n\n    latest['energy-summary'] = {\n        cached_at: metadata.timestamp || new Date().toISOString(),\n        output: snapshot,\n    };\n    global.set('aiInsightLatestOutputs', latest);\n\n    const fallbackText = [\n        String(snapshot.summary || ''),\n        ...((Array.isArray(snapshot.key_findings) ? snapshot.key_findings : []).map((item) => '- ' + String(item))),\n        ...((Array.isArray(snapshot.recommendations) ? snapshot.recommendations : []).map((item) => '- ' + String(item))),\n    ].filter((line) => String(line).trim().length > 0).join('\\n');\n\n    if (outputId) {\n        outputsById[outputId] = {\n            id: outputId,\n            insight_type: 'energy-summary',\n            agreement_id: String(metadata.agreement_id || 'unknown-agreement'),\n            asset_id: String(metadata.asset_id || 'unknown-asset'),\n            input_data: JSON.parse(JSON.stringify(msg.energyRequest || {})),\n            llm_model: String(metadata.llm_model || 'rule-based-fallback'),\n            output_text: (typeof msg._llmRawText === 'string' && msg._llmRawText.trim()) ? msg._llmRawText.trim() : fallbackText,\n            structured_output: {\n                summary: String(snapshot.summary || ''),\n                key_findings: Array.isArray(snapshot.key_findings) ? snapshot.key_findings.map((item) => String(item)) : [],\n                recommendations: Array.isArray(snapshot.recommendations) ? snapshot.recommendations.map((item) => String(item)) : [],\n            },\n            timestamp: String(metadata.timestamp || new Date().toISOString()),\n        };\n        global.set('aiInsightOutputsById', outputsById);\n    }\n}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2400,
    "y": 120,
    "wires": [
      [
        "http_resp_energy_200_json"
      ]
    ]
  },
  {
    "id": "fn_energy_502_once",
    "type": "function",
    "z": "tab_ai_insight_energy_summary",
    "name": "Guard502SingleResponse",
    "func": "if (msg._energyResponseDispatched) {\n    return null;\n}\nmsg._energyResponseDispatched = true;\n\nconst detail = (msg.payload && msg.payload.detail)\n    ? String(msg.payload.detail)\n    : 'Upstream dependency failure while generating insight';\n\nmsg.statusCode = 502;\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    detail\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2220,
    "y": 340,
    "wires": [
      [
        "http_resp_energy_502_json"
      ]
    ]
  },
  {
    "id": "http_resp_energy_200_json",
    "type": "http response",
    "z": "tab_ai_insight_energy_summary",
    "name": "Energy 200 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 2580,
    "y": 120,
    "wires": []
  },
  {
    "id": "http_resp_energy_400_json",
    "type": "http response",
    "z": "tab_ai_insight_energy_summary",
    "name": "Energy 400 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 620,
    "y": 280,
    "wires": []
  },
  {
    "id": "http_resp_energy_403_json",
    "type": "http response",
    "z": "tab_ai_insight_energy_summary",
    "name": "Energy 403 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 1020,
    "y": 280,
    "wires": []
  },
  {
    "id": "http_resp_energy_429_json",
    "type": "http response",
    "z": "tab_ai_insight_energy_summary",
    "name": "Energy 429 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 1020,
    "y": 390,
    "wires": []
  },
  {
    "id": "http_resp_energy_502_json",
    "type": "http response",
    "z": "tab_ai_insight_energy_summary",
    "name": "Energy 502 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 2580,
    "y": 340,
    "wires": []
  },
  {
    "id": "catch_energy_errors",
    "type": "catch",
    "z": "tab_ai_insight_energy_summary",
    "name": "CatchEnergyErrors",
    "scope": [
      "fn_validate_energy_request",
      "fn_policy_rate_limit_energy",
      "node_get_trino_token_energy",
      "node_run_trino_query_energy",
      "node_run_energy_exec"
    ],
    "uncaught": false,
    "x": 220,
    "y": 620,
    "wires": [
      [
        "fn_energy_uncaught"
      ]
    ]
  },
  {
    "id": "fn_energy_uncaught",
    "type": "function",
    "z": "tab_ai_insight_energy_summary",
    "name": "BuildEnergyUncaughtError",
    "func": "const sourceId = msg.error && msg.error.source && msg.error.source.id;\nif (sourceId === 'http_resp_energy_502_json') {\n    return null;\n}\n\nif (!msg.res) {\n    return null;\n}\n\nconst alreadySent = !!(msg.res.headersSent || (msg.res._res && (msg.res._res.headersSent || msg.res._res.writableEnded)));\nif (alreadySent) {\n    return null;\n}\n\nmsg.statusCode = 502;\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    detail: 'Upstream dependency failure while generating insight'\n};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 620,
    "wires": [
      [
        "http_resp_energy_502_json",
        "debug_energy_error"
      ]
    ]
  },
  {
    "id": "debug_energy_error",
    "type": "debug",
    "z": "tab_ai_insight_energy_summary",
    "name": "Energy error debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1020,
    "y": 620,
    "wires": []
  }
]
