services/ai-insight-service/orce/flows/ai-insight-city-status.json
[
  {
    "id": "tab_ai_insight_city_status",
    "type": "tab",
    "label": "ai-insight-city-status",
    "disabled": false,
    "info": "Phase 5 city-status endpoint with Trino + LLM + fallback."
  },
  {
    "id": "subflow_trino_query_city",
    "type": "subflow",
    "name": "RunTrinoQueryCity",
    "info": "Runs Smart City JOIN query with nextUri pagination.",
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "fn_run_trino_city_prepare"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1180,
        "y": 100,
        "wires": [
          {
            "id": "fn_run_trino_city_collect",
            "port": 1
          }
        ]
      },
      {
        "x": 1180,
        "y": 160,
        "wires": [
          {
            "id": "fn_run_trino_city_prepare",
            "port": 1
          },
          {
            "id": "fn_run_trino_city_collect",
            "port": 2
          }
        ]
      }
    ]
  },
  {
    "id": "fn_run_trino_city_prepare",
    "type": "function",
    "z": "subflow_trino_query_city",
    "name": "Prepare city Trino statement",
    "func": "const parseVerifySetting = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return String(value);\n};\n\nconst quoteIdent = (v) => '\"' + String(v).replace(/\"/g, '\"\"') + '\"';\n\nconst req = msg.cityRequest || {};\nif (!req.start_ts || !req.end_ts) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'start_ts and end_ts are required' };\n    return [null, msg];\n}\n\nconst accessToken = msg.trinoAuth && msg.trinoAuth.access_token;\nif (!accessToken) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Trino authentication failed' };\n    return [null, msg];\n}\n\nconst host = env.get('AI_INSIGHT_TRINO__HOST') || 'localhost';\nconst port = Number(env.get('AI_INSIGHT_TRINO__PORT') || 8080);\nconst scheme = env.get('AI_INSIGHT_TRINO__HTTP_SCHEME') || 'http';\nconst user = env.get('AI_INSIGHT_TRINO__USER') || 'trino';\nconst catalog = env.get('AI_INSIGHT_TRINO__CATALOG') || 'hive';\nconst schema = env.get('AI_INSIGHT_TRINO__TARGET_SCHEMA') || 'gold';\nconst tableEventImpact = env.get('AI_INSIGHT_TRINO__TABLE_EVENT_IMPACT_DAILY') || 'event_impact_daily';\nconst tableStreetlight = env.get('AI_INSIGHT_TRINO__TABLE_STREETLIGHT_ZONE_HOURLY') || 'streetlight_zone_hourly';\nconst trinoVerifySetting = parseVerifySetting(env.get('AI_INSIGHT_TRINO__VERIFY'), true);\n\nconst startTs = req.start_ts;\nconst endTs = req.end_ts;\nconst sql = [\n    'SELECT',\n    '  events.event_date,',\n    '  events.zone_id,',\n    '  events.event_type,',\n    '  events.event_count,',\n    '  events.avg_severity,',\n    '  events.active_count,',\n    '  streetlights.hour,',\n    '  streetlights.avg_dimming_pct,',\n    '  streetlights.total_power_w,',\n    '  streetlights.light_count',\n    `FROM ${quoteIdent(schema)}.${quoteIdent(tableEventImpact)} AS events`,\n    `JOIN ${quoteIdent(schema)}.${quoteIdent(tableStreetlight)} AS streetlights`,\n    'ON events.zone_id = streetlights.zone_id',\n    'AND events.event_date = CAST(streetlights.hour AS DATE)',\n    `WHERE events.event_date >= CAST(from_iso8601_timestamp('${startTs}') AS DATE)`,\n    `  AND events.event_date < CAST(from_iso8601_timestamp('${endTs}') AS DATE)`,\n    `  AND streetlights.hour >= from_iso8601_timestamp('${startTs}')`,\n    `  AND streetlights.hour < from_iso8601_timestamp('${endTs}')`,\n    'ORDER BY events.event_date, events.zone_id, events.event_type, streetlights.hour'\n].join('\\n');\n\nmsg.method = 'POST';\nmsg.url = `${scheme}://${host}:${port}/v1/statement`;\nmsg.headers = {\n    'Authorization': `Bearer ${accessToken}`,\n    'X-Trino-User': user,\n    'X-Trino-Catalog': catalog,\n    'X-Trino-Schema': schema,\n    'Content-Type': 'text/plain; charset=utf-8'\n};\nmsg.payload = sql;\n\nif (trinoVerifySetting === false) {\n    msg.rejectUnauthorized = false;\n} else if (typeof trinoVerifySetting === 'string') {\n    msg.rejectUnauthorized = false;\n} else {\n    msg.rejectUnauthorized = true;\n}\n\nmsg._trinoCityMeta = {\n    catalog,\n    schema,\n    table_event_impact_daily: tableEventImpact,\n    table_streetlight_zone_hourly: tableStreetlight\n};\nmsg._trinoCityRows = [];\nmsg._trinoCityColumns = [];\nmsg._trinoCityNextHeaders = {\n    'Authorization': `Bearer ${accessToken}`,\n    'X-Trino-User': user\n};\n\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 120,
    "wires": [
      [
        "http_trino_city_request"
      ],
      []
    ]
  },
  {
    "id": "http_trino_city_request",
    "type": "http request",
    "z": "subflow_trino_query_city",
    "name": "City Trino request",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 120,
    "wires": [
      [
        "fn_run_trino_city_collect"
      ]
    ]
  },
  {
    "id": "fn_run_trino_city_collect",
    "type": "function",
    "z": "subflow_trino_query_city",
    "name": "Collect city Trino pages",
    "func": "const status = Number(msg.statusCode || 0);\nif (status === 401 || status === 403 || status >= 400) {\n    msg.statusCode = 502;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Upstream dependency failure while generating insight' };\n    return [null, null, msg];\n}\n\nconst body = msg.payload || {};\nif (Array.isArray(body.columns) && body.columns.length > 0 && (!Array.isArray(msg._trinoCityColumns) || msg._trinoCityColumns.length === 0)) {\n    msg._trinoCityColumns = body.columns.map((c) => c.name);\n}\n\nconst columns = Array.isArray(msg._trinoCityColumns) ? msg._trinoCityColumns : [];\nconst rows = Array.isArray(msg._trinoCityRows) ? msg._trinoCityRows : [];\nconst data = Array.isArray(body.data) ? body.data : [];\nfor (const row of data) {\n    if (!Array.isArray(row)) continue;\n    const mapped = {};\n    for (let i = 0; i < columns.length; i += 1) {\n        mapped[columns[i]] = row[i];\n    }\n    rows.push(mapped);\n}\nmsg._trinoCityRows = rows;\n\nif (body.nextUri) {\n    msg.method = 'GET';\n    msg.url = String(body.nextUri);\n    msg.headers = Object.assign({}, msg._trinoCityNextHeaders || {});\n    msg.payload = '';\n    return [msg, null, null];\n}\n\nmsg.cityRows = rows;\nmsg.trinoQuery = Object.assign({}, msg._trinoCityMeta || {}, {\n    row_count: rows.length,\n});\nreturn [null, msg, null];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 120,
    "wires": [
      [
        "http_trino_city_request"
      ],
      [],
      []
    ]
  },
  {
    "id": "subflow_city_exec",
    "type": "subflow",
    "name": "RunCityStatusSubflow",
    "info": "Computes smart-city context and calls LLM with deterministic fallback.",
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "fn_run_city_exec_prepare"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1120,
        "y": 100,
        "wires": [
          {
            "id": "fn_run_city_exec_prepare",
            "port": 0
          },
          {
            "id": "fn_run_city_exec_finish",
            "port": 0
          }
        ]
      },
      {
        "x": 1120,
        "y": 160,
        "wires": [
          {
            "id": "fn_run_city_exec_prepare",
            "port": 1
          },
          {
            "id": "fn_run_city_exec_finish",
            "port": 1
          }
        ]
      }
    ]
  },
  {
    "id": "fn_run_city_exec_prepare",
    "type": "function",
    "z": "subflow_city_exec",
    "name": "Prepare city context",
    "func": "const uuidFromMathRandom = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (char) => {\n    const rand = Math.random() * 16 | 0;\n    const value = char === 'x' ? rand : ((rand & 0x3) | 0x8);\n    return value.toString(16);\n});\nconst runtimeCrypto = global.get('crypto');\nconst makeOutputId = () => (runtimeCrypto && typeof runtimeCrypto.randomUUID === 'function') ? runtimeCrypto.randomUUID() : uuidFromMathRandom();\n\nconst toBool = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return fallback;\n};\n\nconst toNumber = (value, fallback) => {\n    if (value === undefined || value === null || typeof value === 'boolean') return fallback;\n    if (typeof value === 'string' && value.trim() === '') return fallback;\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n};\n\nconst round4 = (value) => {\n    const n = Number(value);\n    if (!Number.isFinite(n)) return 0;\n    return Number(n.toFixed(4));\n};\n\nconst toDateString = (value) => {\n    if (value === undefined || value === null) return '';\n    if (value instanceof Date) return value.toISOString().slice(0, 10);\n    return String(value);\n};\n\nconst toDateTime = (value) => {\n    if (value === undefined || value === null || value === '') return null;\n    const raw = String(value).trim().replace(' UTC', 'Z').replace(' ', 'T');\n    const normalized = raw.endsWith('Z') ? raw.replace('Z', '+00:00') : raw;\n    const d = new Date(normalized);\n    if (Number.isNaN(d.getTime())) return null;\n    return d;\n};\n\nconst toIsoLikePython = (value) => {\n    const d = toDateTime(value);\n    if (!d) return String(value);\n    return d.toISOString().replace('.000Z', '+00:00');\n};\n\nconst median = (values) => {\n    if (!Array.isArray(values) || values.length === 0) return 0;\n    const ordered = [...values].sort((a, b) => a - b);\n    const mid = Math.floor(ordered.length / 2);\n    if (ordered.length % 2 === 0) {\n        return (ordered[mid - 1] + ordered[mid]) / 2;\n    }\n    return ordered[mid];\n};\n\nconst mad = (values, med) => {\n    const dev = values.map((v) => Math.abs(v - med));\n    return median(dev);\n};\n\nconst safeZ = (value, med, madValue) => {\n    if (madValue <= 0) return 0.0;\n    const scale = 1.4826 * madValue;\n    if (scale <= 0) return 0.0;\n    return (value - med) / scale;\n};\n\nconst percentShift = (value, baseline) => {\n    if (baseline === 0) return 0.0;\n    return ((value - baseline) / Math.abs(baseline)) * 100.0;\n};\n\nconst lagBucket = (lagHours) => {\n    if (lagHours < 6) return '0-6h';\n    if (lagHours < 24) return '6-24h';\n    return '24-48h';\n};\n\nconst scoreToConfidence = (score) => {\n    if (score >= 0.8) return 'high';\n    if (score >= 0.5) return 'medium';\n    return 'low';\n};\n\nconst sortObjectKeys = (source) => Object.keys(source || {}).sort().reduce((acc, key) => {\n    acc[key] = source[key];\n    return acc;\n}, {});\n\nconst req = msg.cityRequest || {};\nconst access = msg.accessContext || {};\nconst includeData = !!req.include_data;\nconst timezone = req.timezone || 'UTC';\nconst rows = Array.isArray(msg.cityRows) ? msg.cityRows : [];\n\nconst zonePowerValues = {};\nconst zoneDimmingValues = {};\nconst eventGroups = {};\n\nfor (const row of rows) {\n    const zone = String(row.zone_id || '');\n    const power = toNumber(row.total_power_w, NaN);\n    const dimming = toNumber(row.avg_dimming_pct, NaN);\n\n    if (Number.isFinite(power)) {\n        if (!Array.isArray(zonePowerValues[zone])) zonePowerValues[zone] = [];\n        zonePowerValues[zone].push(power);\n    }\n    if (Number.isFinite(dimming)) {\n        if (!Array.isArray(zoneDimmingValues[zone])) zoneDimmingValues[zone] = [];\n        zoneDimmingValues[zone].push(dimming);\n    }\n\n    const key = [\n        toDateString(row.event_date),\n        zone,\n        String(row.event_type || 'unknown'),\n    ].join('|');\n    if (!Array.isArray(eventGroups[key])) eventGroups[key] = [];\n    eventGroups[key].push(row);\n}\n\nconst zoneBaselines = {};\nfor (const zone of Object.keys(zonePowerValues)) {\n    const powerValues = zonePowerValues[zone] || [];\n    const powerMedian = powerValues.length > 0 ? median(powerValues) : 0.0;\n    const powerMad = powerValues.length > 0 ? mad(powerValues, powerMedian) : 0.0;\n\n    const dimValues = zoneDimmingValues[zone] || [];\n    const dimMedian = dimValues.length > 0 ? median(dimValues) : 0.0;\n    const dimMad = dimValues.length > 0 ? mad(dimValues, dimMedian) : 0.0;\n\n    zoneBaselines[zone] = {\n        power_median: powerMedian,\n        power_mad: powerMad,\n        dimming_median: dimMedian,\n        dimming_mad: dimMad,\n    };\n}\n\nconst lagDistribution = { '0-6h': 0, '6-24h': 0, '24-48h': 0 };\nconst zoneAgg = {};\nconst patterns = [];\nconst highConfidenceLinks = [];\n\nconst eventKeys = Object.keys(eventGroups).sort();\nfor (const eventKey of eventKeys) {\n    const [eventDate, zoneId, eventType] = eventKey.split('|');\n    const groupRows = [...eventGroups[eventKey]].sort((a, b) => String(a.hour || '').localeCompare(String(b.hour || '')));\n\n    const baseline = zoneBaselines[zoneId] || {\n        power_median: 0.0,\n        power_mad: 0.0,\n        dimming_median: 0.0,\n        dimming_mad: 0.0,\n    };\n\n    const powerValues = groupRows.map((item) => toNumber(item.total_power_w, NaN)).filter((value) => Number.isFinite(value));\n    const dimmingValues = groupRows.map((item) => toNumber(item.avg_dimming_pct, NaN)).filter((value) => Number.isFinite(value));\n\n    const eventAvgPower = powerValues.length > 0 ? powerValues.reduce((a, b) => a + b, 0) / powerValues.length : 0.0;\n    const eventAvgDimming = dimmingValues.length > 0 ? dimmingValues.reduce((a, b) => a + b, 0) / dimmingValues.length : 0.0;\n\n    const powerZ = safeZ(eventAvgPower, baseline.power_median, baseline.power_mad);\n    const dimmingZ = safeZ(eventAvgDimming, baseline.dimming_median, baseline.dimming_mad);\n\n    const localBuckets = { '0-6h': 0, '6-24h': 0, '24-48h': 0 };\n    const eventStart = toDateTime(`${eventDate}T00:00:00+00:00`) || new Date('1970-01-01T00:00:00+00:00');\n\n    for (const item of groupRows) {\n        const hourDt = toDateTime(item.hour);\n        if (!hourDt) continue;\n        const lagHours = (hourDt.getTime() - eventStart.getTime()) / (1000 * 3600);\n        const bucket = lagBucket(lagHours);\n        localBuckets[bucket] += 1;\n        lagDistribution[bucket] += 1;\n    }\n\n    const lagStrength = (\n        (localBuckets['0-6h'] * 1.0) +\n        (localBuckets['6-24h'] * 0.6) +\n        (localBuckets['24-48h'] * 0.3)\n    ) / Math.max(1, groupRows.length);\n\n    const severity = toNumber(groupRows[0] && groupRows[0].avg_severity, 0.0);\n    const eventCount = Math.trunc(toNumber(groupRows[0] && groupRows[0].event_count, 0.0));\n    const activeCount = Math.trunc(toNumber(groupRows[0] && groupRows[0].active_count, 0.0));\n\n    const severityFactor = Math.min(1.0, severity / 3.0);\n    const activityFactor = eventCount ? Math.min(1.0, activeCount / Math.max(1, eventCount)) : 0.0;\n    const anomalyStrength = Math.min(1.0, (Math.abs(powerZ) + Math.abs(dimmingZ)) / 6.0);\n\n    const responseScore =\n        (0.45 * anomalyStrength) +\n        (0.35 * lagStrength) +\n        (0.2 * Math.max(severityFactor, activityFactor));\n\n    const confidence = scoreToConfidence(responseScore);\n\n    const pattern = {\n        event_date: eventDate,\n        zone_id: zoneId,\n        event_type: eventType,\n        event_count: eventCount,\n        avg_severity: round4(severity),\n        active_count: activeCount,\n        hours_analyzed: groupRows.length,\n        lag_bucket_counts: localBuckets,\n        baseline: {\n            power_median: round4(baseline.power_median),\n            dimming_median: round4(baseline.dimming_median),\n        },\n        response: {\n            event_avg_power_w: round4(eventAvgPower),\n            event_avg_dimming_pct: round4(eventAvgDimming),\n            power_shift_pct: round4(percentShift(eventAvgPower, baseline.power_median)),\n            dimming_shift_pct: round4(percentShift(eventAvgDimming, baseline.dimming_median)),\n            power_shift_robust_z: round4(powerZ),\n            dimming_shift_robust_z: round4(dimmingZ),\n        },\n        response_score: round4(responseScore),\n        confidence,\n    };\n    patterns.push(pattern);\n\n    if (confidence === 'high') {\n        highConfidenceLinks.push({\n            event_date: eventDate,\n            zone_id: zoneId,\n            event_type: eventType,\n            response_score: round4(responseScore),\n        });\n    }\n\n    if (!zoneAgg[zoneId]) {\n        zoneAgg[zoneId] = {\n            patterns: 0,\n            high_confidence_patterns: 0,\n            avg_response_score_total: 0,\n        };\n    }\n    zoneAgg[zoneId].patterns += 1;\n    zoneAgg[zoneId].avg_response_score_total += responseScore;\n    if (confidence === 'high') {\n        zoneAgg[zoneId].high_confidence_patterns += 1;\n    }\n}\n\nconst zoneResponseSummary = Object.keys(zoneAgg).sort().map((zoneId) => {\n    const aggregate = zoneAgg[zoneId];\n    const patternsCount = Math.trunc(aggregate.patterns || 0);\n    const avgScore = (aggregate.avg_response_score_total || 0) / Math.max(1, patternsCount);\n    return {\n        zone_id: zoneId,\n        patterns: patternsCount,\n        high_confidence_patterns: Math.trunc(aggregate.high_confidence_patterns || 0),\n        avg_response_score: round4(avgScore),\n    };\n});\n\nconst sortedPatterns = [...patterns].sort((a, b) => {\n    const aKey = `${a.event_date}|${a.zone_id}|${a.event_type}`;\n    const bKey = `${b.event_date}|${b.zone_id}|${b.event_type}`;\n    return aKey.localeCompare(bKey);\n});\nconst sortedHighConfidenceLinks = [...highConfidenceLinks].sort((a, b) => {\n    const aKey = `${a.event_date}|${a.zone_id}|${a.event_type}`;\n    const bKey = `${b.event_date}|${b.zone_id}|${b.event_type}`;\n    return aKey.localeCompare(bKey);\n});\n\nconst hints = [];\nif (sortedPatterns.length > 0) {\n    hints.push('Detected event-to-streetlight response patterns using hybrid baseline and lag analysis.');\n} else {\n    hints.push('No event-to-infrastructure response patterns detected in the selected window.');\n}\nif (sortedHighConfidenceLinks.length > 0) {\n    hints.push('High-confidence links indicate strong and temporally close infrastructure responses.');\n} else {\n    hints.push('No high-confidence links identified; responses are weak or diffuse across lag windows.');\n}\n\nconst confidenceDistribution = { high: 0, medium: 0, low: 0 };\nfor (const pattern of sortedPatterns) {\n    const key = ['high', 'medium', 'low'].includes(String(pattern.confidence || ''))\n        ? String(pattern.confidence)\n        : 'low';\n    confidenceDistribution[key] += 1;\n}\n\nconst context = {\n    window: {\n        start_ts: (req.start_ts || '').replace('.000Z', '+00:00'),\n        end_ts: (req.end_ts || '').replace('.000Z', '+00:00'),\n        timezone,\n        rows_analyzed: rows.length,\n    },\n    event_response_patterns: sortedPatterns,\n    lag_distribution: lagDistribution,\n    zone_response_summary: zoneResponseSummary,\n    high_confidence_links: sortedHighConfidenceLinks,\n    narrative_hints: hints,\n    summary: {\n        total_patterns: sortedPatterns.length,\n        high_confidence_links: sortedHighConfidenceLinks.length,\n        confidence_distribution: confidenceDistribution,\n    },\n};\n\nconst fallbackOutput = {\n    summary: `Fallback insight generated from deterministic analytics context: ${JSON.stringify(context.summary)}`,\n    key_findings: hints.length > 0 ? hints.slice(0, 4) : ['No critical findings were detected for the requested interval.'],\n    recommendations: [\n        'Validate highlighted periods against operational logs and maintenance records.',\n        'Trigger a dashboard refresh once upstream LLM connectivity is restored.'\n    ],\n};\n\nconst cacheEnabled = toBool(env.get('AI_INSIGHT_CACHE__ENABLED'), false);\nconst cachePrefix = env.get('AI_INSIGHT_CACHE__KEY_PREFIX') || 'ai-insight:cache:v1';\nconst cacheKey = [\n    cachePrefix,\n    'city-status',\n    access.agreement_id || 'unknown-agreement',\n    access.asset_id || 'unknown-asset',\n    req.start_ts || '',\n    req.end_ts || '',\n    timezone,\n].join(':');\nconst cacheStore = global.get('aiInsightCityStatusCache') || {};\nconst reqHeaders = (msg.req && msg.req.headers) || {};\nconst rawCacheBypass = String(reqHeaders['x-insight-cache-bypass'] || reqHeaders['x-cache-bypass'] || '').trim().toLowerCase();\nconst cacheBypass = ['1', 'true', 'yes', 'on'].includes(rawCacheBypass);\n\nconst makeSuccessMsg = (result, llmUsed, llmModel, llmError) => {\n    const outputId = makeOutputId();\n    const timestamp = new Date().toISOString();\n    const isDev = ['development', 'dev', 'local'].includes(String(env.get('AI_INSIGHT_SERVICE__ENVIRONMENT') || env.get('FACIS_ENV') || 'development').toLowerCase());\n    msg.statusCode = 200;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = {\n        insight_type: 'city-status',\n        summary: result.summary,\n        key_findings: result.key_findings,\n        recommendations: result.recommendations,\n        metadata: {\n            output_id: outputId,\n            llm_model: llmModel,\n            timestamp,\n            llm_used: llmUsed,\n            agreement_id: access.agreement_id || 'unknown-agreement',\n            asset_id: access.asset_id || 'unknown-asset',\n            llm_error: isDev ? llmError : null,\n        },\n        data: includeData ? context : null,\n    };\n};\n\nif (cacheEnabled && !cacheBypass && cacheStore[cacheKey]) {\n    const cached = cacheStore[cacheKey];\n    makeSuccessMsg(\n        {\n            summary: cached.summary,\n            key_findings: cached.key_findings,\n            recommendations: cached.recommendations,\n        },\n        false,\n        cached.llm_model || 'cached-response',\n        null,\n    );\n    return [msg, null, null];\n}\n\nconst llmUrl = env.get('AI_INSIGHT_LLM__CHAT_COMPLETIONS_URL') || '';\nconst llmApiKey = env.get('AI_INSIGHT_LLM__API_KEY') || '';\nconst llmModel = env.get('AI_INSIGHT_LLM__MODEL') || 'gpt-4.1-mini';\nconst requireHttps = toBool(env.get('AI_INSIGHT_LLM__REQUIRE_HTTPS'), true);\n\nif (rows.length <= 0 || !llmUrl || !llmApiKey || (requireHttps && !String(llmUrl).startsWith('https://'))) {\n    makeSuccessMsg(fallbackOutput, false, 'rule-based-fallback', rows.length <= 0 ? 'LLM skipped due to insufficient data (rows_analyzed=0)' : 'LLM unavailable');\n    return [msg, null, null];\n}\n\nmsg._cityComputed = {\n    context,\n    fallbackOutput,\n    cacheEnabled,\n    cacheKey,\n    llmModel,\n    cacheBypass,\n};\nmsg.method = 'POST';\nmsg.url = llmUrl;\nmsg.headers = {\n    'Authorization': `Bearer ${llmApiKey}`,\n    'Content-Type': 'application/json',\n};\nconst systemPrompt = [\n    'You are an energy and smart-city analytics assistant.',\n    'Insight type: Smart-city event correlation. Focus on event-to-infrastructure response, confidence levels, lag windows, and zone patterns.',\n    'FACIS domain context:\\n- This analysis supports the FACIS demonstrator where simulation-service generates IoT/Smart-City events and related telemetry that are later analyzed in ai-insight-service.\\n- Consider data provenance as simulation-backed unless a field indicates otherwise.\\n- Keep claims aligned with provided context only; do not invent missing measurements or causes.',\n    'Data schema guide:\\n- `window`: `{start_ts, end_ts, timezone, rows_analyzed}` for analysis scope.\\n- `summary`: compact metrics for quick interpretation.\\n- `narrative_hints`: deterministic cues from analytics logic; treat as guidance, not hard facts.\\n- Smart-city context includes `event_response_patterns`, `lag_distribution`, and `high_confidence_links`.',\n    'Return ONLY valid JSON, with no markdown and no prose outside JSON.\\nRequired top-level object keys (exactly these keys):\\n- `summary`: string (2-4 sentences, concise executive overview)\\n- `key_findings`: array of strings (3-6 bullets worth of findings, each one sentence)\\n- `recommendations`: array of strings (2-5 actionable recommendations, each one sentence)\\nConstraints:\\n- Do not include additional top-level keys.\\n- Preserve factual consistency with provided context.\\n- If evidence is insufficient, state uncertainty explicitly in findings/recommendations.'\n].join('\\n\\n');\nconst userPrompt = 'Analyze the following structured context and produce the required JSON output.\\\\nContext JSON:\\\\n' + JSON.stringify(context, null, 2);\n\nmsg.payload = {\n    model: llmModel,\n    temperature: 0.2,\n    messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n    ]\n};\nreturn [null, null, msg];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 120,
    "wires": [
      [],
      [],
      [
        "http_llm_city_request"
      ]
    ]
  },
  {
    "id": "http_llm_city_request",
    "type": "http request",
    "z": "subflow_city_exec",
    "name": "LLM request",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 120,
    "wires": [
      [
        "fn_run_city_exec_finish"
      ]
    ]
  },
  {
    "id": "fn_run_city_exec_finish",
    "type": "function",
    "z": "subflow_city_exec",
    "name": "Finalize city response",
    "func": "const uuidFromMathRandom = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (char) => {\n    const rand = Math.random() * 16 | 0;\n    const value = char === 'x' ? rand : ((rand & 0x3) | 0x8);\n    return value.toString(16);\n});\nconst runtimeCrypto = global.get('crypto');\nconst makeOutputId = () => (runtimeCrypto && typeof runtimeCrypto.randomUUID === 'function') ? runtimeCrypto.randomUUID() : uuidFromMathRandom();\nconst computed = msg._cityComputed || {};\nconst context = computed.context || {};\nconst fallbackOutput = computed.fallbackOutput || {\n    summary: 'Fallback insight generated from deterministic analytics context.',\n    key_findings: ['No critical findings were detected for the requested interval.'],\n    recommendations: ['Trigger a dashboard refresh once upstream LLM connectivity is restored.']\n};\n\nconst access = msg.accessContext || {};\nconst req = msg.cityRequest || {};\nconst includeData = !!req.include_data;\nconst isDev = ['development', 'dev', 'local'].includes(String(env.get('AI_INSIGHT_SERVICE__ENVIRONMENT') || env.get('FACIS_ENV') || 'development').toLowerCase());\n\nlet finalOutput = fallbackOutput;\nlet llmUsed = false;\nlet llmModel = 'rule-based-fallback';\nlet llmError = null;\n\nif (Number(msg.statusCode || 0) >= 200 && Number(msg.statusCode || 0) < 300) {\n    try {\n        const payload = msg.payload || {};\n        const model = payload.model || computed.llmModel || 'unknown-model';\n        const content = payload && payload.choices && payload.choices[0] && payload.choices[0].message && payload.choices[0].message.content;\n        let normalized = String(content).trim();\n        normalized = normalized.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n        const parsed = JSON.parse(normalized);\n        const payloadObj = parsed && (parsed.result || parsed.output || parsed);\n        const summaryCandidate = payloadObj && (payloadObj.summary || payloadObj.overview || payloadObj.summary_text);\n        const findingsCandidate = payloadObj && (payloadObj.key_findings || payloadObj.keyFindings || payloadObj.findings || payloadObj.keyPoints);\n        const recommendationsCandidate = payloadObj && (payloadObj.recommendations || payloadObj.recommendation_list || payloadObj.actions || payloadObj.suggestions);\n\n        const toStringArray = (value) => {\n            if (Array.isArray(value)) return value.map((x) => String(x));\n            if (typeof value === 'string') {\n                return value\n                    .split(/\\n+/)\n                    .map((line) => line.replace(/^[-*\\d.)\\s]+/, '').trim())\n                    .filter(Boolean);\n            }\n            if (value && typeof value === 'object') {\n                if (Array.isArray(value.items)) return value.items.map((x) => String(x));\n                if (Array.isArray(value.points)) return value.points.map((x) => String(x));\n                if (Array.isArray(value.list)) return value.list.map((x) => String(x));\n            }\n            return [];\n        };\n\n        const findings = toStringArray(findingsCandidate);\n        const recommendations = toStringArray(recommendationsCandidate);\n        if (!summaryCandidate || findings.length === 0 || recommendations.length === 0) {\n            throw new Error('LLM output does not match expected schema: ' + JSON.stringify(parsed).slice(0, 240));\n        }\n\n        finalOutput = {\n            summary: String(summaryCandidate),\n            key_findings: findings,\n            recommendations,\n        };\n        llmUsed = true;\n        llmModel = String(model);\n    } catch (error) {\n        llmError = String(error && error.message ? error.message : error);\n    }\n} else {\n    llmError = 'LLM request failed with status ' + String(msg.statusCode || 'unknown');\n}\n\nif (computed.cacheEnabled && llmUsed && !computed.cacheBypass) {\n    const cacheStore = global.get('aiInsightCityStatusCache') || {};\n    cacheStore[computed.cacheKey] = {\n        summary: finalOutput.summary,\n        key_findings: finalOutput.key_findings,\n        recommendations: finalOutput.recommendations,\n        llm_model: llmModel,\n        cached_at: new Date().toISOString(),\n    };\n    global.set('aiInsightCityStatusCache', cacheStore);\n}\n\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    insight_type: 'city-status',\n    summary: finalOutput.summary,\n    key_findings: finalOutput.key_findings,\n    recommendations: finalOutput.recommendations,\n    metadata: {\n        output_id: makeOutputId(),\n        llm_model: llmModel,\n        timestamp: new Date().toISOString(),\n        llm_used: llmUsed,\n        agreement_id: access.agreement_id || 'unknown-agreement',\n        asset_id: access.asset_id || 'unknown-asset',\n        llm_error: isDev ? llmError : null,\n    },\n    data: includeData ? context : null,\n};\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 120,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "http_in_city_status_v1",
    "type": "http in",
    "z": "tab_ai_insight_city_status",
    "name": "POST /api/v1/insights/city-status",
    "url": "/api/v1/insights/city-status",
    "method": "post",
    "upload": false,
    "swaggerDoc": {
      "summary": "Generate city-status insight",
      "description": "Produces smart-city event correlation insight."
    },
    "x": 220,
    "y": 120,
    "wires": [
      [
        "fn_validate_city_request"
      ]
    ]
  },
  {
    "id": "fn_validate_city_request",
    "type": "function",
    "z": "tab_ai_insight_city_status",
    "name": "ValidateCityStatusRequest",
    "func": "let asObj = msg.payload || {};\ntry {\n    asObj = typeof asObj === 'string' ? JSON.parse(asObj) : asObj;\n} catch (_) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Request body must be valid JSON' };\n    return [null, msg];\n}\n\nif (!asObj || typeof asObj !== 'object') {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'Request body must be a JSON object' };\n    return [null, msg];\n}\n\nconst startTs = new Date(asObj.start_ts);\nconst endTs = new Date(asObj.end_ts);\nif (Number.isNaN(startTs.getTime()) || Number.isNaN(endTs.getTime())) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'start_ts and end_ts must be valid timestamps' };\n    return [null, msg];\n}\nif (startTs >= endTs) {\n    msg.statusCode = 400;\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { detail: 'start_ts must be earlier than end_ts' };\n    return [null, msg];\n}\n\nmsg.cityRequest = {\n    start_ts: startTs.toISOString(),\n    end_ts: endTs.toISOString(),\n    timezone: typeof asObj.timezone === 'string' && asObj.timezone ? asObj.timezone : 'UTC',\n    include_data: !!asObj.include_data,\n};\n\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 120,
    "wires": [
      [
        "fn_policy_rate_limit_city"
      ],
      [
        "http_resp_city_400_json"
      ]
    ]
  },
  {
    "id": "fn_policy_rate_limit_city",
    "type": "function",
    "z": "tab_ai_insight_city_status",
    "name": "PolicyAndRateLimit",
    "func": "const toBool = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    const lowered = String(value).trim().toLowerCase();\n    if (['true', '1', 'yes', 'on'].includes(lowered)) return true;\n    if (['false', '0', 'no', 'off'].includes(lowered)) return false;\n    return fallback;\n};\n\nconst parseList = (value, fallback) => {\n    if (value === undefined || value === null || value === '') return fallback;\n    try {\n        const parsed = JSON.parse(value);\n        if (Array.isArray(parsed)) return parsed.map((item) => String(item));\n    } catch (_) {\n        // ignore\n    }\n    return fallback;\n};\n\nconst headers = (msg.req && msg.req.headers) || {};\nconst pickHeader = (name) => headers[String(name || '').toLowerCase()];\n\nconst policyEnabled = toBool(env.get('AI_INSIGHT_POLICY__ENABLED'), true);\nconst agreementHeader = env.get('AI_INSIGHT_POLICY__AGREEMENT_HEADER') || 'x-agreement-id';\nconst assetHeader = env.get('AI_INSIGHT_POLICY__ASSET_HEADER') || 'x-asset-id';\nconst roleHeader = env.get('AI_INSIGHT_POLICY__ROLE_HEADER') || 'x-user-roles';\nconst requiredRoles = parseList(env.get('AI_INSIGHT_POLICY__REQUIRED_ROLES'), ['ai_insight_consumer']);\nconst allowedAgreements = parseList(env.get('AI_INSIGHT_POLICY__ALLOWED_AGREEMENT_IDS'), []);\nconst allowedAssets = parseList(env.get('AI_INSIGHT_POLICY__ALLOWED_ASSET_IDS'), []);\n\nconst agreementId = String(pickHeader(agreementHeader) || '').trim();\nconst assetId = String(pickHeader(assetHeader) || '').trim();\nconst rawRoles = String(pickHeader(roleHeader) || '').trim();\nconst roles = rawRoles ? rawRoles.split(',').map((item) => item.trim()).filter(Boolean) : [];\n\nif (policyEnabled) {\n    if (!agreementId || !assetId || roles.length === 0) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Missing required governance headers' };\n        return [null, msg, null];\n    }\n\n    const missingRole = requiredRoles.find((role) => !roles.includes(role));\n    if (missingRole) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Policy denied: missing required role ' + missingRole };\n        return [null, msg, null];\n    }\n\n    if (allowedAgreements.length > 0 && !allowedAgreements.includes(agreementId)) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Policy denied for agreement_id' };\n        return [null, msg, null];\n    }\n\n    if (allowedAssets.length > 0 && !allowedAssets.includes(assetId)) {\n        msg.statusCode = 403;\n        msg.headers = { 'Content-Type': 'application/json' };\n        msg.payload = { detail: 'Policy denied for asset_id' };\n        return [null, msg, null];\n    }\n}\n\nconst rateLimitEnabled = toBool(env.get('AI_INSIGHT_RATE_LIMIT__ENABLED'), true);\nconst rpm = Math.max(1, Number(env.get('AI_INSIGHT_RATE_LIMIT__REQUESTS_PER_MINUTE') || 10));\nconst limiterAgreement = agreementId || 'anonymous';\n\nif (rateLimitEnabled) {\n    const bucketKey = 'aiInsightRateLimitBuckets';\n    const buckets = global.get(bucketKey) || {};\n    const now = Date.now();\n    const windowMs = 60 * 1000;\n    let bucket = buckets[limiterAgreement];\n    if (!bucket || now - bucket.windowStart >= windowMs) {\n        bucket = { windowStart: now, count: 0 };\n    }\n    if (bucket.count >= rpm) {\n        const retryAfter = Math.max(1, Math.ceil((bucket.windowStart + windowMs - now) / 1000));\n        msg.statusCode = 429;\n        msg.headers = {\n            'Content-Type': 'application/json',\n            'Retry-After': String(retryAfter),\n        };\n        msg.payload = { detail: 'Agreement rate limit exceeded' };\n        buckets[limiterAgreement] = bucket;\n        global.set(bucketKey, buckets);\n        return [null, null, msg];\n    }\n    bucket.count += 1;\n    buckets[limiterAgreement] = bucket;\n    global.set(bucketKey, buckets);\n}\n\nmsg.accessContext = {\n    agreement_id: agreementId || 'unknown-agreement',\n    asset_id: assetId || 'unknown-asset',\n    roles,\n};\n\nreturn [msg, null, null];\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 120,
    "wires": [
      [
        "node_get_trino_token_city"
      ],
      [
        "http_resp_city_403_json"
      ],
      [
        "http_resp_city_429_json"
      ]
    ]
  },
  {
    "id": "node_get_trino_token_city",
    "type": "subflow:subflow_trino_token",
    "z": "tab_ai_insight_city_status",
    "name": "GetTrinoToken",
    "x": 1420,
    "y": 120,
    "wires": [
      [
        "node_run_trino_query_city"
      ],
      [
        "fn_city_502_once"
      ]
    ]
  },
  {
    "id": "node_run_trino_query_city",
    "type": "subflow:subflow_trino_query_city",
    "z": "tab_ai_insight_city_status",
    "name": "RunTrinoQueryCity",
    "x": 1820,
    "y": 120,
    "wires": [
      [
        "node_run_city_exec"
      ],
      [
        "fn_city_502_once"
      ]
    ]
  },
  {
    "id": "node_run_city_exec",
    "type": "subflow:subflow_city_exec",
    "z": "tab_ai_insight_city_status",
    "name": "RunCityStatusSubflow",
    "x": 2220,
    "y": 120,
    "wires": [
      [
        "fn_store_latest_city"
      ],
      [
        "fn_city_502_once"
      ]
    ]
  },
  {
    "id": "fn_store_latest_city",
    "type": "function",
    "z": "tab_ai_insight_city_status",
    "name": "StoreLatestCity",
    "func": "const latest = global.get('aiInsightLatestOutputs') || {};\nconst outputsById = global.get('aiInsightOutputsById') || {};\nif (msg && msg.payload && msg.payload.metadata) {\n    const snapshot = JSON.parse(JSON.stringify(msg.payload));\n    const metadata = snapshot.metadata || {};\n    const outputId = String(metadata.output_id || '').trim();\n\n    latest['city-status'] = {\n        cached_at: metadata.timestamp || new Date().toISOString(),\n        output: snapshot,\n    };\n    global.set('aiInsightLatestOutputs', latest);\n\n    const fallbackText = [\n        String(snapshot.summary || ''),\n        ...((Array.isArray(snapshot.key_findings) ? snapshot.key_findings : []).map((item) => '- ' + String(item))),\n        ...((Array.isArray(snapshot.recommendations) ? snapshot.recommendations : []).map((item) => '- ' + String(item))),\n    ].filter((line) => String(line).trim().length > 0).join('\\n');\n\n    if (outputId) {\n        outputsById[outputId] = {\n            id: outputId,\n            insight_type: 'city-status',\n            agreement_id: String(metadata.agreement_id || 'unknown-agreement'),\n            asset_id: String(metadata.asset_id || 'unknown-asset'),\n            input_data: JSON.parse(JSON.stringify(msg.cityRequest || {})),\n            llm_model: String(metadata.llm_model || 'rule-based-fallback'),\n            output_text: (typeof msg._llmRawText === 'string' && msg._llmRawText.trim()) ? msg._llmRawText.trim() : fallbackText,\n            structured_output: {\n                summary: String(snapshot.summary || ''),\n                key_findings: Array.isArray(snapshot.key_findings) ? snapshot.key_findings.map((item) => String(item)) : [],\n                recommendations: Array.isArray(snapshot.recommendations) ? snapshot.recommendations.map((item) => String(item)) : [],\n            },\n            timestamp: String(metadata.timestamp || new Date().toISOString()),\n        };\n        global.set('aiInsightOutputsById', outputsById);\n    }\n}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2400,
    "y": 120,
    "wires": [
      [
        "http_resp_city_200_json"
      ]
    ]
  },
  {
    "id": "fn_city_502_once",
    "type": "function",
    "z": "tab_ai_insight_city_status",
    "name": "Guard502SingleResponse",
    "func": "if (msg._cityResponseDispatched) {\n    return null;\n}\nmsg._cityResponseDispatched = true;\n\nconst detail = (msg.payload && msg.payload.detail)\n    ? String(msg.payload.detail)\n    : 'Upstream dependency failure while generating insight';\n\nmsg.statusCode = 502;\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    detail\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2220,
    "y": 340,
    "wires": [
      [
        "http_resp_city_502_json"
      ]
    ]
  },
  {
    "id": "http_resp_city_200_json",
    "type": "http response",
    "z": "tab_ai_insight_city_status",
    "name": "City 200 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 2580,
    "y": 120,
    "wires": []
  },
  {
    "id": "http_resp_city_400_json",
    "type": "http response",
    "z": "tab_ai_insight_city_status",
    "name": "City 400 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 620,
    "y": 280,
    "wires": []
  },
  {
    "id": "http_resp_city_403_json",
    "type": "http response",
    "z": "tab_ai_insight_city_status",
    "name": "City 403 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 1020,
    "y": 280,
    "wires": []
  },
  {
    "id": "http_resp_city_429_json",
    "type": "http response",
    "z": "tab_ai_insight_city_status",
    "name": "City 429 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 1020,
    "y": 390,
    "wires": []
  },
  {
    "id": "http_resp_city_502_json",
    "type": "http response",
    "z": "tab_ai_insight_city_status",
    "name": "City 502 JSON",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 2580,
    "y": 340,
    "wires": []
  },
  {
    "id": "catch_city_errors",
    "type": "catch",
    "z": "tab_ai_insight_city_status",
    "name": "CatchCityErrors",
    "scope": [
      "fn_validate_city_request",
      "fn_policy_rate_limit_city",
      "node_get_trino_token_city",
      "node_run_trino_query_city",
      "node_run_city_exec"
    ],
    "uncaught": false,
    "x": 220,
    "y": 620,
    "wires": [
      [
        "fn_city_uncaught"
      ]
    ]
  },
  {
    "id": "fn_city_uncaught",
    "type": "function",
    "z": "tab_ai_insight_city_status",
    "name": "BuildCityUncaughtError",
    "func": "const sourceId = msg.error && msg.error.source && msg.error.source.id;\nif (sourceId === 'http_resp_city_502_json') {\n    return null;\n}\n\nif (!msg.res) {\n    return null;\n}\n\nconst alreadySent = !!(msg.res.headersSent || (msg.res._res && (msg.res._res.headersSent || msg.res._res.writableEnded)));\nif (alreadySent) {\n    return null;\n}\n\nmsg.statusCode = 502;\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    detail: 'Upstream dependency failure while generating insight'\n};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 620,
    "wires": [
      [
        "http_resp_city_502_json",
        "debug_city_error"
      ]
    ]
  },
  {
    "id": "debug_city_error",
    "type": "debug",
    "z": "tab_ai_insight_city_status",
    "name": "City error debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1020,
    "y": 620,
    "wires": []
  }
]
